{% extends 'admin/base.html' %}
{% load static %}
    {% block extrahead %}
        <link rel="apple-touch-icon" sizes="180x180" href="{% static 'tosti/favicon/apple-touch-icon.png' %}">
        <link rel="icon" type="image/png" sizes="32x32" href="{% static 'tosti/favicon/favicon-32x32.png' %}">
        <link rel="icon" type="image/png" sizes="16x16" href="{% static 'tosti/favicon/favicon-16x16.png' %}">
        <link rel="manifest" href="{% static 'tosti/favicon/site.webmanifest' %}">
        <meta name="msapplication-TileColor" content="#d9a75d">
        <meta name="theme-color" content="#ff0000">
    {% endblock %}
