{% extends 'tosti/base.html' %}
{% load static players %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'status_screen/css/music-screen.css' %}"/>
    <link rel="stylesheet" href="{% static 'thaliedje/css/player.css' %}"/>
{% endblock %}

{% block header %}
    <nav class="navbar navbar-expand-lg site-header sticky-top navbar-dark">
        <div class="container">
            <div class="d-block d-lg-none">
                <a class="navbar-brand drop-out-header-mobile" href="/"><img
                        src="{% static 'tosti/svg/TOSTI-logo.svg' %}" height="80"/></a>
            </div>
            <div class="mx-auto position-relative d-lg-block d-none" style="margin-top: -68px">
                <a class="navbar-brand drop-out-header" href="/"><img
                        src="{% static 'tosti/svg/TOSTI-logo.svg' %}"
                        height="120"/>
                </a>
            </div>
        </div>
    </nav>
{% endblock %}

{% block page %}
    <div id="music-screen-container"></div>

    <div class="player-container w-75 mt-5 m-auto display-5">
        <h1 class="mt-5">Currently playing:</h1>
        {% render_player player %}
    </div>
{% endblock %}

{% block footer %}

{% endblock %}

{% block js %}
    <script>
        const MUSIC_SCREEN_CONTAINER_ID = "music-screen-container";

        const musicScreenApp = createApp({
            delimiters: ['${', '}$'],
            data() {
                return {
                    refresh_timer: null,
                    lastRefresh: null,
                    refreshing: false,
                }
            },
            created() {
                this.refresh();
                document.addEventListener("visibilitychange", this.visibilityChange);
            },
            unmounted() {
                document.removeEventListener("visibilitychange", this.visibilityChange);
            },
            methods: {
                visibilityChange(event) {
                    if (event.target.hidden) {
                        clearTimeout(this.refresh_timer);
                    } else {
                        clearTimeout(this.refresh_timer);
                        if (this.lastRefresh === null || (new Date()).getTime() - this.lastRefresh > 5000) {
                            this.refresh();
                        } else {
                            this.refresh_timer = setTimeout(this.refresh, 5000);
                        }
                    }
                },
                refresh() {
                    if (this.refreshing) {
                        return;
                    }
    
                    clearTimeout(this.refresh_timer);
                    this.refreshing = true;
                    return fetch(
                        "{% url 'v1:ordervenues_activeshift' order_venue=order_venue %}",
                        {
                            method: 'GET',
                            headers: {
                                "X-CSRFToken": get_csrf_token(),
                                "Accept": 'application/json',
                            }
                        }
                    ).then(response => {
                        /* We want to change the page to the shift page again when the shift becomes active
                           So if the response on the active shift api call is 200 we reload the page
                        */
                        if (response.status === 200) {  
                            location.reload();
                        }
                    })
                    .catch(error => {
                        console.log(error);
                    })
                    .finally(() => {
                        this.lastRefresh = (new Date()).getTime();
                        this.refreshing = false;
                        this.refresh_timer = setTimeout(this.refresh, 5000);
                    });
                }
            }
        }).mount(`#${MUSIC_SCREEN_CONTAINER_ID}`);
    </script>
{% endblock %}