{% extends 'tosti/base.html' %}
{% load static %}

{% block page %}
    <div class="container-sm">
        <h1 class="mb-3"><i class="fas fa-music"></i> Marietje</h1>
        <p class="text-left">Marietje is the music control system for the student canteens in the Huygens building.
        Marietje was first using a database of songs uploaded by students but is now running off of the Spotify API.
        Select a venue below to add music to the playlist.</p>
        {% for venue in venues %}
            {% if venue.has_player %}
                <a href="{% url 'marietje:now_playing' venue=venue %}">Go to {{ venue }}</a>
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}