{% extends 'tosti/base.html' %}
{% load static marietje %}

{% block page %}
    <div class="container-sm">
        <h1 class="mb-3"><i class="fab fa-spotify"></i> Marietje</h1>
        <p class="my-1">Marietje is the music control system for the student canteens in the Huygens building.</p>
        <p class="mt-1 mb-5">You can add songs to the queue of the canteens by selecting a canteen below and adding your song.</p>
        <div class="card-deck justify-content-center">
            {% render_players %}
        </div>
    </div>
{% endblock %}