{% load static %}
<link rel="stylesheet" href="{% static 'marietje/css/search.css' %}"/>
<h2>Requested songs</h2>
<p style="font-size: 1rem;">The most recently requested songs are displayed here.</p>
<div id="queue-container-{{ player.id }}">
    <template v-if="queue.length > 0">
        <div class="d-flex my-2">
            <div class="flex-equal-width">Track</div>
            <div class="flex-equal-width">Artists</div>
            <div class="flex-equal-width">Requested by</div>
            <div class="flex-equal-width">Added at</div>
        </div>
        <div class="border"></div>
        <template v-for="item in queue">
            <div class="d-flex my-2">
                <div class="flex-equal-width"><% item.track.track_name %></div>
                <div class="flex-equal-width">
                    <template v-for="(artist, index) in item.track.track_artists">
                        <% artist %><template v-if="index !== item.track.track_artists.length - 1">, </template>
                    </template>
                </div>
                <div class="flex-equal-width"><% item.requested_by.username %></div>
                <div class="flex-equal-width"><% item.added %></div>
            </div>
            <div class="border"></div>
        </template>
    </template>
    <template v-else>
        <p class="alert alert-warning">There are no requested songs</p>
    </template>
</div>

<script>
    let player_{{ player.id }}_queue_vue = new Vue({
        el: '#queue-container-{{ player.id }}',
        delimiters: ['<%', '%>'],
        data: {
            queue: []
        },
        created() {
            fetch('{% url "v1:player_queue" player=player %}')
            .then(response => response.json())
            .then(json => {
                this.queue = json.results;
            });
        }
    });
    add_update_list(get_and_callback, ["{% url 'v1:player_queue' player=player %}", {}, function (data) { player_{{ player.id }}_queue_vue.queue = data.results}]);
</script>