{% load static %}

{% if not refresh %}
    <link rel="stylesheet" href="{% static 'marietje/css/search.css' %}"/>
    <div id="search-message" class="alert"></div>
    <input id="search" type="text" maxlength="100" placeholder="Search a track" class="container-fluid"/>
    <div id="results" style="display: none">
{% endif %}
<div class="d-flex flex-column">
    {% if tracks %}
        {% for track in tracks %}
            <div class="d-flex my-2">
                <div class="flex-equal-width">{{ track.name }}</div>
                <div class="flex-equal-width">{{ track.artists|join:", " }}</div>
                <input type="button" value="Add" class="btn btn-primary" style="height: 40px" onclick="add_to_queue('{{ track.id }}', display_message);"/>
            </div>
            <div class="border"></div>
        {% endfor %}
    {% endif %}
</div>
{% if not refresh %}
    </div>
{% endif %}

{% if not refresh %}
    <script>
        const QUERY_FIELD = document.getElementById('search');
        const RESULT_FIELD = document.getElementById('results');
        const SEARCH_URL = "{% url "marietje:player_search" spotify=spotify %}";
        const ADD_URL = "{% url "marietje:player_add" spotify=spotify %}";
        const MESSAGE_FIELD = document.getElementById('search-message');
    </script>
    <script src="{% static 'marietje/js/asynch-search.js' %}"></script>
{% endif %}