---
version: '3.5'

services:
    tosti-nginx:
        container_name: 'tosti_nginx'
        image: nginx:latest
        ports:
            - '80:80'
        restart: 'always'
        volumes:
            - './media/:/tosti/media/'
            - './static/:/tosti/static/'
            - './nginx/conf.d:/etc/nginx/conf.d'
            - './nginx/nginx.conf:/etc/nginx/nginx.conf'
        networks:
          - backend-django-tosti
    tosti-postgres:
        container_name: 'tosti_postgres'
        image: 'postgres:11.5'
        restart: 'always'
        volumes:
            - './database/:/var/lib/postgresql/data/'
            - './database_init/:/docker-entrypoint-initdb.d/'
        environment:
            PGDATA: '/var/lib/postgresql/data/pgdata'
        networks:
          - backend-django-tosti

    tosti-django:
        image: "larsvanrhijn/tosti:latest"
        restart: 'always'
        container_name: tosti_django
        depends_on:
          - 'tosti-nginx'
          - 'tosti-postgres'
        expose:
            - '8000'
        volumes:
            - './static:/tosti/src/website/static/'
            - './media:/tosti/src/website/media/'
            - './log/:/tosti/log/'
        environment:
            DJANGO_SECRET_KEY: '[django_secret_key]'
            POSTGRES_HOST: 'tosti_postgres'
            POSTGRES_NAME: 'django'
            POSTGRES_USER: 'django'
            POSTGRES_PASSWORD: '[postgres_password]'
            VIRTUAL_HOST: '[hostname]'
            VIRTUAL_PROTO: 'uwsgi'
        
        networks:
        - backend-django-tosti

networks:
  backend-django-tosti:
    driver: bridge
