[tool.poetry]
name = "tosti"
version = "0.1.0"
description = "Tartarus Order System for Take-away Items"
authors = ["Tartarus WWWcie <www-tartarus@science.ru.nl>"]
license = "MIT"

[tool.poetry.dependencies]
python = "^3.7"
django = "^3.0.5"
pydocstyle = "^5.0.2"
black = "^19.10b0"
flake8 = "^3.7.9"
Pillow = "^7.1.2"
django-admin-autocomplete-filter = "^0.5"
django-import-export = "^2.0.2"
requests = "^2.23.0"
uwsgi = "^2.0.18"
psycopg2-binary = "^2.8.5"
spotipy = "^2.12.0"
coverage = "^5.1"
django-guardian = "^2.3.0"

[tool.poetry.dev-dependencies]

[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"
