[tool.poetry]
name = "tosti"
version = "0.1.0"
description = "Tartarus Order System for Take-away Items"
authors = ["Job Doesburg <job.doesburg@gmail.com>", "Lars van Rhijn <larsvanrhijn@gmail.com>"]
license = "MIT"

[tool.poetry.dependencies]
python = "^3.10"
django = "^3.2.12"
Pillow = "^9.0.0"
django-admin-autocomplete-filter = "^0.5"
django-import-export = "^2.0.2"
requests = "^2.23.0"
uwsgi = "^2.0.18"
psycopg2-binary = "^2.8.5"
spotipy = "^2.12.0"
coverage = "^5.1"
django-guardian = "^2.3.0"
djangorestframework = "^3.12.2"
django-oauth-toolkit = "^1.3.3"
django-cors-headers = "^3.6.0"
uritemplate = "^3.0.1"
django-saml-sp = "^0.4.1"
django-autocompletefilter = "^0.0.8"
django-bootstrap5 = "^21.3"
sentry-sdk = "^1.5.7"
django-filter = "^21.1"
freezegun = "^1.2.1"

[tool.poetry.dev-dependencies]
pydocstyle = "^5.0.2"
black = "^21.7b0"
flake8 = "^3.7.9"

[tool.black]
line-length = 119
target-version = ["py310"]
exclude = '''
/(
  migrations
  | website/tosti/settings
)/
'''

[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"
