[tool.poetry]
name = "tosti"
version = "0.1.0"
description = "Tartarus Order System for Take-away Items"
authors = ["Tartarus WWWcie <www-tartarus@science.ru.nl>"]
license = "MIT"

[tool.poetry.dependencies]
python = "^3.7"
django = "^3.0.5"
Pillow = "^8.3.2"
django-admin-autocomplete-filter = "^0.5"
django-import-export = "^2.0.2"
requests = "^2.23.0"
uwsgi = "^2.0.18"
psycopg2-binary = "^2.8.5"
spotipy = "^2.12.0"
coverage = "^5.1"
sphinx = "^3.1.2"
recommonmark = "^0.6.0"
sphinx_rtd_theme = "^0.5.0"
django-guardian = "^2.3.0"
djangorestframework = "^3.12.2"
django-oauth-toolkit = "^1.3.3"
django-cors-headers = "^3.6.0"
uritemplate = "^3.0.1"
django-filter = "^21.1"

[tool.poetry.dev-dependencies]
pydocstyle = "^5.0.2"
black = "^21.7b0"
flake8 = "^3.7.9"

[tool.black]
line-length = 119
target-version = ["py37"]
exclude = '''
/(
  migrations
  | website/tosti/settings
)/
'''

[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"
