{% load bleach_tags %}

{% for announcement in announcements %}
    <div class="announcement" id="announcement-{{ announcement.id }}">
        <i class="fas fa-{{ announcement.icon }} me-3"></i> {{ announcement.content|bleach }}
        <button type="button" class="btn-close ms-3" aria-label="Close"
                data-announcement-id="{{ announcement.pk }}" onclick="close_announcement({{ announcement.id }})"></button>
    </div>
{% endfor %}

{% for announcement in app_announcements %}
    <div class="announcement">
        {{ announcement|bleach }}
    </div>
{% endfor %}