.calendar-wrapper {
    margin-bottom: 50px;
    margin-top: 50px;
}

.calendar-wrapper a {
    color: var(--text-color);
}

.fc .fc-list-event:hover td {
    background-color: var(--background-shade);
}

.calendar-wrapper .fc-list-day-cushion {
    background-color: var(--background-shade-light);
}