{% extends 'tosti/base.html' %}
{% load static %}

{% block page %}
    <div class="container mt-5">
        <div class="calendar-wrapper pb-5">
            <div id="calendar-all"></div>
        </div>
    </div>
{% endblock %}
{% block footer %}
    <footer class="page-footer navbar navbar-expand-md mt-auto footer">
        <div class="container text-center">
            <div class="row flex-grow-1">
                {% for button in buttons %}
                    <div class="col">
                        <a href="{{ button.href }}">
                            <div class="btn-ml m-auto cursor-pointer btn-on">
                                <p class="font-footer">{{ button.name }}</p>
                            </div>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </footer>
{% endblock %}

{% block styles %}
    <link href='https://cdn.jsdelivr.net/npm/fullcalendar@5.9.0/main.min.css' rel='stylesheet' />
    <link href='{% static 'venues/css/calendar.css' %}' rel='stylesheet' />
{% endblock %}

{% block js %}
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.9.0/main.min.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            let calendarEl = document.getElementById('calendar-all');
            let now = new Date();
            let yearOffset = (24*60*60*1000) * 365; // 365 days
            let yearInThePast = now.getTime() - yearOffset;
            let yearInTheFuture = now.getTime() + yearOffset;
            let yearInThePastDate = new Date(yearInThePast);
            let yearInTheFutureDate = new Date(yearInTheFuture);
            fetch('{% url 'v1:reservations_list' %}' + `?start__gte=${yearInThePastDate.toISOString()}&start__lte=${yearInTheFutureDate.toISOString()}`).then((response) => response.json()).then((data) => {
                let calendar = new FullCalendar.Calendar(calendarEl, {
                    headerToolbar: {
                        left: 'dayGridMonth,timeGridWeek,timeGridDay,listWeek',
                        center: 'title',
                        right: 'prev,next today'
                    },
                    initialView: window.innerWidth < 767 ? 'timeGridDay':'timeGridWeek',
                    weekNumbers: true,
                    weekends: true,
                    firstDay: 1,
                    slotLabelFormat: {
                        hour: '2-digit',
                        minute: '2-digit',
                        hour12: false,
                    },
                    slotMinTime: "08:00:00",
                    slotMaxTime: "21:30:00",
                    scrollTime: "16:00:00",
                    slotDuration: '00:30:00',
                    eventTimeFormat: {
                        hour: '2-digit',
                        minute: '2-digit',
                        hour12: false,
                    },
                    slotEventOverlap: false,
                    height: 600,
                    contentHeight: "100%",
                    timeZone: 'local',
                    allDaySlot: false,
                    nowIndicator: true,
                    editable: false,
                    droppable: false,
                    displayEventEnd: true,
                    events: data.map((reservation) => {return {'start': reservation.start, 'end': reservation.end,
                        'title': (reservation.title ?
                            `${reservation.title} - ${reservation.venue.name}` :
                            `${reservation.venue.name}`) + (reservation.association ? ` (reserved by ${reservation.association.name})` : ""), 'backgroundColor': `${reservation.venue.color_in_calendar}`}})
                });
                calendar.render();
            }).catch((exception) => {
                alert("An error occurred while getting calendar data. Please reload this page.");
            });
        });
    </script>
{% endblock %}