{% extends 'tosti/base.html' %}

{% block page %}
    <div class="container mt-5 mb-5 text-center">
        <h1>Your venue reservations</h1>
    </div>
    <div class="container">
        {% if messages %}
            {% for message in messages %}
                <p class="alert {{ message.tags }}">{{ message }}</p>
            {% endfor %}
        {% endif %}
        {% if object_list %}
            <table class="table table-responsive w-100">
                <thead>
                <tr>
                    <th scope="col">Title</th>
                    <th scope="col">Start</th>
                    <th scope="col">End</th>
                    <th scope="col">Accepted</th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                {% for reservation in object_list reversed %}
                    <tr>
                        <th scope="row">{{ reservation.title }}</th>
                        <td>{{ reservation.start }}</td>
                        <td>{{ reservation.end|default_if_none:"" }}</td>
                        <td>{{ reservation.accepted|yesno:"Accepted,Declined,Pending" }}</td>
                        <td></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>You do not have any reservations</p>
        {% endif %}
    </div>
    <footer class="page-footer navbar navbar-expand-md fixed-bottom">
        <div class="container text-center">
            <div class="row flex-grow-1">
                <div class="col">
                    <a href="{% url 'venues:add_reservation' %}">
                        <div class="btn-ml m-auto cursor-pointer btn-on">
                            <p class="font-footer">Add venue reservation</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </footer>
{% endblock %}