{% extends 'tosti/base.html' %}
{% load django_bootstrap5 %}

{% block page %}
    <div class="container my-5 text-center">
        <h1>Update reservation</h1>
    </div>
    <div class="container mb-5">
        <div class="row justify-content-center">
            <form method="post" class="col-12 col-md-8 col-md-offset-2">
                {% bootstrap_messages %}
                {% csrf_token %}
                {% bootstrap_form form %}
                {% if object.can_be_changed %}
                    {% bootstrap_button button_type="submit" content="Update reservation" size="lg" extra_classes="mt-4 mb-2 w-100" %}
                    {% bootstrap_button button_type="link" href="" content="Cancel reservation" button_class="btn-danger" extra_classes="mb-3 w-100" %}
                {% endif %}
                {% include "venues/includes/share_reservation.html" %}
            </form>
        </div>
    </div>
{% endblock %}