{% extends 'tosti/base.html' %}
{% load django_bootstrap5 %}

{% block page %}
    <div class="container mt-5 mb-5 text-center">
        <h1>Reserve a venue</h1>
    </div>
    <div class="container mb-5">
        <div class="row justify-content-center">
            <form method="post" class="col-8 col-sm-offset-2">
                {% bootstrap_messages %}
                {% csrf_token %}
                {% bootstrap_form form %}
                {% bootstrap_button button_type="submit" content="Place reservation" extra_classes="mt-4 w-100" %}
            </form>
        </div>
    </div>
{% endblock %}