.page-footer .btn {
    border-radius: 0;
}

.font-footer {
    font-size: 1rem;
}

.offcanvas-bottom {
    height: 60vh;
}

@media screen and (max-width: 992px) {
    .footer-button-text {
        display: none;
    }
}

@media screen and (max-width: 767px) {
    .footer-button-text {
        display: block;
    }

    .expand-mobile {
        flex-basis: unset;
        flex-grow: 0;
        width: 100%;
        margin-bottom: 10px;
    }

    .expand-mobile div {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .expand-mobile div p.font-footer {
        flex-grow: 0;
        width: auto;
    }

    .expand-mobile div p.footer-button-icon {
        margin-right: 5px;
    }
}