
.item-orders {
    width: 100%;
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding: 0;
    flex-direction: column;
}

.item-list {
    display: flex;
    flex-direction: row;
    padding: 5px;
}

.item-counter {
    margin-right: 10px;
}

.item-list p {
    margin-top: 0;
    margin-bottom: 0;
}

.item-list svg {
    margin: 5px;
}

.item-username {
}

.information-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-right: auto;
}

.button-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.status-button {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    padding: 0.375rem 0.75rem;
    border-radius: 0.25rem;
}

.cursor-pointer:hover {
    cursor: pointer;
}

@media screen and (max-width: 600px) {
    .item-list {
        flex-direction: column;
    }

    .button-row input {
        flex-grow: 1;
    }

    .status-button {
        flex-grow: 1;
    }
}