{% load static django_bootstrap5 %}

<div class="row justify-content-center">
    <div class="col-12 col-lg-6">
        <h2>Transactions</h2>
        <p>Open an account at TOSTI to make and receive transactions.</p>
        <p>
            You will be able to increase the balance of your account by, for example, handing in deposit.
            You can spend your balance by, for example, buying something during a shift.<br>
            Note that we do <strong>not support refunds</strong>. You are <strong>not able</strong> to receive money back from your account in the form of cash.
        </p>
        <div class="d-flex flex-column justify-content-center align-items-center">
            <form method="POST">
                {% csrf_token %}
                <input name="active" type="hidden" value="transactions"/>
                {% bootstrap_button button_type="submit" content="I understand! Open an account for me!" extra_classes="w-100" %}
            </form>
        </div>
    </div>
</div>