# Secrets
DJANGO_SECRET_KEY=secret
POSTGRES_PASSWORD=tosti
YIVI_TOKEN=test-yivi-token-1234
SENTRY_DSN=https://xxxxxxx.ingest.sentry.io/xxxxxxx

# Non-secret config (varies per deployment)
DJANGO_HOSTNAME=tosti.science.ru.nl
YIVI_HOSTNAME=yivi.tosti.science.ru.nl
DEPLOY_HOST=tosti.vm.science.ru.nl
DJANGO_ALLOWED_HOSTS=tosti.science.ru.nl
SAML_ENTITY_ID=tosti.science.ru.nl
EMAIL_HOST=smtp.science.ru.nl
EMAIL_PORT=25
EMAIL_ADDRESS=www-tosti@science.ru.nl

# SAML keys live on disk as files, not in .env. See deploy/README.md.
