@import "variables.css";

body {
    font-family: 'Neucha', cursive;
    background-color: var(--background-color);
    color: var(--text-color);
}

a {
    color: var(--link-color);
    text-decoration: none;
}

.site-header, .page-footer {
    background-color: var(--nav-background-color);
    color: var(--nav-link-color);
}

.navbar-expand-md .navbar-nav .nav-link {
    color: var(--nav-link-color);
}

.navbar-expand-md .navbar-nav .nav-link:hover {
    color: var(--nav-link-hover-color);
}

.navbar-toggler {
    border-color: #ffffff;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='#ffffff' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}


.nav-item {
    text-transform: uppercase;
    font-size: 1.5rem;
    padding: 8px;
}

h1 {
    text-transform: uppercase;
    letter-spacing: 4px;
    text-align: center;
    font-size: 3rem
}

h2 {
    letter-spacing: 4px;
    text-align: center;
    font-size: 2.5rem;
}

h3 {
    letter-spacing: 4px;
    text-align: center;
    font-size: 2rem
}

h4 {
    text-align: center;
    font-size: 1.75rem
}

h5 {
    text-align: center;
    font-size: 1.5rem
}

h6 {
    text-align: center;
    font-size: 1rem
}

p {
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 3rem;
}

.table {
    color: var(--text-color);
}

p.btn-note {
    font-size: .8rem
}

.tosti-title {
    letter-spacing: 20px;
}

.drop-out-header {
    position: absolute;
    margin-top: 20px;
    margin-left: -60px;
}

.drop-out-header-mobile {
    position: absolute;
    margin-top: -20px;
}

.card {
    background-color: var(--card-background);
    color: var(--card-background-contrast);
}

.card-header, .modal-header {
    background-color: var(--card-background-shade);
}

.card-body, .modal-body {
    background-color: var(--card-background);
}

.card-footer, .modal-footer {
    background-color: var(--card-background-shade);
}

.close {
    color: var(--text-color);
}

.btn-ml {
    display: block;
    padding: 10px;
    max-width: 400px;
    margin: 40px auto;
    width: 100%;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    text-align: center;
    text-decoration: none !important;
}

a:hover {
    text-decoration: none;
}

.btn-on:hover {
    background-color: var(--button-hover-background);
    color: var(--button-hover-contrast);
    border-color: var(--button-hover-border-color);
}

.btn-ml h2 {
    width: 100%;
    text-align: center;
}

.btn-ml p {
    width: 100%;
    text-align: center;
    margin-bottom: 0;
}

.btn-on {
    border: 1px solid var(--button-border-color);
    background-color: var(--button-background);
    color: var(--button-contrast);
    cursor: pointer;
}

.btn-off {
    border: 1px solid var(--button-disabled-background-color);
    background-color: var(--button-disabled-background-color);
    color: var(--button-contrast);
}

@media screen and (max-width: 767px) {
    .extra-margin-top-mobile {
        margin-top: 30px;
    }

    @media screen and (max-width: 500px) {
        h1 {
            font-size: 2.5rem;
        }
    }
}
