{% extends 'tosti/base.html' %}
{% load static calendar %}

{% block styles %}
    {{ block.super }}
    <link href='{% static "borrel/css/create_reservation.css" %}' rel='stylesheet' />
{% endblock %}

{% block page %}
    <div class="container mt-5 mb-5 text-center">
        <h1>
            {% if object.can_be_changed %}
                Update borrel reservation
            {% else %}
                View borrel reservation
            {% endif %}
        </h1>
    </div>
    <div class="container text-left form-container mb-5">
        {% if messages %}
            {% for message in messages %}
                <p class="alert {{ message.tags }}">{{ message }}</p>
            {% endfor %}
        {% endif %}
        {{ form.non_field_errors }}
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <hr/>
            {% if object.venue_reservation %}
                <h3>Venue reservation:</h3>
                <div class="text-center">
                    <a href="{% url 'venues:list_reservations' %}">{{ object.venue_reservation.venue }}
                        <span class='ms-2 badge {{ object.venue_reservation.accepted|yesno:"bg-success,bg-danger,bg-secondary" }}'>{{ object.venue_reservation.accepted|yesno:"Accepted,Declined,Pending" }}</span>
                    </a>
                </div>
                <hr/>
            {% endif %}
            <h3>Items:</h3>
            <p>You view ordered drinks, food and other material below.</p>
            {% include "borrel/product_items_table.html" %}
            {% if object.can_be_changed %}
                <input type="submit" value="Submit" class="btn btn-primary w-100 mt-5">
                <a href="{% url 'borrel:delete_reservation' object.pk %}" class="btn btn-danger my-3 w-100">Delete reservation</a>
            {% endif %}
            <hr/>
            {% include "borrel/share_reservation_block.html" %}
            <hr/>
        </form>
    </div>
{% endblock %}