{% extends 'tosti/base.html' %}
{% load static calendar %}

{% block styles %}
    {{ block.super }}
    <link href='{% static "borrel/css/create_reservation.css" %}' rel='stylesheet' />
{% endblock %}

{% block page %}
    <div class="container mt-5 mb-5 text-center">
        <h1>Create Borrel Reservation</h1>
    </div>
    <div class="container text-left form-container mb-5">
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <h2 class="mt-3">Items:</h2>
            {{ items.management_form }}
            {% for i in items %}
                <div class="items-form">
                    <hr/>
                    {{ i }}
                </div>
            {% endfor %}
            <input type="submit" value="Submit" class="btn btn-primary w-100">
        </form>
    </div>
{% endblock %}