{% extends 'tosti/base.html' %}
{% load static calendar %}

{% block styles %}
    {{ block.super }}
    <link href='{% static "borrel/css/create_reservation.css" %}' rel='stylesheet' />
{% endblock %}

{% block page %}
    <div class="container mt-5 mb-5 text-center">
        <h1>
            {% if object.can_be_changed %}
                Update borrel reservation
            {% else %}
                View historic borrel reservation
            {% endif %}
        </h1>
    </div>
    <div class="container text-left form-container mb-5">
        {% if messages %}
            {% for message in messages %}
                <p class="alert {{ message.tags }}">{{ message }}</p>
            {% endfor %}
        {% endif %}
        {{ form.non_field_errors }}
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <hr/>
            <h3>Items:</h3>
            <p>You view ordered drinks, food and other material below.</p>
            {% include "borrel/product_items_table.html" %}
            {% if object.can_be_changed %}
                <input type="submit" value="Submit" class="btn btn-primary w-100 mt-5">
                <a href="{% url 'borrel:delete_reservation' object.pk %}" class="btn btn-danger my-3 w-100">Delete reservation</a>
            {% endif %}
            <hr/>
            <h3>Share this reservation:</h3>
            <p>Give other people access to this reservation request by sharing the following URL with them:</p>
            <span class="font-monospace user-select-all text-break">https://tosti.science.ru.nl{% url 'borrel:join_reservation' object.join_code %}</span>
            <p class="mt-3">Watch out: anyone with this URL can get full access to your reservation. Do not make it public.</p>
            <hr/>
        </form>
    </div>
{% endblock %}