{% extends 'tosti/base.html' %}
{% load static calendar %}

{% block styles %}
    {{ block.super }}
{% endblock %}

{% block page %}
    <div class="container mt-5 mb-5 text-center">
        <h1>Cancel reservation</h1>
    </div>
    <div class="container form-container text-center mb-5">
        {% if messages %}
            {% for message in messages %}
                <p class="alert {{ message.tags }}">{{ message }}</p>
            {% endfor %}
        {% endif %}
        <form method="post">
            {% csrf_token %}
            <p>Are you sure you want to cancel this reservation?</p>
            <input type="submit" value="Yes, cancel this reservation" class="btn btn-danger">
        </form>
    </div>
{% endblock %}