{% extends 'tosti/base.html' %}

{% block page %}
    <div class="container mt-5 mb-5 text-center">
        <h1>Borrel reservations</h1>
    </div>
    <div class="container">
        {% if object_list %}
            <table class="table table-responsive w-100">
                <thead>
                <tr>
                    <th scope="col">Title</th>
                    <th scope="col">Start</th>
                    <th scope="col">End</th>
                    <th scope="col">Accepted</th>
                    <th scope="col">Submitted</th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                {% for reservation in object_list reversed %}
                    <tr>
                        <th scope="row">{{ reservation.title }}</th>
                        <td>{{ reservation.start }}</td>
                        <td>{{ reservation.end|default_if_none:"" }}</td>
                        <td>{{ reservation.submitted_at|default_if_none:"Pending" }}</td>
                        <td>{{ reservation.submitted_at|default_if_none:"" }}</td>
                        <td>
                            <a href="{% url 'borrel:view_reservation' reservation.pk %}" class="btn btn-primary">View details</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>You do not have any reservations</p>
            <p class="mb-4">
                <a href="{% url 'borrel:add_reservation' %}"
                   class="btn btn-primary">Add borrel reservation</a>
            </p>
        {% endif %}
    </div>
{% endblock %}