{% extends 'tosti/base.html' %}
{% load static thaliedje %}

{% block page %}
    <div class="container-sm">
        <h1 class="mb-3"><i class="fab fa-spotify"></i> Thaliedje</h1>
        <p>Thaliedje is the music control system for the student canteens in the Huygens building.</p>
        <p>You can add songs to the queue of the canteens by selecting a canteen below and adding your song.</p>
        <div class="card-deck justify-content-center">
            {% for player in players %}
                {% if player.configured and player.venue and player.venue.active %}
                    <div class="card mx-auto mx-md-2 mb-3" style="max-width: 33%; min-width: 300px;">
                        <div class="card-body">
                            <h2>{{ player.venue }}</h2>
                            {% render_player player %}
                            <a href="{% url 'thaliedje:now_playing' venue=player.venue %}" class="w-100 btn btn-primary">Go to {{ player.venue }}</a>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
{% endblock %}