{% extends 'tosti/base.html' %}
{% load static players %}

{% block page %}
    <div class="container-sm mt-5">
        <h1 class="mb-5"><i class="fab fa-spotify me-3"></i>{{ player }}</h1>
        {% if disabled %}
            <p class="alert alert-warning">Player is disabled.</p>
        {% else %}
            <div class="row flex-row-reverse">
                <div class="col-md-5">
                    <h2>Now playing</h2>
                    {% render_player player %}
                    <hr class="my-5 d-md-none"/>
                </div>
                <div class="col-md">
                    <div class="mb-5">
                        <h2>Queue</h2>
                        <p class="mb-3 text-center" style="font-size: 1rem;">What's up next?</p>
                        {% render_queue player %}
                    </div>
                    <div class="mb-5">
                        <h2>Requests</h2>
                        <p class="mb-3" style="font-size: 1rem;">The most recently requested songs.</p>
                        {% render_requests player %}
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}

{% block footer %}
    <footer class="page-footer navbar navbar-expand-md mt-auto footer">
        <div class="container text-center">
            <div class="row flex-grow-1">
                <div class="col">
                    {% if current_venue_reservation and not current_control_event %}
                        <a class="btn-ml m-auto cursor-pointer btn-on my-2" href="{% url "thaliedje:create-control-event" current_venue_reservation.pk %}">
                            <p class="font-footer"><i class="fa-solid fa-gear me-3"></i>Take controls during {{ current_venue_reservation.title }}</p>
                        </a>
                    {% endif %}
                    {% if current_control_event %}
                        <a class="btn-ml m-auto cursor-pointer btn-on my-2" href="{% url "thaliedje:event-control" current_control_event.pk %}">
                            <p class="font-footer"><i class="fa-solid fa-gear me-3"></i>Manage controls</p>
                        </a>
                    {% endif %}
                    {% if can_request_song %}
                        <div class="btn-ml m-auto cursor-pointer btn-on my-2" data-bs-toggle="modal" data-bs-target="#song-request-popup">
                            <p class="font-footer"><i class="fa-solid fa-table-list me-3"></i>Request a song</p>
                        </div>
                    {% elif not user.is_authenticated %}
                        <a class="btn-ml m-auto cursor-pointer btn-on my-2" href="{% url "login" %}?next={% url "thaliedje:now_playing" player %}">
                            <p class="font-footer">Log in to request a song</p>
                        </a>
                    {% endif %}
                </div>
            </div>
        </div>
    </footer>
    {% if can_request_song %}
        {% include 'thaliedje/search.html' with player=player refresh=False show_admin_columns=can_request_playlist %}
    {% endif %}
{% endblock %}
