{% load static %}
<link rel="stylesheet" href="{% static 'thaliedje/css/player.css' %}"/>
<div class="player" id="player-container-{{ player.id }}">
<template v-if="player_data.track !== null">
    <div class="w-50 mx-auto mb-2">
        <a href="{% url "thaliedje:now_playing" venue=player.venue %}">
            <img class="w-100" :src="player_data.track.image"/>
        </a>
    </div>
    <div class="text-center m-auto"><% player_data.track.name %></div>
    <div class="text-center w-100">
        <template v-for="(artist, index) in player_data.track.artists">
            <template v-if="index === player_data.track.artists.length - 1">
                <% artist %>
            </template>
            <template v-else>
                <% artist %> -
            </template>
        </template>
    </div>
</template>
<template v-else>
    <div class="text-center m-auto">No currently playing track</div>
</template>
{% if controls %}
    <template v-if="doing_call">
        <div class="player-controls mt-3 mb-3">
            <div class="loader-container">
                <span class="loader"></span>
            </div>
        </div>
    </template>
    <template v-else>
        <div class="player-controls mt-3 mb-3">
            <i class="fas fa-backward" v-on:click="backward()"></i>
            <template v-if="player_data.is_playing">
                <i class="fas fa-pause" v-on:click="pause()"></i>
            </template>
            <template v-else>
                <i class="fas fa-play" v-on:click="play()"></i>
            </template>
            <i class="fas fa-forward" v-on:click="forward()"></i>
        </div>
        <div class="player-controls">
            <input type="range" class="volume w-100" v-on:change="setVolume(player_data.current_volume)" min="0" max="100" step="5" v-model="player_data.current_volume">
        </div>
    </template>
{% endif %}
</div>
<script>
    let player_{{ player.id }}_vue = new Vue({
        el: '#player-container-{{ player.id }}',
        delimiters: ['<%', '%>'],
        data: {
            player_data: {
                is_playing: false,
                track: null,
                current_volume: 100,
            },
            doing_call: false,
            refresh_timer: null,
        },
        created() {
            this.refresh();
        },
        methods: {
            play() {
                this.doing_call = true;
                clearTimeout(this.refresh_timer);
                fetch(
                    '{% url "v1:player_play" player=player %}',
                    {
                        method: "PATCH",
                        headers: {
                            "X-CSRFToken": get_csrf_token(),
                            "Accept": 'application/json',
                        }
                    }
                ).then(response => {
                    if (response.status === 200) {
                        return response.json();
                    } else {
                        throw response;
                    }
                }).then(data => {
                    this.player_data = data;
                }).catch(error => {
                    if (error.status && error.status !== 403) {
                        tata.error('', "Failed to communicate with the Spotify device, make sure the device is available.");
                    } else {
                        show_error_from_api(error);
                    }
                }).finally(() => {
                    this.doing_call = false;
                    this.refresh_timer = setTimeout(this.refresh, 5000);
                });
            },
            pause() {
                this.doing_call = true;
                clearTimeout(this.refresh_timer);
                fetch(
                    '{% url "v1:player_pause" player=player %}',
                    {
                        method: "PATCH",
                        headers: {
                            "X-CSRFToken": get_csrf_token(),
                            "Accept": 'application/json',
                        }
                    }
                ).then(response => {
                    if (response.status === 200) {
                        return response.json();
                    } else {
                        throw response;
                    }
                }).then(data => {
                    this.player_data = data;
                }).catch(error => {
                    if (error.status && error.status !== 403) {
                        tata.error('', "Failed to communicate with the Spotify device, make sure the device is available.");
                    } else {
                        show_error_from_api(error);
                    }
                }).finally(() => {
                    this.doing_call = false;
                    this.refresh_timer = setTimeout(this.refresh, 5000);
                });
            },
            forward() {
                this.doing_call = true;
                clearTimeout(this.refresh_timer);
                fetch(
                    '{% url "v1:player_next" player=player %}',
                    {
                        method: "PATCH",
                        headers: {
                            "X-CSRFToken": get_csrf_token(),
                            "Accept": 'application/json',
                        }
                    }
                ).then(response => {
                    if (response.status === 200) {
                        return response.json();
                    } else {
                        throw response;
                    }
                }).then(data => {
                    this.player_data = data;
                }).catch(error => {
                    if (error.status && error.status !== 403) {
                        tata.error('', "Failed to communicate with the Spotify device, make sure the device is available.");
                    } else {
                        show_error_from_api(error);
                    }
                }).finally(() => {
                    this.doing_call = false;
                    this.refresh_timer = setTimeout(this.refresh, 5000);
                });
            },
            backward() {
                this.doing_call = true;
                clearTimeout(this.refresh_timer);
                fetch(
                    '{% url "v1:player_previous" player=player %}',
                    {
                        method: "PATCH",
                        headers: {
                            "X-CSRFToken": get_csrf_token(),
                            "Accept": 'application/json',
                        }
                    }
                ).then(response => {
                    if (response.status === 200) {
                        return response.json();
                    } else {
                        throw response;
                    }
                }).then(data => {
                    this.player_data = data;
                }).catch(error => {
                    if (error.status && error.status !== 403) {
                        tata.error('', "Failed to communicate with the Spotify device, make sure the device is available.");
                    } else {
                        show_error_from_api(error);
                    }
                }).finally(() => {
                    this.doing_call = false;
                    this.refresh_timer = setTimeout(this.refresh, 5000);
                });
            },
            setVolume(value) {
                clearTimeout(this.refresh_timer);
                fetch(
                    '{% url "v1:player_volume" player=player %}',
                    {
                        method: "PATCH",
                        headers: {
                            "X-CSRFToken": get_csrf_token(),
                            "Content-Type": 'application/json',
                            "Accept": 'application/json',
                        },
                        body: JSON.stringify({
                            volume: value,
                        }),
                    }
                ).then(response => {
                    if (response.status === 200) {
                        return response.json();
                    } else {
                        throw response;
                    }
                }).then(data => {
                    this.player_data = data;
                }).catch(error => {
                    if (error.status && error.status !== 403) {
                        tata.error('', "Failed to communicate with the Spotify device, make sure the device is available.");
                    } else {
                        show_error_from_api(error);
                    }
                }).finally(() => {
                    this.refresh_timer = setTimeout(this.refresh, 5000);
                });
            },
            refresh() {
                clearTimeout(this.refresh_timer);
                return fetch(
                    "{% url "v1:player_retrieve" pk=player.id %}",
                    {
                        headers: {
                            "X-CSRFToken": get_csrf_token(),
                        }
                    }
                ).then(response => {
                    if (response.status === 200) {
                        return response.json();
                    } else {
                        throw response;
                    }
                }).then(data => {
                    this.player_data = data;
                }).catch(error => {
                    console.log(`An error occurred while refreshing player {{ player.id }}. Error: ${error}`)
                }).finally(() => {
                    this.refresh_timer = setTimeout(this.refresh, 5000);
                });
            }
        }
    });
</script>