{% load static %}
<link rel="stylesheet" href="{% static 'thaliedje/css/player.css' %}"/>
<div class="player" id="player-container-{{ player.id }}">
<template v-if="player_data.track !== null">
    <div class="w-50 mx-auto mb-2">
        <a href="{% url "thaliedje:now_playing" player=player %}">
            <img class="w-100" :src="player_data.track.image"/>
        </a>
    </div>
    <div class="text-center m-auto"><% player_data.track.name %></div>
    <div class="text-center w-100">
        <template v-for="(artist, index) in player_data.track.artists">
            <template v-if="index === player_data.track.artists.length - 1">
                <% artist %>
            </template>
            <template v-else>
                <% artist %> -
            </template>
        </template>
    </div>
</template>
<template v-else>
    <div class="text-center m-auto">No currently playing track</div>
</template>
{% if controls %}
    <template v-if="doing_call">
        <div class="player-controls mt-3 mb-3">
            <div class="loader-container">
                <span class="loader"></span>
            </div>
        </div>
    </template>
    <template v-else>
        <div class="player-controls mt-3 mb-3 mx-auto">
            <template v-if="player_data.shuffle !== null">
                <template v-if="player_data.shuffle">
                    <i class="position-relative fa-solid fa-shuffle mx-2 active-button pb-2" v-on:click="(event) => toggleShuffle(false, event)" ></i>
                </template>
                <template v-else>
                    <i class="position-relative fa-solid fa-shuffle mx-2" v-on:click="(event) => toggleShuffle(true, event)" ></i>
                </template>
            </template>
            <i class="fa-solid fa-backward mx-2" v-on:click="(event) => backward(event)" ></i>
            <template v-if="player_data.is_playing">
                <i class="fa-solid fa-pause mx-2" v-on:click="(event) => pause(event)"></i>
            </template>
            <template v-else>
                <i class="fa-solid fa-play mx-2" v-on:click="(event) => play(event)"></i>
            </template>
            <i class="fa-solid fa-forward mx-2" v-on:click="(event) => forward(event)"></i>
            <template v-if="player_data.repeat !== null">
                <template v-if="player_data.repeat === 'context'">
                    <i class="position-relative fa-solid fa-repeat mx-2 active-button pb-2" v-on:click="(event) => toggleRepeat('off', event)" ></i>
                </template>
                <template v-else>
                    <i class="position-relative fa-solid fa-repeat mx-2" v-on:click="(event) => toggleRepeat('context', event)" ></i>
                </template>
            </template>
        </div>
        <div class="player-controls mx-auto">
            <input type="range" class="volume w-100" v-on:click="(event) => event.preventDefault()" v-on:change="(event) => setVolume(player_data.current_volume, event)" min="0" max="100" step="5" v-model="player_data.current_volume">
        </div>
    </template>
{% endif %}
</div>
<script>
    let player_{{ player.id }}_vue = new Vue({
        el: '#player-container-{{ player.id }}',
        delimiters: ['<%', '%>'],
        data: {
            player_data: {
                is_playing: false,
                shuffle: null,
                repeat: null,
                track: null,
                current_volume: null,
            },
            doing_call: false,
            refresh_timer: null,
        },
        created() {
            this.refresh();
        },
        methods: {
            play(event) {
                event.preventDefault();
                this.doing_call = true;
                clearTimeout(this.refresh_timer);
                fetch(
                    '{% url "v1:player_play" player=player %}',
                    {
                        method: "PATCH",
                        headers: {
                            "X-CSRFToken": get_csrf_token(),
                            "Content-Type": 'application/json',
                            "Accept": 'application/json',
                        }
                    }
                ).then(response => {
                    if (response.status === 200) {
                        return response.json();
                    } else {
                        throw response;
                    }
                }).then(data => {
                    this.player_data = data;
                }).catch(error => {
                    if (error.status && error.status !== 403) {
                        tata.error('', "Failed to communicate with the Spotify device, make sure the device is available.");
                    } else {
                        show_error_from_api(error);
                    }
                }).finally(() => {
                    this.doing_call = false;
                    this.refresh_timer = setTimeout(this.refresh, 20000);
                });
            },
            pause(event) {
                event.preventDefault();
                this.doing_call = true;
                clearTimeout(this.refresh_timer);
                fetch(
                    '{% url "v1:player_pause" player=player %}',
                    {
                        method: "PATCH",
                        headers: {
                            "X-CSRFToken": get_csrf_token(),
                            "Content-Type": 'application/json',
                            "Accept": 'application/json',
                        }
                    }
                ).then(response => {
                    if (response.status === 200) {
                        return response.json();
                    } else {
                        throw response;
                    }
                }).then(data => {
                    this.player_data = data;
                }).catch(error => {
                    if (error.status && error.status !== 403) {
                        tata.error('', "Failed to communicate with the Spotify device, make sure the device is available.");
                    } else {
                        show_error_from_api(error);
                    }
                }).finally(() => {
                    this.doing_call = false;
                    this.refresh_timer = setTimeout(this.refresh, 20000);
                });
            },
            forward(event) {
                event.preventDefault();
                this.doing_call = true;
                clearTimeout(this.refresh_timer);
                fetch(
                    '{% url "v1:player_next" player=player %}',
                    {
                        method: "PATCH",
                        headers: {
                            "X-CSRFToken": get_csrf_token(),
                            "Content-Type": 'application/json',
                            "Accept": 'application/json',
                        }
                    }
                ).then(response => {
                    if (response.status === 200) {
                        return response.json();
                    } else {
                        throw response;
                    }
                }).then(data => {
                    this.player_data = data;
                }).catch(error => {
                    if (error.status && error.status !== 403) {
                        tata.error('', "Failed to communicate with the Spotify device, make sure the device is available.");
                    } else {
                        show_error_from_api(error);
                    }
                }).finally(() => {
                    this.doing_call = false;
                    this.refresh_timer = setTimeout(this.refresh, 20000);
                });
            },
            backward(event) {
                event.preventDefault();
                this.doing_call = true;
                clearTimeout(this.refresh_timer);
                fetch(
                    '{% url "v1:player_previous" player=player %}',
                    {
                        method: "PATCH",
                        headers: {
                            "X-CSRFToken": get_csrf_token(),
                            "Content-Type": 'application/json',
                            "Accept": 'application/json',
                        }
                    }
                ).then(response => {
                    if (response.status === 200) {
                        return response.json();
                    } else {
                        throw response;
                    }
                }).then(data => {
                    this.player_data = data;
                }).catch(error => {
                    if (error.status && error.status !== 403) {
                        tata.error('', "Failed to communicate with the Spotify device, make sure the device is available.");
                    } else {
                        show_error_from_api(error);
                    }
                }).finally(() => {
                    this.doing_call = false;
                    this.refresh_timer = setTimeout(this.refresh, 20000);
                });
            },
            toggleShuffle(value, event) {
                event.preventDefault();
                this.doing_call = true;
                clearTimeout(this.refresh_timer);
                fetch(
                    '{% url "v1:player_shuffle" player=player %}',
                    {
                        method: "PATCH",
                        headers: {
                            "X-CSRFToken": get_csrf_token(),
                            "Content-Type": 'application/json',
                            "Accept": 'application/json',
                        },
                        body: JSON.stringify({
                            state: value,
                        }),
                    }
                ).then(response => {
                    if (response.status === 200) {
                        return response.json();
                    } else {
                        throw response;
                    }
                }).then(data => {
                    this.player_data = data;
                }).catch(error => {
                    if (error.status && error.status !== 403) {
                        tata.error('', "Failed to communicate with the Spotify device, make sure the device is available.");
                    } else {
                        show_error_from_api(error);
                    }
                }).finally(() => {
                    this.doing_call = false;
                    this.refresh_timer = setTimeout(this.refresh, 20000);
                });
            },
            toggleRepeat(value, event) {
                event.preventDefault();
                this.doing_call = true;
                clearTimeout(this.refresh_timer);
                fetch(
                    '{% url "v1:player_repeat" player=player %}',
                    {
                        method: "PATCH",
                        headers: {
                            "X-CSRFToken": get_csrf_token(),
                            "Content-Type": 'application/json',
                            "Accept": 'application/json',
                        },
                        body: JSON.stringify({
                            state: value,
                        }),
                    }
                ).then(response => {
                    if (response.status === 200) {
                        return response.json();
                    } else {
                        throw response;
                    }
                }).then(data => {
                    this.player_data = data;
                }).catch(error => {
                    if (error.status && error.status !== 403) {
                        tata.error('', "Failed to communicate with the Spotify device, make sure the device is available.");
                    } else {
                        show_error_from_api(error);
                    }
                }).finally(() => {
                    this.doing_call = false;
                    this.refresh_timer = setTimeout(this.refresh, 20000);
                });
            },
            setVolume(value, event) {
                event.preventDefault();
                clearTimeout(this.refresh_timer);
                fetch(
                    '{% url "v1:player_volume" player=player %}',
                    {
                        method: "PATCH",
                        headers: {
                            "X-CSRFToken": get_csrf_token(),
                            "Content-Type": 'application/json',
                            "Accept": 'application/json',
                        },
                        body: JSON.stringify({
                            volume: value,
                        }),
                    }
                ).then(response => {
                    if (response.status === 200) {
                        return response.json();
                    } else {
                        throw response;
                    }
                }).then(data => {
                    data.current_volume = value; // The API will sometimes return the old volume, so do not use this value.
                    this.player_data = data;
                }).catch(error => {
                    if (error.status && error.status !== 403) {
                        tata.error('', "Failed to communicate with the Spotify device, make sure the device is available.");
                    } else {
                        show_error_from_api(error);
                    }
                }).finally(() => {
                    this.refresh_timer = setTimeout(this.refresh, 20000);
                });
            },
            refresh() {
                clearTimeout(this.refresh_timer);
                return fetch(
                    "{% url "v1:player_retrieve" pk=player.id %}",
                    {
                        headers: {
                            "X-CSRFToken": get_csrf_token(),
                            "Content-Type": 'application/json',
                            "Accept": 'application/json',
                        }
                    }
                ).then(response => {
                    if (response.status === 200) {
                        return response.json();
                    } else {
                        throw response;
                    }
                }).then(data => {
                    this.player_data = data;
                }).catch(error => {
                    console.log(`An error occurred while refreshing player {{ player.id }}. Error: ${error}`)
                }).finally(() => {
                    this.refresh_timer = setTimeout(this.refresh, 20000);
                });
            }
        }
    });
</script>