{% load static %}
<link rel="stylesheet" href="{% static 'thaliedje/css/player.css' %}"/>
<script src="{% static 'thaliedje/js/player.js' %}"></script>
<div class="player" id="player-container-{{ player.id }}">
<template v-if="player_data.track !== null">
    <div class="w-50 mx-auto mb-2">
        <a href="{% url "thaliedje:now_playing" venue=player.venue %}">
            <img class="w-100" :src="player_data.track.image"/>
        </a>
    </div>
    <div class="text-center m-auto"><% player_data.track.name %></div>
    <div class="text-center w-100">
        <template v-for="(artist, index) in player_data.track.artists">
            <template v-if="index === player_data.track.artists.length - 1">
                <% artist %>
            </template>
            <template v-else>
                <% artist %> -
            </template>
        </template>
    </div>
</template>
<template v-else>
    <div class="text-center m-auto">No currently playing track</div>
</template>
{% if controls %}
    <div class="player-controls mt-3 mb-3">
        <i class="fas fa-backward" v-on:click="backward()"></i>
        <template v-if="player_data.is_playing">
            <i class="fas fa-pause" v-on:click="pause()"></i>
        </template>
        <template v-else>
            <i class="fas fa-play" v-on:click="play()"></i>
        </template>
        <i class="fas fa-forward" v-on:click="forward()"></i>
    </div>
{% endif %}
</div>
<script>
    let player_{{ player.id }}_vue = new Vue({
        el: '#player-container-{{ player.id }}',
        delimiters: ['<%', '%>'],
        data: {
            player_data: {
                is_playing: false,
                track: null,
            }
        },
        created() {
            fetch('{% url "v1:player_retrieve" pk=player.id %}')
            .then(response => response.json())
            .then(json => {
                this.player_data = json;
            });
        },
        methods: {
            play() {
                jQuery(function($) {
                    let headers = {"X-CSRFToken": get_csrf_token()};
                    $.ajax({type: 'PATCH', url: '{% url "v1:player_play" player=player %}', asynch: true, headers: headers, success:
                        function() {
                            update_update_list();
                        }}).fail(function(error) {
                            if (error.status !== 403) {
                                toastr.error("Failed to communicate with the Spotify device, make sure the device is available.");
                            }
                            update_update_list();
                        });
                    }
                )
            },
            pause() {
                jQuery(function($) {
                    let headers = {"X-CSRFToken": get_csrf_token()};
                    $.ajax({type: 'PATCH', url: '{% url "v1:player_pause" player=player %}', asynch: true, headers: headers, success:
                        function() {
                            update_update_list();
                        }}).fail(function(error) {
                            if (error.status !== 403) {
                                toastr.error("Failed to communicate with the Spotify device, make sure the device is available.");
                            }
                            update_update_list();
                        });
                    }
                )
            },
            forward() {
                jQuery(function($) {
                    let headers = {"X-CSRFToken": get_csrf_token()};
                    $.ajax({type: 'PATCH', url: '{% url "v1:player_next" player=player %}', asynch: true, headers: headers, success:
                        function() {
                            update_update_list();
                        }}).fail(function(error) {
                            if (error.status !== 403) {
                                toastr.error("Failed to communicate with the Spotify device, make sure the device is available.");
                            }
                            else {
                                toastr.warning("There are no more tracks to play in the queue.");
                            }
                        });
                    }
                )
            },
            backward() {
                jQuery(function($) {
                    let headers = {"X-CSRFToken": get_csrf_token()};
                    $.ajax({type: 'PATCH', url: '{% url "v1:player_previous" player=player %}', asynch: true, headers: headers, success:
                        function() {
                            update_update_list();
                        }}).fail(function(error) {
                            if (error.status !== 403) {
                                toastr.error("Failed to communicate with the Spotify device, make sure the device is available.");
                            }
                            else {
                                toastr.warning("There are no more tracks to revert in the queue.");
                            }
                        });
                    }
                )
            }
        }
    });
    add_update_list(get_and_callback, ['{% url "v1:player_retrieve" pk=player.id %}', {}, function(data) {player_{{ player.id }}_vue.player_data = data}]);
</script>