{% load static %}
<div id="queue-container-{{ player.id }}">
    <template v-if="queue.length > 0">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Track</th>
              <th scope="col">Artists</th>
              <th scope="col">Duration</th>
            </tr>
          </thead>
          <tbody>
            <template v-for="item in queue">
                <tr>
                  <th scope="row"><% item.track_name %></th>
                  <td>
                      <template v-for="(artist, index) in item.track_artists">
                          <% artist %><template v-if="index !== item.track_artists.length - 1">, </template>
                      </template>
                  </td>
                  <td><% Math.floor(item.duration_ms / 1000 / 60) %>:<% String(Math.floor(item.duration_ms / 1000 % 60)).padStart(2, '0') %></td>
                </tr>
            </template>
          </tbody>
        </table>
    </template>
    <template v-else>
        <div class="loader-container text-center">
            <span class="loader"></span>
        </div>
    </template>
</div>

<script>
    let player_{{ player.id }}_queue_vue = new Vue({
        el: '#queue-container-{{ player.id }}',
        delimiters: ['<%', '%>'],
        data: {
            queue: []
        },
        created() {
            fetch('{% url "v1:player_queue" player=player %}')
            .then(response => response.json())
            .then(json => {
                this.queue = json;
            });
        }
    });
    add_refresh_url("{% url 'v1:player_queue' player=player %}", function (data) {
        player_{{ player.id }}_queue_vue.queue = data
    });
</script>