{% load static %}
<div id="queue-container-{{ player.id }}">
    <template v-if="queue.length > 0">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Track</th>
              <th scope="col">Artists</th>
              <th scope="col">Duration</th>
            </tr>
          </thead>
          <tbody>
            <template v-for="item in queue">
                <tr>
                  <th scope="row">${ item.track_name }$</th>
                  <td>
                      <template v-for="(artist, index) in item.track_artists">
                          ${ artist }$<template v-if="index !== item.track_artists.length - 1">, </template>
                      </template>
                  </td>
                  <td>${ Math.floor(item.duration_ms / 1000 / 60) }$:${ String(Math.floor(item.duration_ms / 1000 % 60)).padStart(2, '0') }$</td>
                </tr>
            </template>
          </tbody>
        </table>
    </template>
    <template v-else>
        <div class="loader-container text-center">
            <span class="loader"></span>
        </div>
    </template>
</div>

<script>
    window.player_{{ player.id }}_queue_vue = createApp({
        delimiters: ['${', '}$'],
        data() {
            return {
                queue: [],
                refreshTimer: null,
                lastRefresh: null,
            }
        },
        created() {
            this.refresh_player_queue();
            document.addEventListener("visibilitychange", this.visibilityChange);
        },
        unmounted() {
            document.removeEventListener("visibilitychange", this.visibilityChange);
        },
        methods: {
            refresh_player_queue() {
                fetch('{% url "v1:player_queue" player=player %}')
                    .then(response => response.json())
                    .then(json => {
                        this.queue = json;
                    })
                    .finally(() => {
                        this.lastRefresh = (new Date()).getTime();
                        this.refreshTimer = setTimeout(this.refresh_player_queue, 5000);
                    });
            },
            visibilityChange(event) {
                if (event.target.hidden) {
                    clearTimeout(this.refreshTimer);
                } else {
                    clearTimeout(this.refreshTimer);
                    if (this.lastRefresh === null || (new Date()).getTime() - this.lastRefresh > 5000) {
                        this.refresh_player_queue();
                    } else {
                        this.refreshTimer = setTimeout(this.refresh_player_queue, 5000);
                    }
                }
            },
        }
    }).mount('#queue-container-{{ player.id }}');
</script>