{% load static %}

<link rel="stylesheet" href="{% static 'thaliedje/css/search.css' %}"/>
<div id="player-search-container-{{ player.id }}">
    <form @submit.self.prevent="tryUrl">
        <input v-model="query" id="search" type="text" maxlength="100" placeholder="Search for something to play" class="container-fluid form-control mb-3"/>
        <label style="font-size: 0.8em;" for="search">Tip: try pasting a share URL of a Spotify track{% if show_admin_columns %}, playlist or album{% endif %} and pressing RETURN, this will instantly add the track to the queue.</label>
    </form>
    <div id="results" class="px-3 search-list">
        <div class="row">
            <div class="{% if show_admin_columns %}col-lg-4{% else %}col{% endif %}" v-if="tracks.length > 0 && query !== ''">
                <h3>Tracks</h3>
                <template v-for="(track, index) in tracks">
                    <div class="d-flex my-2">
                        <div class="me-2">
                            <img height="50" v-if="track.image !== null" :src="track.image"/>
                        </div>
                        <div class="flex-equal-width d-flex flex-column">
                            <div>
                                <% track.name %>
                            </div>
                            <div style="font-style: italic;">
                                <template v-for="(artist, art_index) in track.artists">
                                    <% artist %><template v-if="art_index !== track.artists.length - 1">, </template>
                                </template>
                            </div>
                        </div>
                        <input type="button" value="Add" class="btn btn-primary" style="height: 40px" v-on:click="add_to_queue(track.id)"/>
                    </div>
                    <template v-if="index !== tracks.length -1">
                        <div class="border"></div>
                    </template>
                </template>
            </div>
            {% if show_admin_columns %}
                <div class="col-lg-4" v-if="playlists.length > 0 && query !== ''">
                    <h3>Playlists</h3>
                    <template v-for="(playlist, index) in playlists">
                        <div class="d-flex my-2">
                            <div class="me-1">
                                <img height="50" v-if="playlist.image !== null" :src="playlist.image"/>
                            </div>
                            <div class="flex-equal-width d-flex flex-column">
                                <div>
                                    <% playlist.name %>
                                </div>
                                <div style="font-style: italic;">
                                    <% playlist.owner.display_name %>
                                </div>
                            </div>
                            <input type="button" value="Start" class="btn btn-success" style="height: 40px" v-on:click="ask_start_with_context(playlist.uri)"/>
                        </div>
                        <template v-if="index !== tracks.length -1">
                            <div class="border"></div>
                        </template>
                    </template>
                </div>
                <div class="col-lg-4" v-if="albums.length > 0 && query !== ''">
                    <h3>Albums</h3>
                    <template v-for="(album, index) in albums">
                        <div class="d-flex my-2">
                            <div class="me-1">
                                <img height="50" v-if="album.image !== null" :src="album.image"/>
                            </div>
                                <div class="flex-equal-width d-flex flex-column">
                                <div>
                                    <% album.name %>
                                </div>
                                <div style="font-style: italic;">
                                    <template v-for="(artist, art_index) in album.artists">
                                        <% artist %><template v-if="art_index !== album.artists.length - 1">, </template>
                                    </template>
                                </div>
                            </div>
                            <input type="button" value="Start" class="btn btn-success" style="height: 40px" v-on:click="ask_start_with_context(album.uri)"/>
                        </div>
                        <template v-if="index !== albums.length -1">
                            <div class="border"></div>
                        </template>
                    </template>
                </div>
            {% endif %}
        </div>
    </div>
</div>

<script>
    let player_{{ player.id }}_search_vue = new Vue({
        el: '#player-search-container-{{ player.id }}',
        delimiters: ['<%', '%>'],
        data: {
            query: "",
            tracks: [],
            albums: [],
            playlists: [],
            typing_timer: null,
            current_search_index: 0,
        },
        created() {
            fetch('{% url "v1:player_search" player=player %}')
            .then(response => response.json())
            .then(json => {
                this.queue = json.results;
            });
        },
        watch: {
            query: {
                handler(val, oldVal) {
                    clearTimeout(this.typing_timer);
                    if (this.query !== "") {
                        this.typing_timer = setTimeout(this.search, 200);
                    }
                }
            }
        },
        methods: {
            tryUrl() {
                let urlToTry = null;
                try {
                    urlToTry = new URL(this.query);
                } catch (e) {
                    if (!(e instanceof TypeError)) {
                        throw e;
                    }
                    return;
                }
                if (urlToTry.hostname === "open.spotify.com") {
                    if (urlToTry.pathname.startsWith("/track/")) {
                        const track_id = urlToTry.pathname.replace("/track/", "");
                        this.add_to_queue(track_id);
                    }
                    {% if show_admin_columns %}
                        else if (urlToTry.pathname.startsWith("/playlist/")) {
                            const playlist_id = urlToTry.pathname.replace("/playlist/", "");
                            this.start_with_context(`spotify:playlist:${playlist_id}`);
                        }
                        else if (urlToTry.pathname.startsWith("/album/")) {
                            const album_id = urlToTry.pathname.replace("/album/", "");
                            this.start_with_context(`spotify:album:${album_id}`);
                        }
                    {% endif %}
                }
            },
            add_to_queue(track_id) {
                fetch(
                    "{% url "v1:player_add" player=player %}",
                    {
                        method: 'POST',
                        body: JSON.stringify({
                            'id': track_id,
                            'csrfmiddlewaretoken': get_csrf_token(),
                        }),
                        headers: {
                            "X-CSRFToken": get_csrf_token(),
                            "Content-Type": 'application/json',
                        }
                    }
                ).then(response => {
                    if (response.status === 200) {
                        return response;
                    } else {
                        throw response;
                    }
                }).then(data => {
                    tata.success('', "Track added to queue.");
                    this.query = "";
                    this.tracks = [];
                    this.albums = [];
                    this.playlists = [];
                    if (typeof (update_refresh_list) !== 'undefined') {
                        update_refresh_list();
                    }
                }).catch(error => show_error_from_api(error));
            },
            {% if show_admin_columns %}
            ask_start_with_context(context_uri) {
                if (confirm("Starting this playlist or album will override the current queue, do you want to continue?")) {
                    this.start_with_context(context_uri);
                }
            },
            start_with_context(context_uri) {
                fetch(
                    '{% url "v1:player_play" player=player %}',
                    {
                        method: 'PATCH',
                        headers: {
                            "X-CSRFToken": get_csrf_token(),
                            "Content-Type": 'application/json',
                            "Accept": 'application/json',
                        },
                        body: JSON.stringify({
                            "context_uri": context_uri,
                        }),
                    }
                ).then(response => {
                    if (response.status === 200) {
                        return response.json();
                    } else {
                        throw response;
                    }
                }).then(data => {
                    tata.success('', "Playing selected list of tracks.");
                    this.query = "";
                    this.tracks = [];
                    this.albums = [];
                    this.playlists = [];
                    if (typeof(player_{{ player.id }}_vue) !== 'undefined') {
                        player_{{ player.id }}_vue.player_data = data;
                    }
                    if (typeof(update_refresh_list) !== 'undefined') {
                        update_refresh_list();
                    }
                }).catch(error => show_error_from_api(error));
            },
            {% endif %}
            search() {
                this.current_search_index = this.current_search_index + 1;
                let this_search_index = this.current_search_index;
                fetch(
                    `{% url "v1:player_search" player=player %}?query=${this.query}`,
                    {
                        headers: {
                            "X-CSRFToken": get_csrf_token(),
                            "Content-Type": 'application/json',
                            "Accept": 'application/json',
                        }
                    }
                ).then(response => {
                    if (response.status === 200) {
                        return response.json();
                    } else {
                        throw response;
                    }
                }).then(data => {
                    if (this_search_index === this.current_search_index && this.query === data.query) {
                        this.tracks = data.results.tracks;
                        if (data.results.albums !== undefined) {
                            this.albums = data.results.albums;
                        }
                        if (data.results.playlists !== undefined) {
                            this.playlists = data.results.playlists;
                        }
                    }
                }).catch(error => show_error_from_api(error));
            },
        }
    });
</script>