{% load static %}

<link rel="stylesheet" href="{% static 'thaliedje/css/search.css' %}"/>
<div id="player-search-container-{{ player.id }}">
    <input v-model="query" id="search" type="text" maxlength="100" placeholder="Search for something to play" class="container-fluid form-control mb-3"/>
    <div id="results" class="px-3 search-list">
        <div class="d-flex flex-column">
            <template v-if="tracks.length > 0 && query !== ''">
                <h3>Tracks</h3>
                <template v-for="(track, index) in tracks">
                    <div class="d-flex my-2">
                        <div class="flex-equal-width"><% track.name %></div>
                        <div class="flex-equal-width">
                            <template v-for="(artist, art_index) in track.artists">
                                <% artist %><template v-if="art_index !== track.artists.length - 1">, </template>
                            </template>
                        </div>
                        <input type="button" value="Add" class="btn btn-primary" style="height: 40px" v-on:click="add_to_queue(track.id)"/>
                    </div>
                    <template v-if="index !== tracks.length -1">
                        <div class="border"></div>
                    </template>
                </template>
            </template>
            <template v-if="playlists.length > 0 && query !== ''">
                <h3>Playlists</h3>
                <template v-for="(playlist, index) in playlists">
                    <div class="d-flex my-2">
                        <div class="flex-equal-width"><% playlist.name %></div>
                        <div class="flex-equal-width"><% playlist.owner.display_name %></div>
                        <input type="button" value="Start" class="btn btn-success" style="height: 40px" v-on:click="start_with_context(playlist.uri)"/>
                    </div>
                    <template v-if="index !== tracks.length -1">
                        <div class="border"></div>
                    </template>
                </template>
            </template>
            <template v-if="albums.length > 0 && query !== ''">
                <h3>Albums</h3>
                <template v-for="(album, index) in albums">
                    <div class="d-flex my-2">
                        <div class="flex-equal-width"><% album.name %></div>
                        <div class="flex-equal-width">
                            <template v-for="(artist, art_index) in album.artists">
                                <% artist %><template v-if="art_index !== album.artists.length - 1">, </template>
                            </template>
                        </div>
                        <input type="button" value="Start" class="btn btn-success" style="height: 40px" v-on:click="start_with_context(album.uri)"/>
                    </div>
                    <template v-if="index !== albums.length -1">
                        <div class="border"></div>
                    </template>
                </template>
            </template>
        </div>
    </div>
</div>

<script>
    let player_search_vue = new Vue({
        el: '#player-search-container-{{ player.id }}',
        delimiters: ['<%', '%>'],
        data: {
            query: "",
            tracks: [],
            albums: [],
            playlists: [],
            typing_timer: null,
            current_search_index: 0,
        },
        created() {
            fetch('{% url "v1:player_search" player=player %}')
            .then(response => response.json())
            .then(json => {
                this.queue = json.results;
            });
        },
        watch: {
            query: {
                handler(val, oldVal) {
                    clearTimeout(this.typing_timer);
                    if (this.query !== "") {
                        this.typing_timer = setTimeout(this.search, 200);
                    }
                }
            }
        },
        methods: {
            add_to_queue(track_id) {
                fetch(
                    "{% url "v1:player_add" player=player %}",
                    {
                        method: 'POST',
                        body: JSON.stringify({
                            'id': track_id,
                            'csrfmiddlewaretoken': get_csrf_token(),
                        }),
                        headers: {
                            "X-CSRFToken": get_csrf_token(),
                            "Content-Type": 'application/json',
                        }
                    }
                ).then(response => {
                    if (response.status === 200) {
                        return response;
                    } else {
                        throw response;
                    }
                }).then(data => {
                    tata.success('', "Track added to queue.");
                    this.query = "";
                    this.tracks = [];
                    this.albums = [];
                    this.playlists = [];
                    if (typeof (update_refresh_list) !== 'undefined') {
                        update_refresh_list();
                    }
                }).catch(error => show_error_from_api(error));
            },
            start_with_context(context_uri) {
                fetch(
                    '{% url "v1:player_play" player=player %}',
                    {
                        method: 'PATCH',
                        headers: {
                            "X-CSRFToken": get_csrf_token(),
                            "Content-Type": 'application/json',
                            "Accept": 'application/json',
                        },
                        body: JSON.stringify({
                            "context_uri": context_uri,
                        }),
                    }
                ).then(response => {
                    if (response.status === 200) {
                        return response.json();
                    } else {
                        throw response;
                    }
                }).then(data => {
                    tata.success('', "Playing selected list of tracks.");
                    this.query = "";
                    this.tracks = [];
                    this.albums = [];
                    this.playlists = [];
                    if (typeof (update_refresh_list) !== 'undefined') {
                        update_refresh_list();
                    }
                });
            },
            search() {
                this.current_search_index = this.current_search_index + 1;
                let this_search_index = this.current_search_index;
                fetch(
                    `{% url "v1:player_search" player=player %}?query=${this.query}`,
                    {
                        headers: {
                            "X-CSRFToken": get_csrf_token(),
                            "Content-Type": 'application/json',
                            "Accept": 'application/json',
                        }
                    }
                ).then(response => {
                    if (response.status === 200) {
                        return response.json();
                    } else {
                        throw response;
                    }
                }).then(data => {
                    if (this_search_index === this.current_search_index && this.query === data.query) {
                        this.tracks = data.results.tracks;
                        if (data.results.albums !== undefined) {
                            this.albums = data.results.albums;
                        }
                        if (data.results.playlists !== undefined) {
                            this.playlists = data.results.playlists;
                        }
                    }
                }).catch(error => show_error_from_api(error));
            },
        }
    });
</script>