{% load static %}
<link rel="stylesheet" href="{% static 'thaliedje/css/search.css' %}"/>
<div id="player-search-container-{{ player.id }}" >
    <div class="modal" id="song-request-popup">
        <div class="modal-dialog{% if can_request_playlist %} modal-xl{% endif %} modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header" style="border-bottom: 0">
                    <form class="w-100" @submit.self.prevent="tryUrl">
                        <input v-model="query" id="search" type="text" maxlength="100" placeholder="Search or paste a Spotify URL" class="container-fluid form-control form-control-lg"/>
                    </form>
                </div>
                <div class="modal-body search-list py-0"  id="results">
                    <div class="row">
                        <div class="{% if show_admin_columns %}col-lg-4{% else %}col{% endif %} py-3" v-if="tracks.length > 0 && query !== ''">
                            <h5 class="text-uppercase">Tracks</h5>
                            <template v-for="(track, index) in tracks">
                                <div class="d-flex my-2">
                                    <div class="me-2">
                                        <img height="50" v-if="track.image !== null" :src="track.image"/>
                                    </div>
                                    <div class="flex-equal-width d-flex flex-column">
                                        <div>
                                            ${ track.name }$
                                        </div>
                                        <div style="font-style: italic;">
                                            <template v-for="(artist, art_index) in track.artists">
                                                ${ artist }$<template v-if="art_index !== track.artists.length - 1">, </template>
                                            </template>
                                        </div>
                                    </div>
                                    <button class="btn btn-primary" style="height: 40px" v-on:click="add_to_queue(track.id)"><i class="fa-solid fa-plus"></i></button>
                                </div>
                                <template v-if="index !== tracks.length -1">
                                    <hr class="m-1" />
                                </template>
                            </template>
                        </div>
                        {% if show_admin_columns %}
                            <div class="col-lg-4 py-3" v-if="playlists.length > 0 && query !== ''">
                                <h5 class="text-uppercase">Playlists</h5>
                                <template v-for="(playlist, index) in playlists">
                                    <div class="d-flex my-2">
                                        <div class="me-1">
                                            <img height="50" v-if="playlist.image !== null" :src="playlist.image"/>
                                        </div>
                                        <div class="flex-equal-width d-flex flex-column">
                                            <div>
                                                ${ playlist.name }$
                                            </div>
                                            <div style="font-style: italic;">
                                                ${ playlist.owner.display_name }$
                                            </div>
                                        </div>
                                        <button class="btn btn-success" style="height: 40px" v-on:click="ask_start_with_context(playlist.uri)"><i class="fa-solid fa-play"></i></button>
                                    </div>
                                    <template v-if="index !== tracks.length -1">
                                        <hr class="m-1" />
                                    </template>
                                </template>
                            </div>
                            <div class="col-lg-4 py-3" v-if="albums.length > 0 && query !== ''">
                                <h5 class="text-uppercase">Albums</h5>
                                <template v-for="(album, index) in albums">
                                    <div class="d-flex my-2">
                                        <div class="me-1">
                                            <img height="50" v-if="album.image !== null" :src="album.image"/>
                                        </div>
                                            <div class="flex-equal-width d-flex flex-column">
                                            <div>
                                                ${ album.name }$
                                            </div>
                                            <div style="font-style: italic;">
                                                <template v-for="(artist, art_index) in album.artists">
                                                    ${ artist }$<template v-if="art_index !== album.artists.length - 1">, </template>
                                                </template>
                                            </div>
                                        </div>
                                        <button class="btn btn-success" style="height: 40px" v-on:click="ask_start_with_context(album.uri)"/><i class="fa-solid fa-play"></i></button>
                                    </div>
                                    <template v-if="index !== albums.length -1">
                                        <hr class="m-1" />
                                    </template>
                                </template>
                            </div>
                        {% endif %}
                    </div>
                </div>
                <div class="modal-footer" style="border-top: 0">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    window.player_{{ player.id }}_search_vue = createApp({
        delimiters: ['${', '}$'],
        data() {
            return {
                query: "",
                tracks: [],
                albums: [],
                playlists: [],
                current_search_index: 0,
            }
        },
        created() {
            fetch('{% url "v1:player_search" player=player %}')
            .then(response => response.json())
            .then(json => {
                this.queue = json.results;
            });
        },
        watch: {
            query: {
                handler(val, oldVal) {
                    this.search(this);
                }
            }
        },
        methods: {
            tryUrl() {
                let urlToTry = null;
                try {
                    urlToTry = new URL(this.query);
                } catch (e) {
                    if (!(e instanceof TypeError)) {
                        throw e;
                    }
                    return;
                }
                if (urlToTry.hostname === "open.spotify.com") {
                    if (urlToTry.pathname.startsWith("/track/")) {
                        const track_id = urlToTry.pathname.replace("/track/", "");
                        this.add_to_queue(track_id);
                    }
                    {% if show_admin_columns %}
                        else if (urlToTry.pathname.startsWith("/playlist/")) {
                            const playlist_id = urlToTry.pathname.replace("/playlist/", "");
                            this.start_with_context(`spotify:playlist:${playlist_id}`);
                        }
                        else if (urlToTry.pathname.startsWith("/album/")) {
                            const album_id = urlToTry.pathname.replace("/album/", "");
                            this.start_with_context(`spotify:album:${album_id}`);
                        }
                    {% endif %}
                }
            },
            add_to_queue(track_id) {
                fetch(
                    "{% url "v1:player_add" player=player %}",
                    {
                        method: 'POST',
                        body: JSON.stringify({
                            'id': track_id,
                            'csrfmiddlewaretoken': get_csrf_token(),
                        }),
                        headers: {
                            "X-CSRFToken": get_csrf_token(),
                            "Content-Type": 'application/json',
                        }
                    }
                ).then(response => {
                    if (response.status === 200) {
                        return response;
                    } else {
                        throw response;
                    }
                }).then(data => {
                    tata.success('', "Track added to queue.");
                    this.query = "";
                    this.tracks = [];
                    this.albums = [];
                    this.playlists = [];
                    if (typeof (update_refresh_list) !== 'undefined') {
                        update_refresh_list();
                    }
                }).catch(error => show_error_from_api(error));
            },
            {% if show_admin_columns %}
            ask_start_with_context(context_uri) {
                if (confirm("Starting this playlist or album will override the current queue, do you want to continue?")) {
                    this.start_with_context(context_uri);
                }
            },
            start_with_context(context_uri) {
                fetch(
                    '{% url "v1:player_play" player=player %}',
                    {
                        method: 'PATCH',
                        headers: {
                            "X-CSRFToken": get_csrf_token(),
                            "Content-Type": 'application/json',
                            "Accept": 'application/json',
                        },
                        body: JSON.stringify({
                            "context_uri": context_uri,
                        }),
                    }
                ).then(response => {
                    if (response.status === 200) {
                        return response.json();
                    } else {
                        throw response;
                    }
                }).then(data => {
                    tata.success('', "Playing selected list of tracks.");
                    this.query = "";
                    this.tracks = [];
                    this.albums = [];
                    this.playlists = [];
                    if (typeof(player_{{ player.id }}_vue) !== 'undefined') {
                        player_{{ player.id }}_vue.player_data = data;
                    }
                    if (typeof(update_refresh_list) !== 'undefined') {
                        update_refresh_list();
                    }
                }).catch(error => show_error_from_api(error));
            },
            {% endif %}
            search: debounce(function(self) {
                if (self.query !== "") {
                    self.current_search_index = self.current_search_index + 1;
                    let this_search_index = self.current_search_index;
                    fetch(
                        `{% url "v1:player_search" player=player %}?query=${self.query}`,
                        {
                            headers: {
                                "X-CSRFToken": get_csrf_token(),
                                "Content-Type": 'application/json',
                                "Accept": 'application/json',
                            }
                        }
                    ).then(response => {
                        if (response.status === 200) {
                            return response.json();
                        } else {
                            throw response;
                        }
                    }).then(data => {
                        if (this_search_index === self.current_search_index && self.query === data.query) {
                            self.tracks = data.results.tracks;
                            if (data.results.albums !== undefined) {
                                self.albums = data.results.albums;
                            }
                            if (data.results.playlists !== undefined) {
                                self.playlists = data.results.playlists;
                            }
                        }
                    }).catch(error => show_error_from_api(error));
                }
            }),
        }
    }).mount('#player-search-container-{{ player.id }}');
</script>