<div class="row mb-5">
    <div class="col-lg">
        <canvas id="most-requested-songs-chart" class="statistics-canvas"
            data-data="{{ most_requested_songs }}"
            data-title="Most requested songs"
            data-chart-type="bar">
        </canvas>
    </div>
    <div class="col-lg">
        <canvas id="users-with-most-requests-chart" class="statistics-canvas"
            data-data="{{ users_with_most_requests }}"
            data-title="Users with most requests"
            data-chart-type="bar">
        </canvas>
    </div>
</div>
