{% extends 'admin/base_site.html' %}
{% load i18n admin_urls static %}

{% if not is_popup %}
    {% block breadcrumbs %}
        <div class="breadcrumbs">
            <a href="{% url 'admin:index' %}">{% translate 'Home' %}</a>
            &rsaquo; <a href="{% url 'admin:app_list' app_label=opts.app_label %}">{{ opts.app_config.verbose_name }}</a>
            &rsaquo; {% if has_view_permission %}<a href="{% url opts|admin_urlname:'changelist' %}">{{ opts.verbose_name_plural|capfirst }}</a>{% else %}{{ opts.verbose_name_plural|capfirst }}{% endif %}
            {% if original %}&rsaquo; <a href="{% url opts|admin_urlname:'change' original.id %}">{{ original|truncatewords:"18" }}</a>{% endif %}
            &rsaquo; {{ view_name }}
        </div>
    {% endblock %}
{% endif %}

{% block content %}
    <div id="content-main">
        <h1>Spotify Authorization</h1>
        <div class="module">
            <p>Spotify can be connected to this application via the OAuth2 protocol. Connecting your Spotify
            account will enable you to control it from the web pages within this application. The steps to take to connect
            Spotify with this explanation are stated below.</p>
            <ol>
                <li>First you need to create a Free or Paid Spotify account at <a href="https://spotify.com" target="_blank">the Spotify website</a>.</li>
                <li>Next, you need to log in to the <a href="https://developer.spotify.com/dashboard" target="_blank">Spotify developer portal</a> and agree with the terms of service.</li>
                <li>Now, you need to <a href="https://developer.spotify.com/documentation/general/guides/app-settings/#register-your-app" target="_blank">register an application</a> and add this web URL to the authorized redirect URLs of the application: <pre>{{ request.scheme }}://{{ request.get_host }}{% url "admin:add_token" %}</pre></li>
            </ol>
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form }}
                <input type="submit" value="Authorize"/>
            </form>
        </div>
    </div>
{% endblock %}