.player-controls {
    display: flex;
    margin: auto;
    width: 150px;
    font-size: 16pt;
}

.player-controls i {
    flex-basis: 0;
    flex-grow: 1;
    align-items: center;
    text-align: center;
}

.player-controls i:hover {
    cursor: pointer;
}

.player-controls svg {
    flex-basis: 0;
    flex-grow: 1;
    align-items: center;
    text-align: center;
}

.player-controls svg:hover {
    cursor: pointer;
}

.player-controls i {
    flex-basis: 0;
    flex-grow: 1;
    align-items: center;
    text-align: center;
}

.player-controls i:hover {
    cursor: pointer;
}