.player-controls {
    display: flex;
    margin: auto;
    width: 150px;
    font-size: 16pt;
}

.player-controls i {
    flex-basis: 0;
    flex-grow: 1;
    align-items: center;
    text-align: center;
}

.player-controls i:hover {
    cursor: pointer;
}

.player-controls svg {
    flex-basis: 0;
    flex-grow: 1;
    align-items: center;
    text-align: center;
}

.player-controls svg:hover {
    cursor: pointer;
}

.player-controls i, .player-controls .loader-container {
    flex-basis: 0;
    flex-grow: 1;
    align-items: center;
    text-align: center;
    line-height: normal;
}

.player-controls i {
    font-size: 20pt;
}

.player-controls i:hover {
    cursor: pointer;
}

.loader {
    width: 20px;
    height: 20px;
    padding: 0;
    border: 2px solid var(--text-color);
    border-bottom-color: var(--background-shade);
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}