.player-controls {
    display: flex;
    margin: auto;
    font-size: 16pt;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    max-width: 300px;
}

.player-controls i {
    flex-basis: 0;
    flex-grow: 1;
    align-items: center;
    text-align: center;
}

.player-controls i:hover {
    cursor: pointer;
}

.player-controls svg {
    flex-basis: 0;
    flex-grow: 1;
    align-items: center;
    text-align: center;
}

.player-controls svg:hover {
    cursor: pointer;
}

.player-controls i, .player-controls .loader-container {
    flex-basis: 0;
    flex-grow: 1;
    align-items: center;
    text-align: center;
    line-height: normal;
}

.player-controls i:hover {
    cursor: pointer;
}

.player-controls .active-button {
    margin-top: 8px;
}

.player-controls .active-button:after {
    background-color: currentcolor;
    border-radius: 50%;
    bottom: 0;
    content: "";
    display: block;
    height: 4px;
    left: 50%;
    position: absolute;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 4px;
}