{% extends 'tosti/base.html' %}
{% load static %}

{% block title %}
    Server error (500)
{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'tosti/css/viewheight.css' %}"/>
{% endblock %}

{% block header %}

{% endblock %}

{% block page %}
    <div class="container-fluid min-vh-100" style="background-color: rgba(232, 179, 101, 1);">
        <div class="flex-container min-vh-100 container-fluid">
            <div class="container-centered p-5" style="background-color: var(--background-color)">
                <div class="flex-container mb-2">
                    <img class="container-centered" style="height: 150px; width: auto;" src="{% static 'tosti/svg/TOSTI-logo.svg' %}">
                </div>
                <h1 style="font-size: 2rem">Something went wrong!</h1>
                <p style="font-size: 1rem">Something went wrong on our servers, it might be too busy on our website right now. Please try again
                    later. This error has been logged and will be looked at by our programmers.</p>
                <a href="{% url "index" %}"> ← Back to TOSTI</a>
            </div>
        </div>
    </div>
{% endblock %}

{% block footer %}

{% endblock %}