{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}TOSTI{% endblock %}
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/png" href="#"/>
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'tosti/css/bootstrap/bootstrap.css' %}"/>
    {% block styles %}{% endblock %}
    <script src="{% static 'tosti/fontawesome/js/all.min.js' %}" crossorigin="anonymous"></script>
</head>
<body>
    <nav class="navbar navbar-expand-md navbar-light sticky-top site-header mb-5">
        <div class="container-fluid">
            <a class="navbar-brand" href="/"><img src="#" height="50"/></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav">
                    <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="{% url "index" %}" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Home
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="{% url "index" %}">Home</a>
                    </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    {% block page %}{% endblock %}
    <footer class="page-footer font-small pt-4">
        <div class="footer-copyright text-center py-3">© 2020 Copyright:
            <a href="/">TOSTI</a>
        </div>
    </footer>
    <script src="{% static 'tosti/js/bootstrap/bootstrap.js' %}"></script>
    {%  block js %}{%  endblock %}
</body>
</html>