{% load static django_bootstrap5 %}
<!DOCTYPE html>
<html lang="en" class="h-100">
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}TOSTI{% endblock %}
    </title>
    <script>
        CSRF_TOKEN = "{{ csrf_token }}";
    </script>
    {% include 'tosti/analytics.html' %}
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Base CSS -->
    {% bootstrap_css %}
    <link href="{% static "tosti/css/base.css" %}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css2?family=Neucha&display=swap" rel="stylesheet">
    {% block styles %}{% endblock %}

    <!-- Fontawesome -->
    <script src="{% static 'fontawesomefree/js/all.min.js' %}"></script>

    <!-- Base JS -->
    <script src="{% static 'tosti/js/base.js' %}"></script>

    <!-- Icons -->
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'tosti/favicon/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'tosti/favicon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'tosti/favicon/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'tosti/favicon/site.webmanifest' %}">
    <meta name="msapplication-TileColor" content="#e8b365">
    <meta name="theme-color" content="#e8b365">

    <!-- Vue JS -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.min.js"></script>

    <!-- TaTa.js notifications -->
    <script src="{% static 'tosti/js/tata.js' %}"></script>
</head>
<body class="d-flex flex-column h-100">
<div id="page-container">
    {% block header %}
        <nav class="navbar navbar-expand-lg site-header sticky-top navbar-dark">
            <div class="container">
                <div class="d-block d-lg-none">
                    <a class="navbar-brand drop-out-header-mobile" href="/"><img
                            src="{% static 'tosti/svg/TOSTI-logo.svg' %}" height="80"/></a>
                </div>
                <button class="navbar-toggler ms-auto" type="button" data-bs-toggle="offcanvas"
                        data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar"
                     aria-labelledby="offcanvasNavbarLabel">
                    <div class="offcanvas-header" style="background-color: var(--nav-background-color);">
                        <button type="button" class="btn-close btn-close-white ms-auto" data-bs-dismiss="offcanvas"
                                aria-label="Close"></button>
                    </div>
                    <div class="offcanvas-body" style="background-color: var(--nav-background-color);">
                        <ul class="navbar-nav w-100 order-1 order-md-0">
                            <li class="nav-item">
                                <a class="nav-link extra-margin-top-mobile" href="{% url "index" %}">
                                    Home
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url "explainers" %}">
                                    How does this work?
                                </a>
                            </li>
                        </ul>
                        <div class="mx-auto order-0 position-relative d-lg-block d-none">
                            <a class="navbar-brand drop-out-header" href="/"><img src="{% static 'tosti/svg/TOSTI-logo.svg' %}"
                                                                                  height="120"/></a>
                        </div>
                        <ul class="navbar-nav w-100 order-3 d-flex justify-content-end">
                            <li class="nav-item">
                                <a class="nav-link" href="{% url "thaliedje:index" %}">
                                    Thaliedje
                                </a>
                            </li>
                            {% if not user.is_authenticated %}
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url "login" %}">
                                        Login
                                    </a>
                                </li>
                            {% else %}
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink"
                                       data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        {{ user.get_short_name }}
                                    </a>
                                    <div class="dropdown-menu p-2" aria-labelledby="navbarDropdownMenuLink">
                                        <a class="nav-link text-dark" href="{% url "venues:calendar" %}">
                                            Calendar
                                        </a>
                                        <a class="nav-link text-dark" href="{% url "venues:list_reservations" %}">
                                            Venue reservations
                                        </a>
                                        {% if request.user.basic_borrel_brevet %}
                                            <a class="nav-link text-dark" href="{% url "borrel:list_reservations" %}">
                                                Borrel reservations
                                            </a>
                                        {% endif %}
                                        <hr class="my-1">
                                        <a class="nav-link text-dark" href="{% url "documentation" %}">
                                            Documentation
                                        </a>
                                        <a class="nav-link text-dark" href="{% url "privacy" %}">
                                            Privacy
                                        </a>
                                        <hr class="my-1">
                                        {% if user.is_staff %}
                                            <a class="nav-link text-dark" href="{% url "admin:index" %}">
                                                Site admin
                                            </a>
                                        {% endif %}
                                        <a class="nav-link text-dark" href="{% url "users:account" %}">
                                            Account
                                        </a>
                                        <a class="nav-link text-dark" href="{% url "logout" %}">
                                            Logout
                                        </a>
                                    </div>
                                </li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
    {% endblock %}
    <div class="page">
        {% block page %}{% endblock %}
    </div>
</div>
{% block footer %}
{% endblock %}
{% bootstrap_javascript %}
{% block js %}{% endblock %}
</body>
</html>
