{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}TOSTI{% endblock %}
    </title>
    {% include 'tosti/analytics.html' %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css2?family=Neucha&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'tosti/css/bootstrap/bootstrap.css' %}"/>
    {% block styles %}{% endblock %}
    <script src="https://code.jquery.com/jquery-3.5.1.min.js" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/cb8ec32f27.js" crossorigin="anonymous"></script>
    <script src="{% static 'tosti/js/base.js'  %}"></script>
    <link rel="stylesheet" href="{% static 'tosti/css/base.css' %}"/>


    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'tosti/favicon/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'tosti/favicon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'tosti/favicon/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'tosti/favicon/site.webmanifest' %}">
    <link rel="mask-icon" href="{% static 'tosti/favicon/safari-pinned-tab.svg' %}" color="#d9a75d">
    <meta name="msapplication-TileColor" content="#d9a75d">
    <meta name="theme-color" content="#ff0000">
</head>
<body>
    <nav class="navbar navbar-expand-md sticky-top site-header mb-5 navbar-dark">
        <div class="container">
            <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link extra-margin-top-mobile" href="{% url "index" %}">
                            Home
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url "orders:shifts" %}">
                            Order now
                        </a>
                    </li>
                </ul>
            </div>
            <div class="mx-auto order-0 navbar-collapse collapse position-relative">
                <a class="navbar-brand drop-out-header" href="/"><img src="{% static 'tosti/svg/TOSTI-logo.svg' %}" height="120"/></a>
            </div>
            <div class="order-0 d-block d-md-none">
                <a class="navbar-brand drop-out-header-mobile" href="/"><img src="{% static 'tosti/svg/TOSTI-logo.svg' %}" height="80"/></a>
            </div>
            <div class="navbar-collapse collapse w-100 order-3 dual-collapse2 ">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url "marietje:index" %}">
                            Marietje
                        </a>
                    </li>
                    {% if not user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url "users:login" %}">
                                Login
                            </a>
                        </li>
                    {% else %}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                {{ user.username }}
                            </a>
                            <div class="dropdown-menu p-2" aria-labelledby="navbarDropdownMenuLink">
                                {% if user.is_staff %}
                                    <a class="nav-link text-dark" href="{% url "admin:index" %}">
                                        Site admin
                                    </a>
                                {% endif %}
                                <a class="nav-link text-dark" href="{% url "users:account" %}">
                                    Account
                                </a>
                                <a class="nav-link text-dark" href="{% url "users:logout" %}">
                                    Logout
                                </a>
                            </div>
                        </li>
                    {% endif %}
                </ul>
            </div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </nav>
    <div class="page">
        {% block page %}{% endblock %}
    </div>
    <div class="pb-2 pt-2">
    </div>
    {% block footer %}
        <footer class="page-footer navbar navbar-expand-md fixed-bottom">
                <div class="container text-left footer-copyright py-1 justify-content-center">
                    <p class="p-0 m-0">© 2020 Copyright: <a href="/">TOSTI</a></p>
                </div>
                <div class="container text-right footer-copyright py-1 justify-content-center">
                    <p class="p-0 m-0"><a href="{% url "privacy" %}">Privacy</a></p>
                </div>
        </footer>
    {% endblock %}
    <script src="{% static 'tosti/js/bootstrap/bootstrap.js' %}"></script>
    {%  block js %}{%  endblock %}
</body>
</html>
