{% extends 'tosti/base.html' %}

{% block page %}
    <div class="container mt-5 mb-5 text-center">
        <h1>Documentation</h1>
        <h6>Useful links for getting the most out of TOSTI.</h6>
    </div>
    <div class="container d-flex justify-content-center flex-wrap">
        <a class="documentation-container text-center" style="width: 200px;" href="https://github.com/KiOui/TOSTI">
            <i class="fab fa-github" style="font-size: 2rem;"></i>
            <p>Source code</p>
        </a>
        <a class="documentation-container text-center text-primary" style="width: 200px;" href="https://kioui.github.io/TOSTI/">
            <i class="fab fa-github-alt" style="font-size: 2rem;"></i>
            <p>GitHub Pages</p>
        </a>
        <a class="documentation-container text-center text-primary" style="width: 200px;" href="{% url 'swagger' %}">
            <i class="fas fa-plug" style="font-size: 2rem;"></i>
            <p>API Documentation</p>
        </a>
    </div>
{% endblock %}