{% extends 'tosti/base.html' %}
{% load static order_now start_shift queue %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'tosti/css/index.css' %}"/>
{% endblock %}

{% block page %}
    <div class="container mt-5 mb-5 text-center">
        <h1 class="tosti-title">TOSTI</h1>
        <h6>Tartarus Order System for Take-away Items</h6>
    </div>
    <div class="container">
        {%  render_order_now_buttons_venues  %}
    </div>
    {% if user.is_authenticated and user.is_staff %}
    <div class="container">
        {%  render_start_shift_buttons  %}
    </div>
    {% endif %}

    <hr>
    <div class="btn-ml btn-on" onclick="window.location.href = '{% url 'marietje:index' %}';">
        <p><i class="fab fa-spotify"></i> Go to Marietje</p>
    </div>

    <div class="container mt-5 mb-5 text-center">

    {% for venue in venues %}
        {% if venue.active %}
            <div class="card mx-auto mx-md-2 mb-3" style="max-width: 33%; min-width: 300px;">
                <div class="card-body">
                    <h2>{{ venue }}</h2>
                    {%  render_venue_player venue  %}
                    <a href="{% url 'marietje:now_playing' venue=venue %}" class="w-100 btn btn-primary">Go to {{ venue }}</a>
                </div>
            </div>
        {% endif %}
    {% endfor %}

{% endblock %}