{% extends 'tosti/base.html' %}
{% load static order_now start_shift marietje %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'tosti/css/index.css' %}"/>
{% endblock %}

{% block page %}
    <div class="container mt-5 mb-5 text-center">
        <h1 class="tosti-title">TOSTI</h1>
        <h6>Tartarus Order System for Take-away Items</h6>
    </div>
    <div class="container">
        {% render_order_now_buttons_venues %}
    </div>

    {% if show_start_shift_buttons %}
        <div class="container">
        <hr>
        </div>
        <div class="container">
            {% render_start_shift_buttons %}
        </div>
    {% endif %}

    <div class="container">
    <hr>
    </div>
    <div class="container">
        <div class="btn-ml btn-on" onclick="window.location.href = '{% url 'marietje:index' %}';">
            <p><i class="fab fa-spotify"></i> Go to Marietje</p>
        </div>
    </div>

{% endblock %}