{% load static django_bootstrap5 %}

<h2>OAuth Applications</h2>
<p>
    In order to communicate with the TOSTI API, you need an access token. You can request this access token by
    using <a href="https://www.rfc-editor.org/rfc/rfc6749">the OAuth 2.0 standard</a>. An access token can be requested
    by using a Client ID and Client Secret. These can be created by creating an application below. Note that your Client
    Secret will only be visible once, you should copy it and store it in a safe place.
</p>
<div class="d-flex flex-column justify-content-center">
    <div class="d-flex flex-row justify-content-end mb-3">
        <button type="button" class="btn btn-success ms-auto" data-bs-toggle="modal" data-bs-target="#create-application-modal">Create new Application</button>
    </div>
    <div class="modal" id="create-application-modal" tabindex="-1" role="dialog" aria-labelledby="create-application-modal-label" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title">Create new OAuth application</h3>
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form method="POST">
                    <div class="modal-body">
                            {% csrf_token %}
                            {% bootstrap_form create_form %}
                            <input name="active" type="hidden" value="oauth_credentials"/>
                            <input name="action" type="hidden" value="create"/>
                            <input name="page" type="hidden" value="{{ page_obj.number }}"/>
                    </div>
                    <div class="modal-footer">
                        {% bootstrap_button button_type="submit" content="Create" extra_classes="w-100" %}
                    </div>
                </form>
            </div>
        </div>
    </div>
    {% if page_obj|length > 0 %}
        <table class="w-100 my-2 table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Client ID</th>
                    <th style="width: 65px;">Details</th>
                </tr>
            </thead>
            <tbody>
                {% for application in page_obj %}
                    <tr>
                        <th>{{ application.name }}</th>
                        <th>{{ application.client_id }}</th>
                        <th><button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#details-modal-{{ application.id }}">Details</button></th>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        {% for application in page_obj %}
            <div class="modal" id="details-modal-{{ application.id }}" tabindex="-1" role="dialog" aria-labelledby="details-modal-{{ application.id }}-label" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h3 class="modal-title">{{ application.name }}</h3>
                            <button type="button" class="btn btn-danger" data-bs-dismiss="modal" aria-label="Close">
							    <span aria-hidden="true">&times;</span>
						    </button>
                        </div>
                        <div class="modal-body">
                            <form method="POST">
                                {% csrf_token %}
                                {% bootstrap_form application.modify_form %}
                                <input name="active" type="hidden" value="oauth_credentials"/>
                                <input name="action" type="hidden" value="update"/>
                                <input name="page" type="hidden" value="{{ page_obj.number }}"/>
                                <input name="id" type="hidden" value="{{ application.id }}"/>
                                {% bootstrap_button button_type="submit" content="Update" extra_classes="w-100 mb-2" %}
                            </form>
                            <form method="POST">
                                {% csrf_token %}
                                <input name="active" type="hidden" value="oauth_credentials"/>
                                <input name="action" type="hidden" value="destroy"/>
                                <input name="id" type="hidden" value="{{ application.id }}"/>
                                {% bootstrap_button button_type="submit" content="Delete" extra_classes="w-100 btn-danger delete-button" %}
                            </form>
                            <hr>
                            <div class="alert alert-secondary">
                                <h5 class="alert-heading text-start">Credentials</h5>
                                Client ID: <a class="alert-link user-select-all text-break">{{ application.client_id }}</a><br><br>
                                Client Secret: The Client Secret is only available at time of creation. If you lost your
                                Client Secret, please create a new application and delete this one.
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger" data-bs-dismiss="modal" aria-label="Close">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <p class="alert alert-warning">There are no applications registered under your account yet.</p>
    {% endif %}
</div>
<div class="container-fluid mt-3 text-center">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="{% url 'users:account' %}?page=1&active=oauth_credentials&action=list">&laquo; first</a>
            <a href="{% url 'users:account' %}?page={{ page_obj.previous_page_number }}&active=oauth_credentials&action=list">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
        </span>

        {% if page_obj.has_next %}
            <a href="{% url 'users:account' %}?page={{ page_obj.next_page_number }}&active=oauth_credentials&action=list">next</a>
            <a href="{% url 'users:account' %}?page={{ page_obj.paginator.num_pages }}&active=oauth_credentials&action=list">last &raquo;</a>
        {% endif %}
    </span>
</div>
{% if created_application %}
    <div class="modal" id="created-application-modal" tabindex="-1" role="dialog" aria-labelledby="created-application-modal-label" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title">OAuth Application details</h3>
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p class="text-start mb-2">
                        The application "{{ created_application.name }}" has been created. Please copy the Client ID and
                        Client Secret from the box below. Note that the Client Secret will <strong class="text-warning text-uppercase">
                        only be displayed once</strong> here. After closing this popup you will not be able to get
                        access to the Client Secret anymore.
                    </p>
                    <div class="alert alert-secondary">
                        <h5 class="alert-heading text-start">Credentials</h5>
                        Client ID:<br><a class="alert-link user-select-all text-break">{{ created_application.client_id }}</a><br><br>
                        Client Secret:<br><a class="alert-link user-select-all text-break">{{ created_application.client_secret }}</a><br>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal" aria-label="Close">Close</button>
                </div>
            </div>
        </div>
    </div>
    <script>
        window.addEventListener('load', function () {
            let createdModal = new bootstrap.Modal(document.getElementById('created-application-modal'), {})
            createdModal.toggle()
        });
    </script>
{% elif create_form_open %}
    <script>
        window.addEventListener('load', function () {
            let createModal = new bootstrap.Modal(document.getElementById('create-application-modal'), {})
            createModal.toggle()
        });
    </script>
{% elif open_modify_form_id %}
    <script>
        window.addEventListener('load', function () {
            let modifyModal = new bootstrap.Modal(document.getElementById('details-modal-{{ open_modify_form_id }}'), {})
            modifyModal.toggle()
        });
    </script>
{% endif %}

<script>
    const delete_buttons = document.getElementsByClassName('delete-button');
    for (let i = 0; i < delete_buttons.length; i++) {
        let delete_button = delete_buttons[i];
        delete_button.onclick = function(event) {
            if (!confirm("Are you sure you want to delete these OAuth credentials? This action can not be reversed.")) {
                event.preventDefault();
            }
        }
    }
</script>