{% extends 'tosti/base.html' %}

{% block page %}
    <div class="container mb-5">
        <div class="row" id="page-sidebar-container">
            <div class="col-md">
                {% block content %}
                {% endblock %}
            </div>
            <div class="col-md-4">
                {% block sidebar %}
                {% endblock %}
            </div>
        </div>
    </div>
    <div class="container mb-5">
        {% block page-footer %}
        {% endblock %}
    </div>
{% endblock %}