{% extends "tosti/base.html" %}
{% load static %}

{% block title %}
    TOSTI: Statistics
{% endblock %}

{% block page %}
    <div class="container mt-5">
        <h1>Statistics</h1>
        <div class="row mb-5">
            <div class="col-lg">
                <canvas id="ordered-items-chart" class="statistics-canvas"
                    data-data="{{ ordered_items_distribution }}"
                    data-title="Ordered items"
                    data-chart-type="pie">
                </canvas>
            </div>
            <div class="col-lg">
                <canvas id="orders-per-venue-chart" class="statistics-canvas"
                    data-data="{{ orders_per_venue }}"
                    data-title="Orders per venue"
                    data-chart-type="pie">
                </canvas>
            </div>
        </div>
        <div class="row mb-5">
            <div class="col-lg">
                <canvas id="most-requested-songs-chart" class="statistics-canvas"
                    data-data="{{ most_requested_songs }}"
                    data-title="Most requested songs"
                    data-chart-type="bar">
                </canvas>
            </div>
            <div class="col-lg">
                <canvas id="users-with-most-requests-chart" class="statistics-canvas"
                    data-data="{{ users_with_most_requests }}"
                    data-title="Users with most requests"
                    data-chart-type="bar">
                </canvas>
            </div>
        </div>
        <div class="row mb-5">
            <div class="col">
                <canvas id="users-per-association-chart" class="statistics-canvas"
                    data-data="{{ users_per_association }}"
                    data-title="Users per association"
                    data-chart-type="bar">
                </canvas>
            </div>
        </div>
        {% if borrel_product_category is not None %}
            <div class="row mb-5">
                <div class="col">
                    <canvas id="borrel-product-category-ordered-per-association-chart" class="statistics-canvas"
                        data-data="{{ borrel_product_category_ordered_per_association }}"
                        data-title="Amount of products ordered in the '{{ borrel_product_category.name }}' category per association"
                        data-chart-type="bar">
                    </canvas>
                </div>
            </div>
            <div class="row mb-5">
                <div class="col">
                    <canvas id="borrel-product-category-average-ordered-per-association-per-borrel-chart" class="statistics-canvas"
                        data-data="{{ average_beer_per_association_per_borrel }}"
                        data-title="Average of products ordered in the '{{ borrel_product_category.name }}' category per association per borrel reservation"
                        data-chart-type="bar">
                    </canvas>
                </div>
            </div>
            <div class="row mb-5">
                <div class="col">
                    <canvas id="borrel-product-category-ordered-per-month-chart" class="statistics-canvas"
                        data-data="{{ beer_consumption_over_time }}"
                        data-title="Amount of products ordered in the '{{ borrel_product_category.name }}' category per month in total"
                        data-chart-type="line">
                    </canvas>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}

{% block js %}
    <script src="https://cdn.jsdelivr.net/npm/chart.js@4.2.1/dist/chart.umd.min.js"></script>
    <script src="{% static 'tosti/js/statistics.js' %}"></script>
{% endblock %}