{% load start_shift players order_now %}
<div class="col mb-3">
    <div class="card mx-auto mx-lg-2" style="max-width: 500px;">
        <div class="card-header">
            <h2>{{ venue }}</h2>
        </div>
        {% with venue|currently_active_shift_for_venue as venue_shift %}
            {% if venue.venue.player %}
            <a href="{% url 'thaliedje:now_playing' player=venue.venue.player %}">
                <div class="card-body">
                    {% if show_player %}
                        <h5>Currently playing:</h5>
                        {% render_venue_player venue.venue %}
                    {% else %}
                        <h5>No music player</h5>
                    {% endif %}
                </div>
            </a>
            {% else %}
                <div class="card-body">
                    <h5>No music player</h5>
                </div>
            {% endif %}
            <div class="card-footer">
                {% render_order_now_button venue=venue shift=venue_shift %}
                {% if admin %}
                    {% if venue_shift and venue_shift.is_active %}
                        <a href="{% url 'orders:shift_join' shift=venue_shift %}">
                            <div class="btn-ml btn-on my-2">
                                <h4 class="my-0">
                                    Join shift at {{ venue }}
                                </h4>
                            </div>
                        </a>
                    {% elif venue_shift %}
                        <a href="{% url 'orders:shift_create' venue=venue %}">
                            <div class="btn-ml btn-on my-2">
                                <h4 class="my-0">
                                    Start shift
                                </h4>
                            </div>
                        </a>
                        <a href="{% url 'orders:shift_join' shift=venue_shift %}">
                            <div class="btn-ml btn-on my-2">
                                <h4 class="my-0">
                                    Show last shift
                                </h4>
                            </div>
                        </a>
                    {% else %}
                        <a href="{% url 'orders:shift_create' venue=venue %}">
                            <div class="btn-ml btn-on my-2">
                                <h4 class="my-0">
                                    Start shift
                                </h4>
                            </div>
                        </a>
                    {% endif %}
                {% endif %}
            </div>
        {% endwith %}
        {% if venue_reservation and show_venue_reservation %}
            <div class="card-body bg-dark text-center">
                    <span class="my-2">
                        Currently reserved{% if venue_reservation.association %} by {{ venue_reservation.association }}{% endif %} until {{venue_reservation.end|date:'D H:i'}} for
                    </span>
                <h4 class="mb-1">{{ venue_reservation.title }}</h4>
            </div>
        {% endif %}
    </div>
</div>
