{% extends 'tosti/base.html' %}

{% block page %}
    <div class="container mt-5 mb-5 text-center">
        <h1>Welcome</h1>
        <h6>Welcome to TOSTI!</h6>
    </div>
    <div class="container">
        <h3>Complete your account</h3>
        <p>Please first complete your account details by entering your information on the
            <a target="_blank" href="{% url 'users:account' %}">Account page</a>.
        </p>
    </div>
    <div class="container">
        <h3>Quick start guide</h3>
        <p>Now you only need to know how this tool works! Go to the
            <a target="_blank" href="{% url 'explainers' %}">Explainer page</a> to get a quick overview of the
            features of TOSTI. Happy ordering!
        </p>
    </div>
{% endblock %}