.site-header {
    height: 84px;
}

/* For the music screen */
.progress {
    height: 10px !important;
}

.user-order-list {
    font-size: 30pt;
    list-style-type: none;
    padding-inline-start: unset;
    padding: unset;
    display: flex;
    justify-content: center;
    align-content: flex-start;
    gap: 10px;
    flex-wrap: wrap;
}

.user-order-list li.user-order-item {
    display: inline-flex;
    background-color: var(--primary);
    border-radius: 15px;
    padding: 10px 15px;
    justify-content: center;
}

.orders-ready li.user-order-item {
    background-color: var(--success);
}

.user-order-list li .order-user-name {
    margin-right: 20px;
}

.order-list {
    list-style-type: none;
    padding-inline-start: unset;
    padding: unset;
}

.order-list li.order-item {
    display: inline;
}

.orders_in_progress-move,
.orders_in_progress-enter-active,
.orders_in_progress-leave-active,
.orders_ready-move,
.orders_ready-enter-active,
.orders_ready-leave-active {
  transition: all 0.5s ease;
}
.orders_in_progress-enter-from,
.orders_in_progress-leave-to,
.orders_ready-enter-from,
.orders_ready-leave-to {
  opacity: 0;
  transform: translateX(30px);
}

@media screen and (max-width: 992px) {
    .site-header {
        height: 59px;
    }
}