{% extends 'tosti/base.html' %}
{% load static %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'users/css/centered-container.css' %}"/>
{% endblock %}

{% block page %}
    <div class="container-sm">
        <h1>Account</h1>
        <p>The details of your account are displayed below</p>
        <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item" style="padding-bottom: 0;">
                <a class="nav-link" id="account-tab" href="{% url 'users:account' %}"
                   >Personal details</a>
            </li>
            <li class="nav-item" style="padding-bottom: 0;">
                <a class="nav-link active" id="order-history-tab" href="{% url 'orders:history' %}"
                   >Order history</a>
            </li>
            <li class="nav-item" style="padding-bottom: 0;">
                <a class="nav-link" id="request-history-tab" href="{% url 'thaliedje:history' %}"
                   >Track requests history</a>
            </li>
        </ul>
        <div class="tab-content mt-5">
            <div class="tab-pane active mt-2" id="order-history-tab" role="tabpanel" aria-labelledby="order-history-tab">
                <h2>Order history</h2>
                <div class="d-flex flex-column justify-content-center">
                    {% if orders|length > 0 %}
                        <div class="d-flex my-2">
                            <div class="flex-grow-1" style="flex-basis: 0;">Product</div>
                            <div class="flex-grow-1" style="flex-basis: 0;">Shift</div>
                            <div class="flex-grow-1" style="flex-basis: 0;">Ordered at</div>
                        </div>
                        <div class="border"></div>
                        {% for order in orders %}
                            <div class="d-flex my-2">
                                <div class="flex-grow-1" style="flex-basis: 0;">{{ order.product }}</div>
                                <div class="flex-grow-1" style="flex-basis: 0;">{{ order.shift }}</div>
                                <div class="flex-grow-1" style="flex-basis: 0;">{{ order.created }}</div>
                            </div>
                            <div class="border"></div>
                        {% endfor %}
                    {% else %}
                        <p class="alert alert-warning">You have not placed any orders yet.</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
