{% load static %}

{% if not refresh %}
    <footer class="page-footer navbar navbar-expand-md fixed-bottom" id="footer-container">
{% endif %}
<div class="container text-center">
    <div class="row flex-grow-1 navbar-collapse collapse" id="footer-menu">
        <div class="col expand-mobile">
            <div id="shift-status" class="btn-ml m-auto cursor-pointer {% if shift.can_order %}bg-success{% else %}bg-danger{% endif %}" onclick="toggle_shift_activation(this);">
                <i class="far fa-hand-paper"></i>
                <p class="font-footer">Allow/disallow orders</p>
            </div>
        </div>
        <div class="col expand-mobile">
            <div class="btn-ml btn-on m-auto" onclick="add_time();">
                <i class="far fa-clock"></i> + 5
                <p class="font-footer">Postpone end time</p>
            </div>
        </div>
        <div class="col expand-mobile">
            <div class="btn-ml btn-on m-auto" onclick="add_capacity();">
                <i class="fas fa-list"></i> + 5
                <p class="font-footer">Allow more orders</p>
            </div>
        </div>
        <div class="col expand-mobile">
            <div class="btn-ml btn-on m-auto w-100" onclick="window.location.href = '{% url "orders:shift_overview" shift=shift %}';">
                <i class="fas fa-users"></i>
                <p class="font-footer">Go to order page</p>
            </div>
        </div>
    </div>
    <button class="navbar-toggler m-auto" style="border: 0" type="button" data-toggle="collapse" data-target="#footer-menu">
        <i class="fas fa-caret-up text-white"></i>
    </button>
</div>
{% if not refresh %}
    </footer>
{% endif %}

{% if not refresh %}
    <link rel="stylesheet" href="{% static 'orders/css/admin-footer.css' %}"/>
    <script>
        const FOOTER_CSRF_TOKEN = "{{ csrf_token }}";
        const FOOTER_REFRESH_URL = "{% url 'orders:shift_refresh_admin_footer' shift=shift %}";
        const FOOTER_SHIFT_STATUS = document.getElementById('shift-status');
    </script>
    <script src="{% static 'orders/js/asynch-update-admin-footer.js' %}"></script>
{% endif %}