{% load static %}

<link rel="stylesheet" href="{% static 'orders/css/item-list.css' %}"/>

<div class="container mt-5 mb-5 text-center">
    <h2>How to process deposit?</h2>
    <h6>Help recycling cans!</h6>
</div>
<p>
    Tartarus sells items that sometimes have a deposit on them (for example, the tin cans with soda). These cans can
    be handed in at the counter for recycling. If a user hands in a used can with deposit, they receive a balance in
    TOSTI that can be used for discount on future purchases. This guide will show you how to process a user that
    wants to hand in a deposit.
</p>
<hr>
<h3><i class="fa-solid fa-sign-in-alt"></i><br>1. Go to a running shift</h3>
<p>
    Deposit can only be processed during a TOSTI-shift. If you are not sure how to start a shift, please refer to the
    "How to manage a shift?" tab above. Make sure you are in the baker view of the shift.
</p>
<hr>
<h3><i class="fa-solid fa-piggy-bank"></i><br>2. Let the user open an account</h3>
<p>
    Before the user can hand in a deposit, they need to open an account in TOSTI. Users can open an account by
    going to the <a href="{% url 'users:account' %}?active=transactions">"Transactions" tab</a> for their account.
</p>
<hr>
<h3><i class="fa-solid fa-user"></i><br>3. Let the user open their personal QR code</h3>
<p>
    The user should identify themselves to you with their personal TOSTI-QR code, by pressing the <i class="fa-solid fa-qrcode fa-xl"></i> button in
    the top-right corner when they are logged in to TOSTI.
</p>
<hr>
<h3><i class="fa-solid fa-qrcode"></i><br>4. Open the QR code scanner</h3>
<p>
    Now you can open the QR-scanner on the shift administrator screen by pressing the <i class="fa-solid fa-qrcode"></i>
    scanner button on the bottom of the shift page.
</p>
<p>
    A screen will popup asking for permission to use the camera of your device. Press accept to start the
    scanner. You can now scan the QR code of the user with your camera.
</p>
<hr>
<h3><i class="fa-solid fa-plus-square"></i><br>5. Add a transaction</h3>
<p>
    A new screen will pop up, showing the name of the user and the current balance of the user. You are now able to
    add or subtract balance by adding a new transaction to the user's account. Once you add a transaction, the popup
    will update and the new balance of the user will be shown.
</p>
<p>
    When a user hands in some deposit you can add this to their account, when a user wants to use their deposit you can
    remove some of their deposit from their account.
</p>
<p>
    After adding the transaction you can manually give the user a discount on their payment.
</p>