{% extends 'tosti/base.html' %}
{% load static %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'orders/css/item-list.css' %}"/>
    <link rel="stylesheet" href="{% static 'tosti/css/index.css' %}"/>
{% endblock %}

{% block page %}
    <div class="container-sm mb-5 text-center">
        <h1>Join {{ shift.venue.name }} shift #{{ shift.pk }}</h1>
        <p>Do you want to join this shift as a baker (add yourself to the baker list)?</p>
        <form method="POST">
            {% csrf_token %}
            <input type="submit" value="Yes" name="confirm" class="btn btn-success"/>
            <input type="submit" value="No" name="confirm" class="btn btn-danger"/>
        </form>
    </div>
{% endblock %}