{% load static %}

<div class="container-sm" id="item-orders-{{ shift.id }}">
    <link rel="stylesheet" href="{% static 'orders/css/item-list.css' %}"/>

    <!-- Order buttons -->
    <div v-if="!shift.finalized && shift.can_order && shift.is_active">
        <h5>Place your order:</h5>
        <div class="row row-cols-2 row-cols-md-4 justify-content-center align-items-stretch">
            <div class="col mb-3 d-flex justify-content-center align-items-stretch" v-for="product in products">
                <div class="flex-grow-1">
                    <button class="btn btn-lg btn-ml m-auto cursor-pointer btn-on d-flex flex-column align-items-center" style="border-radius: 0; max-width: unset;"
                        :class="{ disabled: addingOrder || orders.length >= shift.max_orders_total || user_orders_with_shift_restrictions.length >= shift.max_orders_per_user && !product.ignore_shift_restrictions || product.max_allowed_per_shift !== null && user_orders_with_product_id(product.id).length >= product.max_allowed_per_shift }"
                        v-on:click="add_order(product)"
                    >
                        <span :class="{ invisible: addingOrder }"><i v-if="product.icon !== null" :class="`fa-solid fa-${product.icon} me-2`"></i></span>
                        <span :class="{ invisible: addingOrder }">Order <% product.name %></span>
                        <span class="small" :class="{ invisible: addingOrder }"><% format_price(product.current_price) %></span>
                    </button>
                    <div class="card-footer rounded-bottom text-center"
                         v-if="orders.length >= shift.max_orders_total || user_orders_with_shift_restrictions.length >= shift.max_orders_per_user && !product.ignore_shift_restrictions || product.max_allowed_per_shift !== null && user_orders_with_product_id(product.id).length >= product.max_allowed_per_shift"
                    >
                        <span class="small" v-if="orders.length >= shift.max_orders_total">
                                This shift is full
                        </span>
                        <span class="small" v-else-if="user_orders_with_shift_restrictions.length >= shift.max_orders_per_user && !product.ignore_shift_restrictions">
                                Max. orders in this shift reached
                        </span>
                        <span class="small" v-else-if="product.max_allowed_per_shift !== null && user_orders_with_product_id(product.id).length >= product.max_allowed_per_shift">
                                Max. orders for this product reached
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div v-if="user_orders.length > 0">
            <button class="btn btn-lg btn-ml m-auto cursor-pointer btn-on d-flex" style="border-radius: 0; max-width: fit-content;" v-on:click="user_orders.forEach(order_to_bottom_of_list)" :class="{ disabled: user_orders_not_at_bottom == 0}">
                Place my order at the bottom of the list
            </button>
        </div>
    </div>

    <div style="font-size: 20pt;" class="d-flex align-items-center justify-content-center">
        <div class="flex-grow-1 me-3">
            <hr>
        </div>
    </div>

    <div class="mt-2">

        <!-- Item orders -->
        <transition-group name="orderlist" tag="ul" class="item-orders">
            <li v-for="(order, index) of orders" :key="`orderlist_order_${order.id}`" class="pt-2 pb-2 item-list">
                <div class="information-row">
                    <p class="item-counter"><% index + 1 %>.</p>
                    <p class="item-name"><% order.product.name %> (<% format_price(order.order_price) %>)</p>
                    <i v-if="order.product.icon !== null" :class="`fa-solid fa-${order.product.icon} item-icon`"></i>
                    <div class="flex-divider"></div>
                    <i v-if="order.user !== null && {{ user.id }} === order.user.id"
                       class="fa-solid fa-user user-icon"></i>
                    <p v-if="order.type === 0" class="item-username">
                        <template v-if="order.user !== null"><% order.user.first_name %></template>
                    </p>
                    <i v-else class="item-username fa-solid fa-desktop"></i>
                </div>
                <div class="ms-2 button-row">
                    <template v-if="order.user !== null && {{ user.id }} === order.user.id">
                        <div v-if="order.ready && order.paid" class="status-button me-2 bg-success text-white">
                            Done
                        </div>
                        <div v-else-if="order.ready && !order.paid" class="status-button-processing me-2">
                            Done
                        </div>
                        <div v-else-if="!order.ready && order.paid" class="status-button me-2 bg-warning">
                            Processing
                        </div>
                        <div v-else class="status-button me-2 bg-danger text-white">Not paid</div>
                    </template>
                    <template v-else>
                        <div v-if="order.ready" class="status-button me-2 bg-success text-white">Done</div>
                        <div v-else class="status-button me-2 bg-warning">Processing</div>
                    </template>
                </div>
            </li>
        </transition-group>
        <div v-if="orders.length === 0" id="outer" class="container d-flex align-items-center justify-content-center text-center"
             style="height:200px;">
            <div id="inner">
                No orders yet...
            </div>
        </div>
    </div>
</div>

<style>
    .orderlist-move,
    .orderlist-enter-active,
    .orderlist-leave-active {
      transition: all 0.5s ease;
    }
    .orderlist-enter-from,
    .orderlist-leave-to {
      opacity: 0;
      transform: translateX(30px);
    }
</style>

<script>
    let orders_vue_{{ shift.id }} = new Vue({
        el: '#item-orders-{{ shift.id }}',
        delimiters: ['<%', '%>'],
        data: {
            orders: [],
            shift: {},
            products: [],
            user: null,
            addingOrder: false,
        },
        created() {
             fetch('{% url "v1:me" %}')
                .then(response => response.json())
                .then(json => {
                    this.user = json;
                });
            this.refresh();
        },
        computed: {
             user_orders: function() {
                 let userCopy = this.user;
                 return this.orders.filter(function(order) {
                     return userCopy === null || (order.user !== null && order.user.id === userCopy.id);
                 });
             },
             user_orders_with_shift_restrictions: function() {
                 let userCopy = this.user;
                 return this.orders.filter(function(order) {
                     return userCopy === null || (order.user !== null && order.user.id === userCopy.id && !order.product.ignore_shift_restrictions);
                 });
             },
             orders_with_shift_restrictions: function() {
                 return this.orders.filter(function(order) {
                     return !order.product.ignore_shift_restrictions;
                 });
             },
             user_orders_not_at_bottom: function() {
                let userCopy = this.user;
                let list = this.orders.filter(
                    function(order) {
                        return userCopy === null || (order.user !== null && order.user.id === userCopy.id && !order.deprioritize);
                    }
                );
                return list;
             }
         },
        methods: {
            format_price(priceToFormat) {
                return new Intl.NumberFormat('nl-NL', {
                    style: 'currency',
                    currency: 'EUR',
                    currencyDisplay: "symbol"
                }).format(priceToFormat).trim();
            },
            refresh() {
                return Promise.all([
                    fetch('{% url "v1:product_list" shift=shift %}?orderable=true&available=true')
                        .then(response => response.json())
                        .then(json => {
                            this.products = json;
                        }),
                    fetch('{% url "v1:shift_retrieveupdate" pk=shift.id %}')
                        .then(response => response.json())
                        .then(json => {
                            this.shift = json;
                        }),
                    fetch('{% url "v1:orders_listcreate" shift=shift %}')
                        .then(response => response.json())
                        .then(json => {
                            json = json.filter(order => order.type === 0);
                            this.orders = json;
                        })
                ]);
            },
            user_orders_with_product_id(productId) {
                return this.user_orders.filter(function(order) {
                    return order.product.id === productId;
                });
            },
            add_order(product) {
                this.addingOrder = true;
                fetch('{% url 'v1:orders_listcreate' shift=shift %}', {
                    method: 'POST',
                    body: JSON.stringify({
                        'csrfmiddlewaretoken': get_csrf_token(),
                        'product': product.id,
                        'type': 0,
                    }),
                    headers: {
                        "X-CSRFToken": get_csrf_token(),
                        "Accept": 'application/json',
                        "Content-Type": 'application/json',
                    }
                }).then(response => {
                    if (response.status === 201) {
                        return response.json();
                    } else {
                        throw response;
                    }
                }).then(() => {
                    tata.success('', `${product.name} ordered successfully`);
                }).catch(() => {
                    tata.error('', 'Order failed to submit')
                }).finally(() => {
                    this.refresh().finally(() => {
                        this.addingOrder = false;
                    })
                });
            },
            order_to_bottom_of_list(order) {
                fetch(
                    `/api/v1/shifts/{{ shift.id }}/orders/${order.id}/to-bottom/`,
                    {
                        method: 'PATCH',
                        headers: {
                            "X-CSRFToken": get_csrf_token(),
                            "Accept": 'application/json',
                        }
                    }
                ).then(response => {
                    if (response.status === 200) {
                        return response;
                    } else {
                        throw response;
                    }
                }).then(() => {
                    if (typeof (update_refresh_list) !== 'undefined') {
                        update_refresh_list();
                    }
                }).catch(error => show_error_from_api(error));
            },
        }
    });
    add_refresh_url("{% url "v1:orders_listcreate" shift=shift %}", function (data) {
        data = data.filter(order => order.type === 0);
        orders_vue_{{ shift.id }}.orders = data
    });
    add_refresh_url("{% url "v1:shift_retrieveupdate" pk=shift.id %}", function (data) {
        orders_vue_{{ shift.id }}.shift = data
    });
</script>