{% extends 'tosti/base.html' %}
{% load static %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'orders/css/item-list.css' %}"/>
{% endblock %}

{% block page %}
    <div class="container-sm mb-5">
        <h1>Order</h1>
        <p>You are ordering at {{ shift.venue.name }}</p>
        {% if error %}
            <p class="alert-danger">{{ error }}</p>
        {% endif %}
        {% if items %}
            <ul class="item-list">
                {% for item in items %}
                    <li class="pt-2 pb-2">
                        <form method="POST">
                            {% csrf_token %}
                            <i class="item-icon fas fa-{{ item.icon }}"></i>
                            <p class="item-name">{{ item.name }}</p>
                            <p class="item-price">€{{ item.current_price }}</p>
                            {{ item.form }}
                            <input type="submit" value="Add" class="item-button btn btn-primary"/>
                        </form>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p class="alert-warning">There are currently no available items you can order.</p>
        {% endif %}
    </div>
    {% if ordered_items %}
        <div class="container-sm">
            <h1>Ordered items</h1>
            <ul class="item-list">
                {% for order in ordered_items %}
                    <li class="pt-2 pb-2">
                        <form method="POST">
                            {% csrf_token %}
                            <i class="item-icon fas fa-{{ order.product.icon }}"></i>
                            <p class="item-name">{{ order.product.name }}</p>
                            <p class="item-price">€{{ order.order_price }}</p>
                            {{ order.form }}
                            <input type="submit" value="Delete" class="item-button btn btn-danger"/>
                        </form>
                    </li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
{% endblock %}