{% load static %}

<div class="container-sm" id="item-orders-{{ shift.id }}">
    <link rel="stylesheet" href="{% static 'orders/css/item-list.css' %}"/>

    <div class="mt-2">

        <ul class="nav nav-tabs justify-content-center" role="tablist" id="order-admin-tab">
            <li style="padding-bottom: 0; font-size: 1.2rem;"  role="presentation">
                <a style="cursor: pointer;" class="nav-link active" id="nav-orders-to-process-tab" data-bs-toggle="tab" data-bs-target="#nav-orders-to-process" role="tab" aria-controls="nav-orders-to-process" aria-selected="true">Orders to process</a>
            </li>
            <li style="padding-bottom: 0; font-size: 1.2rem;"  role="presentation">
                <a style="cursor: pointer;" class="nav-link" id="nav-orders-scanned-tab" data-bs-toggle="tab" data-bs-target="#nav-orders-scanned" role="tab" aria-controls="nav-orders-scanned" aria-selected="false">Scanned orders</a>
            </li>
            <li style="padding-bottom: 0; font-size: 1.2rem;"  role="presentation">
                <a style="cursor: pointer;" class="nav-link" id="nav-orders-finished-tab" data-bs-toggle="tab" data-bs-target="#nav-orders-finished" role="tab" aria-controls="nav-orders-finished" aria-selected="false">Finished orders</a>
            </li>
            <li style="padding-bottom: 0; font-size: 1.2rem;"  role="presentation">
                <a style="cursor: pointer;" class="nav-link" id="nav-summary-tab" data-bs-toggle="tab" data-bs-target="#nav-summary" role="tab" aria-controls="nav-summary" aria-selected="false">Summary</a>
            </li>
        </ul>
        <div class="tab-content" id="nav-tab-content">
            <div class="tab-pane show active" id="nav-orders-to-process" role="tabpanel" aria-labelledby="nav-orders-to-process-tab">
                <transition-group name="orders-to-process-list" tag="ul" class="item-orders">
                    <li v-for="(order, index) in orders_to_process" :key="`order_to_process_${order.id}`" class="pt-2 pb-2 item-list">
                        {% include 'orders/order_admin_order.html' %}
                    </li>
                </transition-group>
                <div v-if="orders_to_process.length === 0"  id="outer" class="container d-flex align-items-center justify-content-center text-center"
                     style="height:200px;">
                    <div id="inner">
                        No orders yet...
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="nav-orders-scanned" role="tabpanel" aria-labelledby="nav-orders-scanned-tab">
                <transition-group name="orders-scanned-list" tag="ul" class="item-orders">
                    <li v-for="(order, index) in orders_scanned" :key="`order_scanned_${order.id}`" class="pt-2 pb-2 item-list">
                        <div class="information-row">
                            <p class="item-counter">${ index + 1 }$.</p>
                            <p class="item-name">${ order.product.name }$ (€${ (Math.round(order.order_price * 100) /
                                100).toFixed(2) }$)</p>
                            <i v-if="order.product.icon !== null" :class="`fa-solid fa-${order.product.icon} item-icon`"></i>
                            <div class="flex-divider"></div>
                            <i class="item-username fa-solid fa-desktop"></i>
                        </div>
                        <div v-if="!shift.finalized" class="ms-2 button-row">
                            <input type="button" class="btn btn-danger"
                                   v-on:click="delete_order(order)"
                                   value="Remove"/>
                        </div>
                    </li>
                </transition-group>
                <div v-if="orders_scanned.length === 0" id="outer" class="container d-flex align-items-center justify-content-center text-center"
                     style="height:200px;">
                    <div id="inner">
                        No scanned orders yet...
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="nav-orders-finished" role="tabpanel" aria-labelledby="nav-orders-finished">
                <transition-group name="orders-finished-list" tag="ul" class="item-orders">
                    <li v-for="(order, index) in orders_finished" :key="`order_finished_${order.id}`" class="pt-2 pb-2 item-list">
                        {% include 'orders/order_admin_order.html' %}
                    </li>
                </transition-group>
                <div v-if="orders_finished.length === 0" id="outer" class="container d-flex align-items-center justify-content-center text-center"
                     style="height:200px;">
                    <div id="inner">
                        No finished orders yet...
                    </div>
                </div>
            </div>
            <div class="tab-pane mt-4" id="nav-summary" role="tabpanel" aria-labelledby="nav-summary">
                <div style="max-width: 500px;" class="mx-auto">
                    <h3>Orders to make</h3>
                    <template v-if="Object.keys(orders_to_make_grouped).length > 0">
                        <p v-for="(product_dict, product_name) in orders_to_make_grouped" class="mb-2" style="font-size: 1em;">
                            ${ product_dict.product.name }$ <i :class="`fa-solid fa-${product_dict.product.icon}`"></i>
                            &times; ${ product_dict.amount }$</p>
                    </template>
                    <template v-else>
                        <p class="mb-2" style="font-size: 1em;">No open products.</p>
                    </template>
                    <hr>
                    <h3 class="mt-3">Orders ready</h3>
                    <template v-if="Object.keys(orders_ready_grouped).length > 0">
                        <p v-for="(product_dict, product_name) in orders_ready_grouped" class="mb-2" style="font-size: 1em;">${
                            product_dict.product.name }$ <i :class="`fa-solid fa-${product_dict.product.icon}`"></i> &times;
                            ${ product_dict.amount }$</p>
                    </template>
                    <template v-else>
                        <p class="mb-2" style="font-size: 1em;">No ready products.</p>
                    </template>
                    <hr>
                    <h3 class="mt-3">Orders total</h3>
                    <template v-if="Object.keys(orders_grouped).length > 0">
                        <p v-for="(product_dict, product_name) in orders_grouped" class="mb-2" style="font-size: 1em;">${
                            product_dict.product.name }$ <i :class="`fa-solid fa-${product_dict.product.icon}`"></i> &times;
                            ${ product_dict.amount }$</p>
                    </template>
                    <template v-else>
                        <p class="mb-2" style="font-size: 1em;">No products.</p>
                    </template>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .orders-to-process-list-enter-active,
    .orders-to-process-list-leave-active,
    .orders-scanned-list-enter-active,
    .orders-scanned-list-leave-active,
    .orders-finished-list-enter-active,
    .orders-finished-list-leave-active {
      transition: all 0.5s ease;
    }
    .orders-to-process-list-enter-from,
    .orders-to-process-list-leave-to,
    .orders-scanned-list-enter-from,
    .orders-scanned-list-leave-to,
    .orders-finished-list-enter-from,
    .orders-finished-list-leave-to {
      opacity: 0;
      transform: translateX(30px);
    }
</style>

<script>
    window.orders_vue_{{ shift.id }} = createApp({
        delimiters: ['${', '}$'],
        data() {
            return {
                orders: [],
                shift: {},
                products: [],
                user: null,
                addingOrder: false,
            }
        },
        created() {
             fetch('{% url "v1:me" %}')
                .then(response => response.json())
                .then(json => {
                    this.user = json;
                });
            fetch('{% url "v1:orders_listcreate" shift=shift %}')
                .then(response => response.json())
                .then(json => {
                    this.orders = json;
                });
            fetch('{% url "v1:shift_retrieveupdate" pk=shift.id %}')
                .then(response => response.json())
                .then(json => {
                    this.shift = json;
                });
            fetch('{% url "v1:product_list" shift=shift %}?orderable=True&available=True')
                .then(response => response.json())
                .then(json => {
                    this.products = json;
                });
            add_refresh_url("{% url "v1:orders_listcreate" shift=shift %}", process_refreshed_order_data);
            add_refresh_url("{% url "v1:shift_retrieveupdate" pk=shift.id %}", process_refreshed_shift_data);
        },
        watch: {
            shift: {
                handler(newValue, oldValue) {
                    if (newValue.finalized === true) {
                        remove_refresh_url("{% url "v1:orders_listcreate" shift=shift %}", process_refreshed_order_data);
                        remove_refresh_url("{% url "v1:shift_retrieveupdate" pk=shift.id %}", process_refreshed_shift_data);
                    }
                }
            }
        },
        computed: {
            user_orders() {
                let userCopy = this.user;
                return this.orders.filter(function(order) {
                    return userCopy === null || (order.user !== null && order.user.id === userCopy.id);
                });
            },
            user_orders_with_shift_restrictions() {
                let userCopy = this.user;
                return this.orders.filter(function(order) {
                    return userCopy === null || (order.user !== null && order.user.id === userCopy.id && !order.product.ignore_shift_restrictions);
                });
            },
            orders_with_shift_restrictions() {
                return this.orders.filter(function(order) {
                    return !order.product.ignore_shift_restrictions;
                });
            },
            orders_to_make() {
                return this.orders.filter(order => !order.ready);
            },
            orders_to_make_grouped() {
                let orders_to_make = {};
                this.orders_to_make.forEach(order => {
                    if (order.product.name in orders_to_make) {
                        orders_to_make[order.product.name].amount += 1;
                    } else {
                        orders_to_make[order.product.name] = {"product": order.product, "amount": 1};
                    }
                });
                return orders_to_make;
            },
            orders_ready() {
                return this.orders.filter(order => order.ready);
            },
            orders_ready_grouped() {
                let orders_ready = {};
                this.orders_ready.forEach(order => {
                    if (order.product.name in orders_ready) {
                        orders_ready[order.product.name].amount += 1;
                    } else {
                        orders_ready[order.product.name] = {"product": order.product, "amount": 1};
                    }
                });
                return orders_ready;
            },
            orders_grouped() {
                let orders_total = {};
                this.orders.forEach(order => {
                    if (order.product.name in orders_total) {
                        orders_total[order.product.name].amount += 1;
                    } else {
                        orders_total[order.product.name] = {"product": order.product, "amount": 1};
                    }
                });
                return orders_total;
            },
            orders_finished() {
                return this.orders.filter(order => order.ready && order.paid && order.type !== 1);
            },
            orders_to_process() {
                return this.orders.filter(order => !order.ready || !order.paid && order.type !== 1);
            },
            orders_scanned() {
                return this.orders.filter(order => order.type === 1);
            }
        },
        methods: {
            user_orders_with_product_id(productId) {
                return this.user_orders.filter(function(order) {
                    return order.product.id === productId;
                });
            },
            add_order(product) {
                this.addingOrder = true;
                fetch('{% url 'v1:orders_listcreate' shift=shift %}', {
                    method: 'POST',
                    body: JSON.stringify({
                        'csrfmiddlewaretoken': get_csrf_token(),
                        'product': product.id,
                        'type': 0,
                    }),
                    headers: {
                        "X-CSRFToken": get_csrf_token(),
                        "Accept": 'application/json',
                        "Content-Type": 'application/json',
                    }
                }).then(response => {
                    if (response.status === 201) {
                        return response.json();
                    } else {
                        throw response;
                    }
                }).then(() => {
                    tata.success('', `${product.name} ordered successfully`);
                }).catch(() => {
                    tata.error('', 'Order failed to submit')
                }).finally(() => {
                    Promise.all([
                        fetch('{% url "v1:product_list" shift=shift %}?orderable=True&available=True')
                            .then(response => response.json())
                            .then(json => {
                                this.products = json;
                            }),
                        fetch('{% url "v1:shift_retrieveupdate" pk=shift.id %}')
                            .then(response => response.json())
                            .then(json => {
                                this.shift = json;
                            }),
                        fetch('{% url "v1:orders_listcreate" shift=shift %}')
                            .then(response => response.json())
                            .then(json => {
                                {% if not admin %}
                                    json = json.filter(order => order.type === 0);
                                {% endif %}
                                this.orders = json;
                            })
                    ]).finally(() => {
                        this.addingOrder = false;
                    })
                });
            },
            order_to_bottom_of_list(order) {
                if (confirm("Are you sure you want to put this order on the bottom of the list? This can not be undone!")) {
                    fetch(
                        `/api/v1/shifts/{{ shift.id }}/orders/${order.id}/`,
                        {
                            method: 'PATCH',
                            headers: {
                                "X-CSRFToken": get_csrf_token(),
                                'Content-Type': 'application/json',
                                "Accept": 'application/json',
                            },
                            body: JSON.stringify({
                                'deprioritize': true,
                                'prioritize': false
                            })
                        }
                    ).then(response => {
                        if (response.status === 200) {
                            return response;
                        } else {
                            throw response;
                        }
                    }).then(() => {
                        if (typeof (update_refresh_list) !== 'undefined') {
                            update_refresh_list();
                            tata.success('', 'deprioritized successfully`);
                        }
                    }).catch(error => show_error_from_api(error));
                }
            },
            toggle_paid(order) {
                fetch(
                    `/api/v1/shifts/{{ shift.id }}/orders/${order.id}/`,
                    {
                        method: 'PATCH',
                        headers: {
                            "X-CSRFToken": get_csrf_token(),
                            "Accept": 'application/json',
                            "Content-Type": 'application/json',
                        },
                        body: JSON.stringify({
                            'paid': !order.paid
                        })
                    }
                ).then(response => {
                    if (response.status === 200) {
                        return response.json();
                    } else {
                        throw response;
                    }
                }).then(() => {
                    if (typeof (update_refresh_list) !== 'undefined') {
                        update_refresh_list();
                    }
                }).catch(error => show_error_from_api(error));
            },
            toggle_ready(order) {
                fetch(
                    `/api/v1/shifts/{{ shift.id }}/orders/${order.id}/`,
                    {
                        method: 'PATCH',
                        headers: {
                            "X-CSRFToken": get_csrf_token(),
                            "Accept": 'application/json',
                            "Content-Type": 'application/json',
                        },
                        body: JSON.stringify({
                            ready: !order.ready
                        })
                    }
                ).then(response => {
                    if (response.status === 200) {
                        return response;
                    } else {
                        throw response;
                    }
                }).then(() => {
                    if (typeof (update_refresh_list) !== 'undefined') {
                        update_refresh_list();
                    }
                }).catch(error => show_error_from_api(error));
            },
            delete_order(order) {
                if (window.confirm('Do you want to delete this order?')) {
                    fetch(
                        `/api/v1/shifts/{{ shift.id }}/orders/${order.id}/`,
                        {
                            method: 'DELETE',
                            headers: {
                                "X-CSRFToken": get_csrf_token(),
                                "Accept": 'application/json',
                            }
                        }
                    ).then(response => {
                        if (response.status === 204) {
                            return response;
                        } else {
                            throw response;
                        }
                    }).then(() => {
                        if (typeof (update_refresh_list) !== 'undefined') {
                            update_refresh_list();
                        }
                        tata.success('', 'Order has been deleted.');
                    }).catch(error => show_error_from_api(error));
                }
            }
        }
    }).mount('#item-orders-{{ shift.id }}');

    function process_refreshed_order_data(data) {
        orders_vue_{{ shift.id }}.orders = data;
    }

    function process_refreshed_shift_data(data) {
        orders_vue_{{ shift.id }}.shift = data;
    }
</script>