<ul class="row w-100">
    <div class="col-auto col-lg-4 d-inline-flex">
        <p class="item-counter">${ index + 1 }$.</p>
        <p class="item-name">${ order.product.name }$ (€${ (Math.round(order.order_price * 100) /
        100).toFixed(2) }$)</p>
        <i v-if="order.product.icon !== null" :class="`fa-solid fa-${order.product.icon} item-icon`"></i>
    </div>
    <div class="col col-lg-5 d-inline-flex" style="min-width: 0">
        <div class="ms-auto"></div>
        <p v-if="order.user !== null" class="text-truncate" style="min-width: 0">
              <i v-if="order.user !== null && {{ user.id }} === order.user.id"
               class="fa-solid fa-user fa-xs"></i>
              ${ order.user.first_name }$ ${ order.user.last_name }$
        </p>
        <p><a target="_blank" :href="`{% url 'admin:orders_order_changelist' %}${order.id}/change/`"><i class="fa-solid fa-pen-to-square fa-xs text-white"></i></a></p>
    </div>
    <div v-if="!shift.finalized" class="col-12 col-lg-3 d-inline-flex gap-2">
        <!-- <i v-if="order.deprioritize" class="col fa-solid fa-arrow-down-short-wide" style="font-size: 1.5em; color: transparent;" disabled></i> -->
        <!-- <i v-else class="col fa-solid fa-arrow-down-short-wide" style="font-size: 1.5em; cursor: pointer;" v-on:click="order_to_bottom_of_list(order)"></i> -->
<!-- 
        <button v-if="order.deprioritize" type="button" class="btn col" style="color: transparent;" disabled></button>
        <button v-else type="button" class="btn col btn-warning" v-on:click="order_to_bottom_of_list(order)">
            <i class="fa-solid fa-arrow-down-short-wide" style="font-size: 1.5em; cursor: pointer;"></i></button> 
-->
        <button v-if="order.paid" type="button" class="checkbox-paid btn col btn-success"
            v-on:click="toggle_paid(order)">Paid <i class="fa-regular fa-circle-check"></i></button>
        <button v-else type="button" class="checkbox-paid btn col btn-danger"
            v-on:click="toggle_paid(order)">Paid <i class="fa-regular fa-circle-xmark"></i></button>

        <button v-if="order.ready" type="button" class="checkbox-ready btn col btn-success"
            v-on:click="toggle_ready(order)">Ready <i class="fa-regular fa-circle-check"></i></button>
        <button v-else type="button" class="checkbox-ready btn col btn-danger"
            v-on:click="toggle_ready(order)">Ready <i class="fa-regular fa-circle-xmark"></i></button>
    </div>
</ul>