{% extends 'tosti/base.html' %}
{% load static %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'orders/css/item-list.css' %}"/>
    <link rel="stylesheet" href="{% static 'tosti/css/index.css' %}"/>
{% endblock %}

{% block page %}
    <div class="container-sm mb-5 text-center">
        <h1>{{ shift.venue.name }}</h1>
        <h3>
            shift #{{ shift.pk }}
            {% if shift.assignees %}
                -
                {% for assignee in shift.get_assignees %}
                    {{ assignee.get_short_name }}{% if not forloop.last %}, {% endif %}
                {% endfor %}
            {% else %}
             - No assignees
            {% endif %}
        </h3>
        <p>Shift open from {{ shift.start_date }} until {{ shift.end_date }}</p>
        {% if already_ordered %}
            <div class="btn-ml btn-on" onclick="window.location.href = '{% url "orders:shift_overview" shift=shift %}';">
                <h4>You have already ordered items</h4>
                <i class="fas fa-arrow-left"></i>
                <p>Back to overview</p>
            </div>
            <p>Or order more items below</p>
        {% else %}
            <p>Order your items below</p>
        {% endif %}
        <p class="alert-danger" id="update-error"></p>
        {% if error %}
            <p class="alert-danger">{{ error }}</p>
        {% endif %}
        <div id="product-list">
        </div>
    </div>
    <div class="container-sm text-center pb-5">
        <h1>Items in cart</h1>
        <p>Manage the items in your cart below</p>
        <div id="order-list">
        </div>
        <form method="POST">
            {% csrf_token %}
            <input type="submit" value="Order" class="btn btn-success" id="order-button" style="display: none"/>
        </form>
    </div>
{% endblock %}

{% block js %}
    <script>
        const PRODUCT_CONTAINER = document.getElementById('product-list');
        const ORDER_CONTAINER = document.getElementById('order-list');
        const UPDATE_URL = "{% url 'orders:product_list' shift=shift %}";
        const CART_COOKIE_NAME = "cart_{{ shift.id }}";
        const ORDER_BUTTON = document.getElementById('order-button');
        const ERROR_CONTAINER = document.getElementById('update-error');
        const CSRF_TOKEN = "{{ csrf_token }}";
    </script>
    <script src="{% static 'orders/js/asynch-order-orders.js' %}"></script>
{% endblock %}