{% load static %}

{% if not refresh %}
    <div class="container-sm" id="order-container">
{% endif %}
    <h1>Orders</h1>
    <div id="item-orders">
        <ul class="item-orders">
            {% for order in shift.orders %}
                <li class="pt-2 pb-2 item-list">
                    <div class="information-row">
                        <p class="item-counter">{{ forloop.counter }}.</p>
                        <i class="fas fa-{{ order.product.icon }} item-icon"></i>
                        <p class="item-username">{{ order.user }}</p>
                        {% if user == order.user %}
                            <i class="fas fa-user user-icon"></i>
                        {% endif %}
                    </div>
                    <div class="button-row">
                        {% if admin %}
                            <input type="button" class="checkbox-paid btn mr-2 {% if order.paid %}btn-success{% else %}btn-danger{% endif %}" onclick="update_order(this, {{ order.id }}, 'paid', update_checkbox);" value="Paid"/>
                            <input type="button" class="checkbox-ready btn {% if order.ready %}btn-success{% else %}btn-danger{% endif %}" onclick="update_order(this, {{ order.id }}, 'ready', update_checkbox);" value="Ready"/>
                        {% else %}
                            {% if order.user == user %}
                                {% if order.ready and order.paid %}
                                    <div class="status-button mr-2 bg-success text-white">Done</div>
                                {% elif order.ready and not order.paid %}
                                    <div class="status-button mr-2 bg-warning">Done</div>
                                {% elif not order.ready and order.paid %}
                                    <div class="status-button mr-2 bg-warning">Processing</div>
                                {% else %}
                                    <div class="status-button mr-2 bg-danger text-white">Not payed</div>
                                {% endif %}
                            {% else %}
                                {% if order.ready %}
                                    <div class="status-button mr-2 bg-success text-white">Done</div>
                                {% else %}
                                    <div class="status-button mr-2 bg-warning">Processing</div>
                                {% endif %}
                            {% endif %}
                        {% endif %}
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>
    {% if not admin %}
        {% if shift.is_active and shift.can_order %}
            <div class="btn-ml btn-on" onclick="window.location.href = '{% url "orders:order" shift=shift %}';">
                <h2>Order items</h2>
                <p>Click to order items</p>
            </div>
        {% else %}
            <div class="btn-ml btn-off">
                <h2>Order items</h2>
                <p>This shift is closed</p>
            </div>
        {% endif %}
    {% endif %}
{% if not refresh %}
    </div>
{% endif %}

{% if not refresh %}
    <link rel="stylesheet" href="{% static 'orders/css/item-list.css' %}"/>
    <script>
        const ORDER_CONTAINER = document.getElementById('order-container');
        const ORDER_CSRF_TOKEN = "{{ csrf_token }}";
        const ORDER_REFRESH_URL = "{% url 'orders:shift_refresh_orders' shift=shift %}";
        {% if admin %}
            const ORDER_REFRESH_ADMIN = true;
            const ORDER_UPDATE_URL = "{% url 'orders:order_update' %}";
        {% else %}
            const ORDER_REFRESH_ADMIN = false;
        {% endif %}
    </script>
    <script src="{% static 'orders/js/asynch-update-orders.js' %}"></script>
    {% if admin %}
        <script src="{% static 'orders/js/asynch-alter-orders.js' %}"></script>
    {% endif %}
{% endif %}