<ul class="row w-100">
    <div class="col-auto d-inline-flex">
        <p class="item-counter"><% index + 1 %>.</p>
        <p class="item-name"><% order.product.name %> (€<% (Math.round(order.order_price * 100) /
        100).toFixed(2) %>)</p>
        <i v-if="order.product.icon !== null" :class="`fa-solid fa-${order.product.icon} item-icon`"></i>
    </div>
    <div class="col d-inline-flex" style="min-width: 0">
        <div class="ms-auto"></div>
        <p v-if="order.user !== null" class="text-truncate" style="min-width: 0">
              <i v-if="order.user !== null && {{ user.id }} === order.user.id"
               class="fa-solid fa-user fa-xs"></i>
              <% order.user.first_name %> <% order.user.last_name %>
       </p>
       <p><a target="_blank" :href="`/admin/orders/order/${order.id}/change/`"><i class="fa-solid fa-pen-to-square fa-xs text-white"></i></a></p>
    </div>
    <div v-if="!shift.finalized" class="col-xs-12 col-md-auto d-inline-flex gap-2">
           <input v-if="order.paid" type="button" class="checkbox-paid btn col btn-success"
                  v-on:click="toggle_paid(order)"
                  value="Paid"/>
           <input v-else type="button" class="checkbox-paid btn col btn-danger"
                  v-on:click="toggle_paid(order)"
                  value="Paid"/>
           <input v-if="order.ready" type="button" class="checkbox-ready btn col btn-success"
                  v-on:click="toggle_ready(order)"
                  value="Ready"/>
           <input v-else type="button" class="checkbox-ready btn col btn-danger"
                  v-on:click="toggle_ready(order)"
                  value="Ready"/>
       </div>
</ul>