{% load static %}

{% if not refresh %}
    <div class="container-sm mb-2 text-center" id="header-container-{{ shift.id }}">
{% endif %}
<h1>{{ shift.venue.venue.name }}</h1>
<p class="my-4 mx-auto" style="font-size: 1rem; max-width: 400px;">
    shift #{{ shift.pk }}
    {% if shift.get_assignees %}
        -
        {% for assignee in shift.get_assignees %}
            {{ assignee.get_short_name }}{% if not forloop.last %}, {% endif %}
        {% endfor %}
    {% else %}
     - No assignees
    {% endif %}
    - {{ shift.number_of_orders }}/{{ shift.max_orders_total }} - {{ shift.start_date }} until {{ shift.end_date }}
</p>
{% if not shift.can_order %}
    <p class="alert alert-danger"><i class="far fa-hand-paper"></i><br>This shift does not accept orders at this moment.</p>
{% endif %}
{% if not refresh %}
    </div>
{% endif %}

{% if not refresh %}
    <script>
        add_update_list(update_and_replace, ["{% url 'orders:shift_refresh_header' shift=shift %}", document.getElementById('header-container-{{ shift.id }}'), {}]);
    </script>
{% endif %}