{% extends 'tosti/sidebar.html' %}
{% load static order_now %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'orders/css/order-list.css' %}"/>
    <link rel="stylesheet" href="{% static 'orders/css/item-list.css' %}"/>
    <link rel="stylesheet" href="{% static 'tosti/css/index.css' %}"/>
{% endblock %}

{% block content %}
    <div class="container-sm mb-5 text-center">
        {% render_order_header shift %}
    </div>
    <div class="container-sm mb-5 text-center">
        <p>Order your items below</p>
        <p style="display: none" class="alert alert-danger" id="update-error"></p>
        {% if error %}
            <p class="alert alert-danger">{{ error }}</p>
        {% endif %}
        <div id="product-list">
        </div>
    </div>
{% endblock %}

{% block sidebar %}
    <div class="container-sm text-center pb-5">
        <h2>Selected items</h2>
        <p>Manage the items in your cart</p>
        <div id="order-list">
        </div>
        <form method="POST">
            {% csrf_token %}
            <input type="submit" value="Place order" class="btn-on btn-ml" id="order-button" style="display: none"/>
        </form>
    </div>
{% endblock %}

{% block page-footer %}
    <a href="{% url "orders:shift_overview" shift=shift %}">
        <div class="btn-ml btn-on">
            <h5><i class="fas fa-arrow-left"></i> Back to overview</h5>
        </div>
    </a>
{% endblock %}

{% block js %}
    <script>
        const PRODUCT_CONTAINER = document.getElementById('product-list');
        const ORDER_CONTAINER = document.getElementById('order-list');
        const UPDATE_URL = "{% url 'orders:product_list' shift=shift %}";
        const CART_COOKIE_NAME = "cart_{{ shift.id }}";
        const ORDER_BUTTON = document.getElementById('order-button');
        const ERROR_CONTAINER = document.getElementById('update-error');
        const CSRF_TOKEN = "{{ csrf_token }}";
    </script>
    <script src="{% static 'orders/js/asynch-order-orders.js' %}"></script>
{% endblock %}