{% extends 'tosti/sidebar.html' %}
{% load static order_now %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'orders/css/order-list.css' %}"/>
    <link rel="stylesheet" href="{% static 'orders/css/item-list.css' %}"/>
    <link rel="stylesheet" href="{% static 'tosti/css/index.css' %}"/>
{% endblock %}

{% block content %}
    <div class="container-sm mb-5 text-center">
        <div class="container-sm mb-2 text-center" id="header-container-{{ shift.id }}">
            <h1>{{ shift.venue.venue.name }}</h1>
            <p class="my-4 mx-auto" style="font-size: 1rem; max-width: 400px;">
                shift #{{ shift.pk }} - <% shift.amount_of_orders %>/<% shift.max_orders_total %> - <% shift.start_date %> until <% shift.end_date %><br>
                <template v-if="shift.assignees && shift.assignees.length > 0">
                    At your service:
                    <template v-for="(assignee, index) in shift.assignees">
                        <% assignee %>
                        <template v-if="index !== shift.assignees.length-1">, </template>
                    </template>
                </template>
                <template v-else>
                    No assignees
                </template>
            </p>
        </div>
    </div>
    <div class="container-sm mb-5 text-center">
        <p>Order your items below</p>
        <p style="display: none" class="alert alert-danger" id="update-error"></p>
        {% if error %}
            <p class="alert alert-danger">{{ error }}</p>
        {% endif %}
        <div id="product-list">
            <ul v-if="get_restricted_products(products).length > 0" class="order-list">
                <li v-for="product in get_restricted_products(products)" class="order-item pt-2 pb-2 mt-2 mb-2">
                    <i v-if="product.icon" :class="`fas fa-${product.icon}`"></i>
                    <p class="order-name"><% product.name %></p>
                    <p class="item-price"><% product.current_price %></p>
                    <div v-if="product.max_allowed !== null && get_amount_of_item_orders(product.id) >= product.max_allowed" class="item-overlay">
                        <p class="alert alert-warning">You have ordered the maximum of this item.</p>
                    </div>
                    <input class="btn btn-success ml-2" type="button" value="Add" :onclick="`add_product(${product.id});`"/>
                </li>
                <li v-if="shift.max_user_orders !== null && get_amount_of_restricted_cart_items() >= shift.max_user_orders" class="item-overlay">
                    <p class="alert alert-warning">You have ordered the maximum amount of orders you can place this shift.</p>
                </li>
            </ul>
            <ul v-if="get_unrestricted_products(products).length > 0" class="order-list">
                <li v-for="product in get_unrestricted_products(products)" class="order-item pt-2 pb-2 mt-2 mb-2">
                    <i v-if="product.icon" :class="`fas fa-${product.icon}`"></i>
                    <p class="order-name"><% product.name %></p>
                    <p class="item-price"><% product.current_price %></p>
                    <input class="btn btn-success ml-2" type="button" value="Add" :onclick="`add_product(${product.id});`"/>
                </li>
            </ul>
            <p v-if="products.length === 0" class="alert alert-warning">There are no products you can order.</p>
        </div>
    </div>
{% endblock %}

{% block sidebar %}
    <div class="container-sm text-center pb-5">
        <h2>Selected items</h2>
        <p>Manage the items in your cart</p>
        <div id="order-list">
            <ul v-if="cart.length > 0" class="order-list">
                <li v-for="item in cart" class="order-item">
                    <i v-if="item.icon" :class="`fas fa-${item.icon}`"></i>
                    <p class="order-name"><% item.name %></p>
                    <input class="btn btn-danger ml-2" type="button" value="Remove" :onclick="`delete_product(${item.id});`"/>
                </li>
            </ul>
            <p v-else class='alert alert-warning'>There are no items in your cart.</p>
        </div>
        <div v-show="cart.length > 0" class="btn-on btn-ml" id="order-button" onclick="vue.loading = true; post_and_callback_with_error('{% url "v1:shifts_cart_order" shift=shift %}', {cart: vue.cart.map(product => product.id)}, order_callback, order_error_callback);">Place order</div>
    </div>
{% endblock %}

{% block page-footer %}
    <a href="{% url "orders:shift_overview" shift=shift %}">
        <div class="btn-ml btn-on">
            <h5><i class="fas fa-arrow-left"></i> Back to overview</h5>
        </div>
    </a>
{% endblock %}

{% block js %}
    <script>
        const CART_COOKIE_NAME = "cart_{{ shift.id }}";
    </script>
    <script src="{% static 'orders/js/asynch-order-orders.js' %}"></script>
    <script>
        let vue = new Vue({
            el: '#page-container',
            delimiters: ['<%', '%>'],
            data: {
                products: [],
                shift: {},
                cart: [],
                loading: false,
            },
            created() {
                fetch('{% url "v1:product_list" shift=shift %}')
                    .then(response => response.json())
                    .then(json => {
                        json = json.filter(product => product.orderable);
                        this.products = json;
                    });
                 fetch('{% url "v1:shift_retrieveupdate" pk=shift.id %}')
                    .then(response => response.json())
                    .then(json => {
                        this.shift = json;
                    });
                 this.cart = get_cart_list();
            },
            mounted() {

            }
        });
        add_update_list(get_and_callback, ["{% url "v1:shift_retrieveupdate" pk=shift.id %}", {}, function(data) {vue.shift = data}]);
    </script>
{% endblock %}