{% load static %}

<link rel="stylesheet" href="{% static 'orders/css/transaction-popup.css' %}"/>

<div id="transaction-wrapper-{{ shift.id }}">
    <div class="modal" id="transaction-popup">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header" style="border-bottom: 0">
                    <h2 class="mb-0">Transaction administration</h2>
                </div>
                <div class="modal-body">
                    <template v-if="account !== null">
                        <p class="mb-0">User: <% account.user.display_name %><br>
                            Current balance: <span :class="{'updated-text': textUpdated}"><% formatPrice(account.balance) %></span>
                        </p>
                        <template v-if="!transactionAdded">
                            <hr>
                            <h3>Add a transaction</h3>
                            <div class="mb-2">
                                <div class="d-flex justify-content-center align-items-center w-100">
                                    <button v-on:click="addTransactionAmount(-0.15)" class="btn btn-danger flex-grow-1 m-1">- <% formatPrice(0.15) %></button>
                                    <button v-on:click="addTransactionAmount(0.15)" class="btn btn-success flex-grow-1 m-1">+ <% formatPrice(0.15) %></button>
                                </div>
                                <div class="d-flex justify-content-center align-items-center w-100">
                                    <button v-on:click="addTransactionAmount(-1)" class="btn btn-danger flex-grow-1 m-1">- <% formatPrice(1) %></button>
                                    <button v-on:click="addTransactionAmount(1)" class="btn btn-success flex-grow-1 m-1">+ <% formatPrice(1) %></button>
                                </div>
                            </div>
                            <label for="transaction-amount">
                                Transaction amount
                            </label>
                            <input v-model="transactionAmount" type="number" id="transaction-amount" class="container-fluid form-control form-control-lg mb-2" step=".01"/>
                            <button v-if="loading" class="w-100 btn btn-primary disabled">Add transaction <span class="loader"></span></button>
                            <button v-else-if="transactionAmount === 0 || (transactionAmount < 0 && transactionAmount * -1 > account.balance)" class="w-100 btn btn-primary disabled">Add transaction</button>
                            <button v-else v-on:click="addTransaction" class="w-100 btn btn-primary">Add transaction</button>
                        </template>
                        <div v-else class="d-flex justify-content-center">
                            <button class="btn btn-link add-another-transaction-button" v-on:click="transactionAdded = false">Add another transaction</button>
                        </div>
                    </template>
                    <template v-else>
                        <p class="alert alert-danger">
                            An error occurred while loading the user, please reload this page.
                        </p>
                    </template>
                </div>
                <div class="modal-footer" style="border-top: 0">
                    <button v-on:click="goBack()" type="button" class="btn btn-primary me-auto">Back</button>
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    const TRANSACTION_POPUP_MODAL_ID = "transaction-popup";
    let transaction_vue = new Vue({
        el: '#transaction-wrapper-{{ shift.id }}',
        delimiters: ['<%', '%>'],
        data: {
            account: null,
            transactionAmount: 0,
            loading: false,
            transactionAdded: false,
            textUpdated: false,
        },
        mounted() {
            //call function on hiding modal
            document.getElementById(TRANSACTION_POPUP_MODAL_ID).addEventListener('hidden.bs.modal', () => {
                this.account = null;
                this.transactionAmount = 0;
                this.loading = false;
                this.transactionAdded = false;
                this.textUpdated = false;
            });
        },
        methods: {
            goBack() {
                const transactionModal = bootstrap.Modal.getInstance(document.getElementById(TRANSACTION_POPUP_MODAL_ID));
                transactionModal.hide();
                const scannerModal = new bootstrap.Modal(document.getElementById(POPUP_MODAL_ID));
                scannerModal.show();
            },
            addTransactionAmount(amount) {
                this.transactionAmount = +(this.transactionAmount + amount).toFixed(2);
            },
            addTransaction() {
                this.loading = true;
                if (this.account === null) {
                    tata.error("", "Transaction could not be added because account was not loaded correctly, please reload this page.");
                    this.loading = false;
                    return;
                }
                else if (this.transactionAmount < 0 && this.transactionAmount * -1 > this.balance) {
                    tata.error("", "Transaction could not be added because user has insufficient balance.");
                    this.loading = false;
                    return;
                }
                else if (this.transactionAmount === 0) {
                    tata.error("", "A transaction with amount of 0 can not be added.");
                    this.loading = false;
                    return;
                }

                fetch('{% url 'v1:transaction_create' %}', {
                    method: 'POST',
                    body: JSON.stringify({
                        'csrfmiddlewaretoken': get_csrf_token(),
                        'account': this.account.id,
                        'amount': this.transactionAmount,
                        'description': "Manual transaction",
                    }),
                    headers: {
                        "X-CSRFToken": get_csrf_token(),
                        "Accept": 'application/json',
                        "Content-Type": 'application/json',
                    }
                }).then(response => {
                    if (response.status === 201) {
                        return response.json();
                    } else {
                        throw response;
                    }
                }).then((data) => {
                    tata.success('', "Transaction added successfully!");
                    this.account = data.account;
                    this.textUpdated = true;
                    this.transactionAdded = true;
                    this.transactionAmount = 0;
                }).catch(() => {
                    tata.error('', 'Failed to add transaction, please try again.')
                }).finally(() => {
                    this.loading = false;
                    setTimeout(this.unsetTextUpdated, 1000);
                });
            },
            unsetTextUpdated() {
                this.textUpdated = false;
            }
        }
    });
</script>