{% extends 'tosti/base.html' %}
{% load static %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'tosti/css/index.css' %}"/>
    <link rel="stylesheet" href="{% static 'orders/css/forms.css' %}"/>
    <link rel="stylesheet" href="{% static 'orders/css/item-list-admin.css' %}"/>
{% endblock %}

{% block page %}
    <div class="container-sm">
        <h1>{{ shift.venue.name }}</h1>
        <h3>
            shift #{{ shift.pk }}
            {% if shift.assignees %}
                -
                {% for assignee in shift.get_assignees %}
                    {{ assignee.first_name }}{% if not forloop.last %}, {% endif %}
                {% endfor %}
            {% else %}
             - No assignees
            {% endif %}
        </h3>
        <p>Shift open from {{ shift.start_date }} until {{ shift.end_date }}</p>
    </div>
    {% if user.is_staff %}
        <div class="container-sm">
            <div class="btn-ml btn-on bg-primary border-0 text-center" onclick="window.location.href = '{% url "orders:shift_admin" shift=shift %}';">
                <h5>Admin view</h5>
                <i class="fas fa-tools"></i>
            </div>
        </div>
    {% endif %}
    <div class="container-sm">
        <h1>Orders</h1>
        <p id="update-error" class="alert-danger"></p>
        <div id="item-orders">
        </div>
    </div>
    <div class="container-sm">
        <div class="btn-ml btn-on" onclick="window.location.href = '{% url "orders:order" shift=shift %}';">
            <h2>Order items</h2>
            <p>Click to order items</p>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script>
        const ITEM_CONTAINER = document.getElementById('item-orders');
        const ORDER_URL = "{% url 'orders:shift_status' shift=shift %}";
        const CSRF_TOKEN = "{{ csrf_token }}";
        const ORDER_UPDATE_URL = "{% url 'orders:order_update' %}";
        const ERROR_CONTAINER = document.getElementById('update-error');
    </script>
    <script src="{% static 'orders/js/asynch-update-orders.js' %}"></script>
{% endblock %}