{% load static %}

<link rel="stylesheet" href="{% static 'orders/css/admin-footer.css' %}"/>

<div id="admin-footer-wrapper-{{ shift.id }}" class="mt-auto page-footer">
    <!-- Admin footer -->
    <footer class="navbar navbar-expand-md" id="footer-container">
        <div class="container text-center">
            <div class="offcanvas offcanvas-bottom" tabindex="-1" id="footer-menu" aria-labelledby="footer-menu-label">
                <div class="offcanvas-header" style="background-color: var(--nav-background-color);">
                        <button type="button" class="btn-close btn-close-white ms-auto" data-bs-dismiss="offcanvas"
                                aria-label="Close"></button>
                </div>
                <div class="offcanvas-body" style="background-color: var(--nav-background-color);">
                    <div class="row flex-grow-1">
                        <template v-if="!shift.finalized">
                            <div class="col expand-mobile">
                                <div v-if="shift.can_order" :id="`shift-status-${shift.id}`"
                                     class="h-100 btn btn-success btn-ml m-auto"
                                     v-on:click="adjust_can_order(false)">
                                    <p class="font-footer flex-fixed footer-button-icon"><i class="fa-solid fa-hand"></i></p>
                                    <p class="font-footer footer-button-text">Allow/disallow</p>
                                </div>
                                <div v-else :id="`shift-status-${shift.id}`" class="h-100 btn btn-ml m-auto btn-danger"
                                     v-on:click="adjust_can_order(true)">
                                    <p class="font-footer flex-fixed footer-button-icon"><i class="fa-solid fa-hand"></i></p>
                                    <p class="font-footer footer-button-text">Allow/disallow</p>
                                </div>
                            </div>
                            <div class="col expand-mobile">
                                <div class="h-100 btn btn-ml btn-on m-auto"
                                     v-on:click="add_time()">
                                    <p class="font-footer flex-fixed footer-button-icon"><i class="fa-solid fa-clock"></i> + 5</p>
                                    <p class="font-footer footer-button-text">Extend time</p>
                                </div>
                            </div>
                            <div class="col expand-mobile">
                                <div class="h-100 btn btn-ml btn-on m-auto"
                                     v-on:click="add_capacity()">
                                    <p class="font-footer flex-fixed footer-button-icon"><i class="fa-solid fa-list"></i> + 5</p>
                                    <p class="font-footer footer-button-text">Add orders</p>
                                </div>
                            </div>
                            <div class="col expand-mobile">
                                <a target="_blank" :href="`{% url 'admin:orders_order_add' %}?shift=${shift.id}&prioritize=1`">
                                    <div class="h-100 btn btn-ml btn-on m-auto"
                                        v-on:click="">
                                        <p class="font-footer flex-fixed footer-button-icon"><i class="fa-solid fa-plus"></i></p>
                                        <p class="font-footer footer-button-text">Create an order</p>
                                    </div>
                                </a>
                            </div>
                            <div class="col expand-mobile">
                                <div class="h-100 btn btn-ml btn-on m-auto" data-bs-toggle="modal" data-bs-target="#scanner-popup">
                                    <p class="font-footer flex-fixed footer-button-icon"><i class="fa-solid fa-barcode"></i></p>
                                    <p class="font-footer footer-button-text">Barcode scanner</p>
                                </div>
                            </div>
                        </template>
                        <div class="col expand-mobile">
                            <a href="{% url "orders:shift_overview" shift=shift %}">
                                <div class="h-100 btn btn-ml btn-on m-auto w-100">
                                    <p class="font-footer flex-fixed footer-button-icon"><i class="fa-solid fa-users"></i></p>
                                    <p class="font-footer footer-button-text">Order page</p>
                                </div>
                            </a>
                        </div>
                        <div class="col expand-mobile">
                            <a href="{% url "admin:orders_shift_change" shift.id %}">
                                <div class="h-100 btn btn-ml btn-on m-auto w-100">
                                    <p class="font-footer flex-fixed footer-button-icon"><i class="fa-solid fa-cog"></i></p>
                                    <p class="font-footer footer-button-text">Settings</p>
                                </div>
                            </a>
                        </div>
                        <div v-if="!shift.finalized" class="col expand-mobile">
                            <div class="h-100 btn btn-ml m-auto btn-danger" style="cursor: pointer"
                                 v-on:click="finalize_shift()">
                                <p class="font-footer flex-fixed footer-button-icon"><i class="fa-solid fa-times-circle"></i></p>
                                <p class="font-footer footer-button-text">Finalize shift</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <button id="footer-toggler" class="navbar-toggler m-auto" style="border: 0" type="button"
                    data-bs-toggle="offcanvas"
                    data-bs-target="#footer-menu"
                    aria-controls="footer-menu">
                <i class="fa-solid fa-caret-up text-white"></i>
            </button>
        </div>
    </footer>
</div>

<script>
    let admin_footer_vue_{{ shift.id }} = new Vue({
        el: '#admin-footer-wrapper-{{ shift.id }}',
        delimiters: ['<%', '%>'],
        data: {
            orders: [],
            shift: {},
        },
        created() {
            fetch('{% url "v1:orders_listcreate" shift=shift %}')
                .then(response => response.json())
                .then(json => {
                    this.orders = json;
                });
            fetch('{% url "v1:shift_retrieveupdate" pk=shift.id %}')
                .then(response => response.json())
                .then(json => {
                    this.shift = json;
                });
            add_refresh_url("{% url "v1:orders_listcreate" shift=shift %}", process_refresh_order_footer_data);
            add_refresh_url("{% url "v1:shift_retrieveupdate" pk=shift.id %}", process_refresh_shift_footer_data);
        },
        watch: {
            shift: {
                handler(newValue, oldValue) {
                    if (newValue.finalized === true) {
                        remove_refresh_url("{% url "v1:orders_listcreate" shift=shift %}", process_refresh_order_footer_data);
                        remove_refresh_url("{% url "v1:shift_retrieveupdate" pk=shift.id %}", process_refresh_shift_footer_data);
                    }
                }
            }
        },
        methods: {
            adjust_can_order(can_order) {
                fetch(
                    '{% url "v1:shift_retrieveupdate" pk=shift.pk %}',
                    {
                        method: 'PATCH',
                        body: JSON.stringify({'can_order': can_order}),
                        headers: {
                            "X-CSRFToken": get_csrf_token(),
                            'Content-Type': 'application/json',
                            "Accept": 'application/json',
                        }
                    }
                ).then(response => {
                        if (response.status === 200) {
                            return response.json();
                        } else {
                            throw response;
                        }
                }).then(data => {
                    this.shift = data;
                    if (typeof (update_refresh_list) !== 'undefined') {
                        update_refresh_list();
                    }
                }).catch(error => show_error_from_api(error));
            },
            add_time() {
                fetch(
                    '{% url "v1:shifts_add_time" shift=shift %}',
                    {
                        method: 'PATCH',
                        headers: {
                            "X-CSRFToken": get_csrf_token(),
                            "Accept": 'application/json',
                        }
                    }
                ).then(response => {
                        if (response.status === 200) {
                            return response.json();
                        } else {
                            throw response;
                        }
                }).then(data => {
                    this.shift = data;
                    tata.success('', 'Added 5 minutes to the end of this shift');
                    if (typeof (update_refresh_list) !== 'undefined') {
                        update_refresh_list();
                    }
                }).catch(error => show_error_from_api(error));
            },
            add_capacity() {
                fetch(
                    '{% url "v1:shifts_add_capacity" shift=shift %}',
                    {
                        method: 'PATCH',
                        headers: {
                            "X-CSRFToken": get_csrf_token(),
                            "Accept": 'application/json',
                        }
                    }
                ).then(response => {
                        if (response.status === 200) {
                            return response.json();
                        } else {
                            throw response;
                        }
                }).then(data => {
                    this.shift = data;
                    tata.success('', 'Added 5 capacity to this shift');
                    if (typeof (update_refresh_list) !== 'undefined') {
                        update_refresh_list();
                    }
                }).catch(error => show_error_from_api(error));
            },
            finalize_shift() {
                if (confirm('Do you really want to finialize this Shift? Finalizing a Shift will make it read-only, this action can not be reverted!')) {
                    fetch(
                        '{% url "v1:shifts_finalize" shift=shift %}',
                        {
                            method: 'PATCH',
                            headers: {
                                "X-CSRFToken": get_csrf_token(),
                                "Accept": 'application/json',
                            }
                        }
                    ).then(response => {
                        if (response.status === 200) {
                            return response.json();
                        } else {
                            throw response;
                        }
                    }).then(data => {
                        this.shift = data;
                        tata.success('', 'Shift finalized succesfully');
                        if (typeof (update_refresh_list) !== 'undefined') {
                            update_refresh_list();
                        }
                    }).catch(error => show_error_from_api(error));
                }
            }
        }
    });

    function process_refresh_order_footer_data(data) {
        admin_footer_vue_{{ shift.id }}.orders = data;
    }

    function process_refresh_shift_footer_data(data) {
        admin_footer_vue_{{ shift.id }}.shift = data;
    }
</script>