{% extends 'tosti/base.html' %}
{% load static order_now %}

{% block page %}
    {% include 'orders/shift_header.html' with shift=shift %}
    <div class="container-sm" id="orders-container">
        {% if has_order_permissions and shift.is_active and shift.can_order %}
            <a href="{% url "orders:order" shift=shift %}">
                <div class="btn-ml btn-on">
                    <h4>Place your order</h4>
                    <p class="btn-note">Click to order items</p>
                </div>
            </a>
        {% else %}
            <div class="btn-ml btn-off">
                <h4>Place your order</h4>
                <p class="btn-note">
                    {% if not has_order_permissions %}
                        You can't place orders
                    {% elif not shift.is_active %}
                        This shift is closed
                    {% else %}
                        This shift does not accept orders currently
                    {% endif %}
                </p>
            </div>
        {% endif %}
        <div class="container">
            <hr>
        </div>
        {% include 'orders/order_list.html' with shift=shift admin=False user=user %}
    </div>
    <div class="container pt-5 pb-5"></div>
{% endblock %}

{% block footer %}
    {% if can_manage_shift and user not in shift.get_assignees %}
        <footer class="page-footer navbar navbar-expand-md fixed-bottom">
            <div class="container text-center">
                <div class="row flex-grow-1">
                    <div class="col">
                        <a href="{% url 'orders:shift_join' shift=shift %}">
                            <div class="btn-ml m-auto cursor-pointer btn-on">
                                <p class="font-footer"><i class="fas fa-sign-in-alt"></i> Join shift</p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </footer>
    {% elif can_manage_shift and user in shift.get_assignees %}
        <footer class="page-footer navbar navbar-expand-md fixed-bottom">
            <div class="container text-center">
                <div class="row flex-grow-1">
                    <div class="col">
                        <a href="{% url "orders:shift_admin" shift=shift %}">
                            <div class="btn-ml m-auto cursor-pointer btn-on" style="flex-grow: 0;">
                                <p class="font-footer"><i class="fas fa-sign-in-alt"></i> Shift admin</p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </footer>
    {% else %}
        {{ block.super }}
    {% endif %}
{% endblock %}