{% load static %}

<link rel="stylesheet" href="{% static 'orders/css/scanner.css' %}"/>
<link rel="stylesheet" href="{% static 'orders/css/search.css' %}"/>

<div id="scanner-wrapper-{{ shift.id }}">
    <div class="modal" id="scanner-popup">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header" style="border-bottom: 0">
                    <input v-model="search_input" type="text" placeholder="Scan barcode or search for a product" class="container-fluid form-control form-control-lg" id="product-search"/>
                </div>
                <div class="modal-body search-list py-0"  id="results">
                    <div class="row">
                        <template v-if="search_input !== ''">
                            <div v-if="search_results.length > 0" class="py-3" id="search-results">
                                <div v-for="product in search_results" class="search-item pb-2">
                                    <p class="search-item-name"><% product.name %></p>
                                    <p class="search-item-price"><% format_price(product.current_price) %></p>
                                    <input type="button" class="btn btn-success" v-on:click="add_order(product)" value="Add"/>
                                </div>
                            </div>
                            <div v-else id="search-results" class="py-3">
                                <div class="search-item">
                                    <p class="search-item-name">No products found</p>
                                </div>
                            </div>
                        </template>
                    </div>
                </div>
                <div class="modal-body d-flex justify-content-center p-0">
                    <div id="scanner"></div>
                </div>
                <div class="modal-footer" style="border-top: 0">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    const SCANNER_DATA_URL = "{% url 'v1:shifts_scanner' shift=shift %}";
</script>
<script src="https://webrtc.github.io/adapter/adapter-latest.js"></script>
<script src="{% static "orders/js/jsQR.js" %}"></script>
<script src="{% static "orders/js/quagga.js" %}"></script>
<script src="{% static "orders/js/admin-scanner.js" %}"></script>

<script>
    const POPUP_MODAL_ID = "scanner-popup";
    let scanner_vue = new Vue({
        el: '#scanner-wrapper-{{ shift.id }}',
        delimiters: ['<%', '%>'],
        data: {
            shift: {},
            search_results: [],
            search_input: "",
            typing_timer: null,
        },
        watch: {
            search_input: {
                handler(val, oldVal) {
                    clearTimeout(this.typing_timer);
                    if (this.search_input !== "") {
                        this.typing_timer = setTimeout(this.search, 200);
                    }
                }
            },
            shift: {
                handler(newValue, oldValue) {
                    if (newValue.finalized === true) {
                        remove_refresh_url("{% url "v1:shift_retrieveupdate" pk=shift.id %}", process_refresh_scanner_data);
                    }
                }
            }
        },
        created() {
            fetch('{% url "v1:shift_retrieveupdate" pk=shift.id %}')
                .then(response => response.json())
                .then(json => {
                    this.shift = json;
                });
            add_refresh_url("{% url "v1:shift_retrieveupdate" pk=shift.id %}", process_refresh_scanner_data);
        },
        mounted() {
            //call function on modal shown
            document.getElementById(POPUP_MODAL_ID).addEventListener('shown.bs.modal', () => {
                start_scanner();
            });

            //call function on hiding modal
            document.getElementById(POPUP_MODAL_ID).addEventListener('hidden.bs.modal', () => {
                stop_scanner();
            });
        },
        methods: {
            format_price(priceToFormat) {
                return new Intl.NumberFormat('nl-NL', {
                    style: 'currency',
                    currency: 'EUR',
                    currencyDisplay: "symbol"
                }).format(priceToFormat).trim();
            },
            add_order(product) {
                fetch(
                    "{% url "v1:orders_listcreate" shift=shift %}",
                    {
                        method: 'POST',
                        body: JSON.stringify({"product": product.id, "type": 1}),
                        headers: {
                            "X-CSRFToken": get_csrf_token(),
                            "Content-Type": 'application/json',
                            "Accept": 'application/json',
                        }
                    }
                ).then(response => {
                    if (response.status === 201) {
                        return response.json();
                    } else {
                        throw response;
                    }
                }).then(() => {
                    if (typeof (update_refresh_list) !== 'undefined') {
                        update_refresh_list();
                    }
                    let tablist = document.querySelector('#nav-orders-scanned-tab');
                    let tab = bootstrap.Tab.getOrCreateInstance(tablist);
                    tab.show();
                    let popupModal = bootstrap.Modal.getOrCreateInstance(document.getElementById(POPUP_MODAL_ID));
                    popupModal.hide();
                    scanner_vue.search_results = [];
                    scanner_vue.search_input = "";
                    tata.success("", "Order added to queue.");
                }).catch(error => {
                    show_error_from_api(error);
                }).finally(() => {
                    this.loading = false;
                });
            },
            search() {
                fetch(
                    `{% url 'v1:product_list' shift=shift %}?search=${this.search_input}&available=true`,
                    {
                        data: this.search_input,
                        headers: {
                            "X-CSRFToken": get_csrf_token(),
                        }
                    }
                ).then(response => {
                    if (response.status === 200) {
                        return response.json();
                    } else {
                        throw response;
                    }
                }).then(data => {
                    this.search_results = data;
                }).catch(error => show_error_from_api(error));
            }
        }
    });

    function process_refresh_scanner_data(data) {
        scanner_vue.shift = data;
    }
</script>