{% load static order_now %}

{% if not refresh %}
    <div class="container-sm" id="order-container-{{ shift.id }}">
{% endif %}

    {% if not admin %}
        {% render_place_order_button shift %}
    {% endif %}
    <div class="container">
    <hr>
    </div>

    <div id="item-orders">
        {% if shift.orders|length != 0 or admin %}
            <ul class="item-orders">
                {% for order in shift.orders %}
                    {% if admin or order.type == 0 %}
                        <li class="pt-2 pb-2 item-list">
                            <div class="information-row">
                                <p class="item-counter">{{ forloop.counter }}.</p>
                                {% if order.product.icon %}
                                    <i class="fas fa-{{ order.product.icon }} item-icon"></i>
                                {% else %}
                                    <p class="item-icon" style="margin-right: 5px;">{{ order.product.name }}</p>
                                {% endif %}
                                {% if order.user %}
                                    <p class="item-username">{{ order.user }}</p>
                                {% else %}
                                    <p class="item-username">
                                        <i class="fas fa-desktop"></i>
                                    </p>
                                {% endif %}
                                {% if user == order.user %}
                                    <i class="fas fa-user user-icon"></i>
                                {% endif %}
                            </div>
                            <div class="button-row">
                                {% if admin %}
                                    <input type="button" class="checkbox-paid btn mr-2 {% if order.paid %}btn-success{% else %}btn-danger{% endif %}" onclick="update_order('{% url "orders:order_update" order=order %}', this, 'paid', update_checkbox);" value="Paid"/>
                                    <input type="button" class="checkbox-ready btn {% if order.ready %}btn-success{% else %}btn-danger{% endif %}" onclick="update_order('{% url "orders:order_update" order=order %}', this, 'ready', update_checkbox);" value="Ready"/>
                                {% else %}
                                    {% if order.user == user %}
                                        {% if order.ready and order.paid %}
                                            <div class="status-button mr-2 bg-success text-white">Done</div>
                                        {% elif order.ready and not order.paid %}
                                            <div class="status-button mr-2 bg-warning">Done</div>
                                        {% elif not order.ready and order.paid %}
                                            <div class="status-button mr-2 bg-warning">Processing</div>
                                        {% else %}
                                            <div class="status-button mr-2 bg-danger text-white">Not paid</div>
                                        {% endif %}
                                    {% else %}
                                        {% if order.ready %}
                                            <div class="status-button mr-2 bg-success text-white">Done</div>
                                        {% else %}
                                            <div class="status-button mr-2 bg-warning">Processing</div>
                                        {% endif %}
                                    {% endif %}
                                {% endif %}
                            </div>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        {% else %}
            <div id="outer" class="container d-flex align-items-center justify-content-center text-center" style="height:200px;">
                <div id="inner">
                    Be the first to place an order...
                </div>
            </div>
        {% endif %}
    </div>
    {% if not admin %}
        <div class="container">
        <hr>
        </div>
    {% endif %}
{% if not refresh %}
    </div>
    <div class="container pt-5 pb-5"></div>
{% endif %}

{% if not refresh %}
    <link rel="stylesheet" href="{% static 'orders/css/item-list.css' %}"/>
    <script>
        add_update_list(update_and_replace,
            ["{% url 'orders:shift_refresh_orders' shift=shift %}",
                document.getElementById('order-container-{{ shift.id }}'),
                {"admin": {% if admin %}true{% else %}false{% endif %}}
            ]
        );
    </script>
    {% if admin %}
        <script src="{% static 'orders/js/asynch-alter-orders.js' %}"></script>
    {% endif %}
{% endif %}