<div class="container-sm mb-2 mt-5 text-center" id="shift-header-container-{{ shift.id }}">
    <h1>{{ shift.venue.venue.name }}</h1>
    <p class="my-4 mx-auto" style="font-size: 1rem; max-width: 400px;">
        shift #{{ shift.pk }} - ${ shift.amount_of_orders }$/${ shift.max_orders_total }$ - ${ start_end_time }$<br>
        <template v-if="shift.assignees && shift.assignees.length > 0">
            At your service:
            <template v-for="(assignee, index) in shift.assignees">
                ${ assignee.display_name }$<template v-if="index !== shift.assignees.length-1">, </template>
            </template>
        </template>
        <template v-else>
            No assignees
        </template>
    </p>
    <p v-if="shift.finalized" class="alert alert-danger"><i class="fa-solid fa-hand"></i> This shift is closed.</p>
    <p v-else-if="!shift.can_order" class="alert alert-danger"><i class="fa-solid fa-hand"></i> This shift does not accept orders at this moment.</p>
    <p v-else-if="!shift.is_active" class="alert alert-danger"><i class="fa-solid fa-hand"></i> This shift is not active.</p>
</div>

<script type="module">
    import { createApp } from 'vue';
    let shift_header_{{ shift.id }}_vue = createApp({
        delimiters: ['${', '}$'],
        data() {
            return {
                shift: {}
            }
        },
        computed: {
            start_end_time: function() {
                if (this.shift.start) {
                    const start = new Date(this.shift.start);
                    const end = new Date(this.shift.end);
                    const today_date = new Date();
                    if (start.getDate() === end.getDate() && start.getFullYear() === end.getFullYear() && start.getMonth() === end.getMonth()) {
                        if (start.getDate() === today_date.getDate() && start.getFullYear() === today_date.getFullYear() && start.getMonth() === today_date.getMonth()) {
                            return `${start.toLocaleTimeString([], {hour: '2-digit', minute:'2-digit'})} until ${end.toLocaleTimeString([], {hour: '2-digit', minute:'2-digit'})}`;
                        }
                        return `${start.toLocaleDateString()}, ${start.toLocaleTimeString([], {hour: '2-digit', minute:'2-digit'})} until ${end.toLocaleTimeString([], {hour: '2-digit', minute:'2-digit'})}`;
                    }
                    if (start.getDate() === today_date.getDate() && start.getFullYear() === today_date.getFullYear() && start.getMonth() === today_date.getMonth()) {
                        return `${start.toLocaleTimeString([], {hour: '2-digit', minute:'2-digit'})} until ${end.toLocaleDateString()}, ${end.toLocaleTimeString([], {hour: '2-digit', minute:'2-digit'})}`;
                    }
                    return `${start.toLocaleDateString()}, ${start.toLocaleTimeString([], {hour: '2-digit', minute:'2-digit'})} until ${end.toLocaleDateString()}, ${end.toLocaleTimeString([], {hour: '2-digit', minute:'2-digit'})}`;
                }
                return "";
            },
        },
        created() {
             fetch('{% url "v1:shift_retrieveupdate" pk=shift.id %}')
                .then(response => response.json())
                .then(json => {
                    this.shift = json;
                });
            add_refresh_url("{% url "v1:shift_retrieveupdate" pk=shift.id %}", refresh_shift_header_data);
        },
        watch: {
            shift: {
                handler(newValue, oldValue) {
                    if (newValue.finalized === true) {
                        remove_refresh_url("{% url "v1:shift_retrieveupdate" pk=shift.id %}", refresh_shift_header_data);
                    }
                }
            }
        },
    }).mount('#shift-header-container-{{ shift.id }}');

    function refresh_shift_header_data(data) {
        shift_header_{{ shift.id }}_vue.shift = data;
    }
</script>