{% extends 'tosti/base.html' %}
{% load static order_now %}

{% block page %}
    {% include 'orders/shift_header.html' with shift=shift %}

    {% include 'orders/shift_admin_scanner.html' with shift=shift %}
    <div class="container-sm">
        <div class="container">
            <hr>
        </div>
        {% include 'orders/order_list.html' with shift=shift admin=True user=user %}
    </div>
    <div class="container pt-5 pb-5"></div>
{% endblock %}

{% block footer %}
    {% include 'orders/shift_admin_footer.html' with shift=shift %}
{% endblock %}