{% extends 'tosti/base.html' %}
{% load static order_now %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'tosti/css/index.css' %}"/>
    <link rel="stylesheet" href="{% static 'orders/css/forms.css' %}"/>
{% endblock %}

{% block page %}
    {% render_order_header shift %}
    {% render_order_items shift user=request.user %}
{% endblock %}

{% block footer %}
    {% if user.is_staff and user not in shift.get_assignees %}
        <footer class="page-footer navbar navbar-expand-md fixed-bottom">
            <div class="container text-center">
                <div class="row flex-grow-1">
                    <div class="col">
                        <div class="btn-ml m-auto cursor-pointer btn-on" onclick="window.location.href = '{% url 'orders:shift_join' shift=shift %}';">
                            <i class="fas fa-sign-in-alt"></i>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    {% elif user.is_staff and user in shift.get_assignees %}
        <footer class="page-footer navbar navbar-expand-md fixed-bottom">
            <div class="container text-center">
                <div class="row flex-grow-1">
                    <div class="col">
                        <div class="btn-ml m-auto cursor-pointer btn-on" onclick="window.location.href = '{% url "orders:shift_admin" shift=shift %}';">
                            <i class="fas fa-tools"></i>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    {% else %}
        {{ block.super }}
    {% endif %}
{% endblock %}
