{% load static %}

<div id="transaction-wrapper-{{ shift.id }}">
    <div class="modal" id="transaction-popup">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header" style="border-bottom: 0">
                    <input v-model="search_input" type="text" placeholder="Search for a product" class="container-fluid form-control form-control-lg" id="product-search"/>
                </div>
                <div class="modal-body search-list py-0"  id="results">
                    <div class="row">
                        <template v-if="search_input !== ''">
                            <div v-if="search_results.length > 0" class="py-3" id="search-results">
                                <div v-for="product in search_results" class="search-item pb-2">
                                    <p class="search-item-name"><% product.name %></p>
                                    <p class="search-item-price"><% format_price(product.current_price) %></p>
                                    <input type="button" class="btn btn-success" v-on:click="add_order(product)" value="Add"/>
                                </div>
                            </div>
                            <div v-else id="search-results" class="py-3">
                                <div class="search-item">
                                    <p class="search-item-name">No products found</p>
                                </div>
                            </div>
                        </template>
                    </div>
                </div>
                <div class="modal-body d-flex justify-content-center p-0">
                    <div id="scanner"></div>
                </div>
                <div class="modal-footer" style="border-top: 0">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    let transaction_vue = new Vue({
        el: '#transaction-wrapper-{{ shift.id }}',
        delimiters: ['<%', '%>'],
        data: {
            orders: [],
            search_results: [],
            search_input: "",
            typing_timer: null,
            user: {},
        },
        watch: {
            search_input: {
                handler(val, oldVal) {
                    clearTimeout(this.typing_timer);
                    if (this.search_input !== "") {
                        this.typing_timer = setTimeout(this.search, 200);
                    }
                }
            },
        },
        created() {
        },
        mounted() {
        },
        methods: {
        }
    });
</script>