{% load static %}

{% if not refresh %}
    <div class="container">
        <button type="button" class="btn-ml btn-on mb-5" data-toggle="modal" data-target="#order-overview-popup">
            Summary
        </button>
    </div>
    <div class="modal" id="order-overview-popup">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="modal-title">Shift summary</h2>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body" id="order-overview-popup-list-{{ shift.id }}">
{% endif %}
    <h3>Orders to make</h3>
    {% if shift.products_open %}
        {% for item in shift.products_open %}
            <p class="mb-2" style="font-size: 1em;">{{ item.name }} <i class="fas fa-{{ item.icon }}"></i> x {{ item.amount }}</p>
        {% endfor %}
    {% else %}
        <p style="font-size: 1em;">No open products.</p>
    {% endif %}
    <div class="dropdown-divider"></div>
    <h3 class="mt-3">Orders made</h3>
    {% if shift.products_closed %}
        {% for item in shift.products_closed %}
            <p class="mb-2" style="font-size: 1em;">{{ item.name }} <i class="fas fa-{{ item.icon }}"></i> x {{ item.amount }}</p>
        {% endfor %}
    {% else %}
        <p style="font-size: 1em;">No ready products.</p>
    {% endif %}
    <div class="dropdown-divider"></div>
    <h3 class="mt-3">Orders total</h3>
    {% if shift.products_total %}
        {% for item in shift.products_total %}
            <p class="mb-2" style="font-size: 1em;">{{ item.name }} <i class="fas fa-{{ item.icon }}"></i> x {{ item.amount }}</p>
        {% endfor %}
    {% else %}
        <p style="font-size: 1em;">No products.</p>
    {% endif %}
{% if not refresh %}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
{% endif %}

{% if not refresh %}
    <script>
        add_update_list(update_and_replace, ["{% url 'orders:shift_refresh_product_overview' shift=shift %}", document.getElementById('order-overview-popup-list-{{ shift.id }}'), {}]);
    </script>
{% endif %}