{% extends 'tosti/base.html' %}
{% load static order_now %}

{% block page %}
    {% include 'orders/shift_header.html' with shift=shift %}

    {% include 'orders/shift_admin_scanner.html' with shift=shift %}
    {% include 'orders/shift_admin_transaction_modal.html' with shift=shift %}
    {% include 'orders/order_admin_list.html' with shift=shift user=user %}
    <div class="container pt-5 pb-5"></div>
{% endblock %}

{% block footer %}
    {% include 'orders/shift_admin_footer.html' with shift=shift %}
{% endblock %}