{% extends 'tosti/base.html' %}
{% load static order_now %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'orders/css/forms.css' %}"/>
    <link rel="stylesheet" href="{% static 'tosti/css/index.css' %}"/>
    <link rel="stylesheet" href="{% static 'orders/css/item-list-admin.css' %}"/>
{% endblock %}

{% block page %}
    <div class="container-sm mb-5 text-center" id="header-container">
        {% render_order_header shift %}
    </div>
    <div class="container-sm">
        <p id="message-success" class="alert alert-success" style="display: none;"></p>
        <p id="message-error" class="alert alert-danger" style="display: none;"></p>
    </div>
    <div class="container-sm">
        <h1>Orders</h1>
        <div id="item-orders">
        </div>
    </div>
{% endblock %}

{% block footer %}
    {% render_admin_footer shift %}
{% endblock %}

{% block js %}
    <script>
        const ITEM_CONTAINER = document.getElementById('item-orders');
        const ORDER_URL = "{% url 'orders:shift_status' shift=shift %}";
        const CSRF_TOKEN = "{{ csrf_token }}";
        const ORDER_UPDATE_URL = "{% url 'orders:order_update' %}";
        const ERROR_CONTAINER = document.getElementById('message-error');
    </script>
    <script>
        const SUCCESS_CONTAINER = document.getElementById('message-success');
        const TOGGLE_SHIFT_URL = "{% url 'orders:shift_toggle' shift=shift %}";
        const ADD_TIME_URL = "{% url 'orders:shift_add_time' shift=shift %}";
        const ADD_CAPACITY_URL = "{% url 'orders:shift_add_capacity' shift=shift %}";
    </script>
    <script src="{% static 'orders/js/asynch-update-orders-admin.js' %}"></script>
    <script src="{% static 'orders/js/asynch-alter-shift-state.js' %}"></script>
{% endblock %}