{% load start_shift %}
{% if venues %}
    {% for next_venue in venues %}
        {% with next_venue.venue|currently_active_shift_for_venue as venue_shift %}
            {% if venue_shift %}
                <div class="btn-ml btn-on" onclick="window.location.href = '{% url 'orders:shift_join' shift=venue_shift %}';">
                    <p>Join shift at {{ next_venue.venue.name }}</p>
                </div>
            {% else %}
                <div class="btn-ml btn-on" onclick="window.location.href = '{% url 'orders:shift_create' venue=next_venue.venue%}';">
                    <p>Start shift at {{ next_venue.venue.name }}</p>
                </div>
            {% endif %}
        {% endwith %}
    {% endfor %}
{% endif %}
