<div class="row mb-5">
    <div class="col-6">
        <canvas id="ordered-items-chart" class="statistics-canvas"
            data-data="{{ ordered_items_distribution }}"
            data-title="Ordered items"
            data-chart-type="pie">
        </canvas>
    </div>
    <div class="col-6">
        <canvas id="orders-per-venue-chart" class="statistics-canvas"
            data-data="{{ orders_per_venue }}"
            data-title="Orders per venue"
            data-chart-type="pie">
        </canvas>
    </div>
</div>
