from .settings import *

SECRET_KEY = "***************"

DEBUG = False

ALLOWED_HOSTS = ['tosti.science.ru.nl']

SESSION_COOKIE_SECURE = True


# Databases
# https://docs.djangoproject.com/en/3.2/ref/databases/

DATABASES = {
    "default": {
        "ENGINE": "django.db.backends.mysql",
        "USER": "tosti_admin",
        "PASSWORD": "***************",
        "NAME": "tosti",
        "HOST": "mysql-tosti.science.ru.nl",
        "PORT": "3306",
    }
}


# Logging
# https://docs.djangoproject.com/en/3.2/topics/logging/

LOGGING = {
    'version': 1,
    'disable_existing_loggers': False,
    'handlers': {
        'file': {
            'level': 'ERROR',
            'class': 'logging.FileHandler',
            'filename': BASE_DIR.parent.parent / "logs" / 'django.log',
        },
    },
    'loggers': {
        'django': {
            'handlers': ['file'],
            'level': 'ERROR',
            'propagate': True,
        },
    },
}


# Email
# https://docs.djangoproject.com/en/3.2/topics/email/

EMAIL_BACKEND = 'django.core.mail.backends.smtp.EmailBackend'
EMAIL_HOST = "smtp.science.ru.nl"
EMAIL_PORT = 25
EMAIL_DEFAULT_SENDER = "webmaster@science.ru.nl"


# Static files (CSS, JavaScript, Images)
# https://docs.djangoproject.com/en/3.2/howto/static-files/

STATIC_ROOT = BASE_DIR.parent / "static"
STATIC_URL = "/static/"
MEDIA_ROOT = BASE_DIR.parent.parent / "writable" / "media"
MEDIA_URL = "/media/"


# GOOGLE ANALYTICS
GOOGLE_ANALYTICS_KEY = "***************"

# SPOTIFY
SPOTIFY_CACHE_PATH = "***************"

# TANTALUS
TANTALUS_ENDPOINT_URL = "***************"
TANTALUS_USERNAME = "***************"
TANTALUS_PASSWORD = "***************"
