{% extends 'tosti/base.html' %}
{% load static %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'users/css/centered-container.css' %}"/>
{% endblock %}

{% block page %}
    <div class="container-sm">
        <h1>Account</h1>
        <p>The details of your account are displayed below</p>
        <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item" style="padding-bottom: 0;">
                <a class="nav-link {% if active == "users" %}active{% endif %}" id="account-tab" href="{% url 'users:account' %}"
                    >Personal details</a>
            </li>
            {% for tab in tabs %}
                <li class="nav-item" style="padding-bottom: 0;"  role="presentation">
                    <a class="nav-link {% if active == tab.slug %}active{% endif %}" id="{{ tab.slug }}-tab" href="{% url 'users:account' %}?active={{ tab.slug }}"
                        >{{ tab.name }}</a>
                </li>
            {% endfor %}
        </ul>
        <div class="tab-content mt-5 mb-5">
            <div class="tab-pane show active">
                {% if rendered_tab is None %}
                    <div class="d-flex flex-row justify-content-center">
                        <div style="max-width: 400px">
                            <h2>Personal details</h2>
                            <form class="centered-form" method="POST">
                                {% csrf_token %}
                                {{ form }}
                                <input type="submit" value="Save" class="btn btn-primary"/>
                            </form>
                        </div>
                    </div>
                {% else %}
                     {{ rendered_tab }}
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
