{% extends 'tosti/account_base.html' %}
{% load static %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'users/css/centered-container.css' %}"/>
{% endblock %}

{% block tab_content %}
    <div class="tab-pane active mt-2" id="account-tab" role="tabpanel"
         aria-labelledby="account-tab">
        <div class="d-flex flex-row justify-content-center">
            <div style="max-width: 400px">
                <h2>Personal details</h2>
                <form class="centered-form" method="POST">
                    {% csrf_token %}
                    {{ form }}
                    <input type="submit" value="Save" class="btn btn-primary"/>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
