.announcement {
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--primary-shade);
    color: var(--primary-contrast);
    text-align: center;
    padding: 0.5rem 1rem;
}

.announcement .btn-close {
    color: var(--primary-contrast);
}

.announcement p {
    display: inline;
    margin: 0;
    color: var(--primary-contrast);
    font-size: 0.9rem;
    font-weight: bold;
}

.announcement a {
    color: var(--primary-contrast);
    text-decoration: underline;
}

.announcement a:hover {
    color: var(--primary-contrast-hover);
}

.announcement button {
    background-size: .6rem;
}