---

name: "Build Production Docker Image"
on:
  push:
    branches:
      - master

env:
  DOCKER_IMAGE: "docker.pkg.github.com/${{ github.repository }}/tosti-production:latest"

jobs:
  build-docker:
    name: "Build Docker image"
    runs-on: "ubuntu-latest"
    steps:
      - name: "Checkout the repository"
        uses: "actions/checkout@v1"

      - name: "Login to GitHub Packages"
        run: "echo \"${{ secrets.GITHUB_TOKEN }}\" | docker login https://docker.pkg.github.com --username ${{ github.repository_owner }} --password-stdin"

      - name: "Build Docker image"
        run: "docker build --build-arg commit_hash=\"${{ github.sha }}\" --tag \"${DOCKER_IMAGE}\" ."

      - name: "Push Docker image"
        run: "docker push ${DOCKER_IMAGE}"
