---

name: "Update documentation on GitHub Pages"
on:
  - push

jobs:
  docs:
    name: "Update documentation on GitHub Pages"
    runs-on: ubuntu-latest
    steps:

      - name: "Checkout the repository"
        uses: actions/checkout@v2

      - name: "Setup Python"
        uses: actions/setup-python@v1
        with:
          python-version: '3.7'

      - name: "Install Poetry"
        run: |
          python -m pip install --upgrade pip
          python -m pip install poetry

      - name: "Restore any cached Poetry dependencies"
        uses: actions/cache@v1
        with:
          path: ~/.cache/pypoetry/virtualenvs
          key: ${{ runner.os }}-poetry-${{ hashFiles('poetry.lock') }}
          restore-keys: |
            ${{ runner.os }}-poetry-

      - name: "Install any new dependencies"
        run: poetry install
        if: steps.cache.outputs.cache-hit != 'true'

      - name: "Build documentation"
        run: |
          cd docs
          poetry run make html

      - name: "Commit documentation changes"
        run: |
          cp -r docs/_build/html/* gh-pages/
          cd gh-pages
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action"
          git add .
          git commit -m "Update documentation" -a || true

      - name: "Push changes"
        uses: ad-m/github-push-action@master
        with:
          branch: gh-pages
          directory: gh-pages
          github_token: ${{ secrets.GITHUB_TOKEN }}
